---
layout: page
title: Archives
---

<div id="blog-archives">

{% for post in site.posts %}
  {% assign currentdate = post.date | date: "%Y" %}
  {% if currentdate != date %}
    <h2><li id="y{{currentdate}}">{{ currentdate }}</li></h2>
    {% assign date = currentdate %}
  {% endif %}
    {% if post.external-url %}
    	<h2>
    		<a href="{{ post.external-url }}">{{ post.title }}</a>
    		<a class="anchor" href="{{ post.url }}"><i class="icon-anchor"></i></a>
    	</h2>
    {% else %}
        <h2><a href="{{ post.url }}">{{ post.title }}</a>&nbsp;<span class="meta">(Publié le <span class="postdate">{{ post.date | date: "%b %d, %Y" }})</span></span></h2>
    {% endif %}
{% endfor %}

</div>
