---
layout: page
status: publish
published: true
title: Points génants avec le Dell Latitude E5400 sous Debian (Squeeze)
author:
  display_name: Low Memory
  login: fernando
  email: fernando@trankil.info
  url: ''
author_login: fernando
author_email: fernando@trankil.info
wordpress_id: 81
wordpress_url: http://blog.trankil.info/?page_id=81
date: '2015-12-22 21:16:29 +0100'
date_gmt: '2015-12-22 20:16:29 +0100'
categories: []
tags: []
comments: []
---
<p>Cette page recense tous les problèmes, soucis, et autres points gênants que j'ai rencontré :</p>
<ul>
<li><del>pas de bouton pour éteindre l'antenne wifi</del> (<a href="http://blog.trankil.info/post/2010/08/22/20100822debian-et-dell-e5400" hreflang="fr">voir ici</a><del></del>)</li>
</ul>
<ul>
<li><del>pas de bouton pour éteindre l'antenne bluetooth</del> (<a href="http://blog.trankil.info/post/2010/08/22/20100822debian-et-dell-e5400" hreflang="fr">voir ici</a><del></del>)</li>
</ul>
<ul>
<li><del>pas de retour de veille/hibernation quand la gestion de l'énergie (acpi) est activée</del> (<a href="http://blog.trankil.info/post/2010/08/24/20100824debian-et-dell-e5400-22-la-carte-graphique-et-le-multi-ecrans" hreflang="fr">voir les surprises ici</a>)</li>
</ul>
<ul>
<ul>
<li>gestion du multi-écran très (trop) lente avec le pilote graphique libre</li>
</ul>
</ul>
<ul>
<li><del>des icônes et fenêtres trop grandes quand il n'y a pas de multi-écran avec le pilote graphique privateur (nvidia)</del> (voir ici)</li>
</ul>
<ul>
<li><del>impossible d'écrire le point de suspension ( [ALT-GR]+? sur ma tour)<br />
</del>   aucun problème depuis mon passage à bépo</li>
</ul>
