---
layout: default
title: Memory Blog
---

{% for post in paginator.posts %}

	<article class="post">

		{% if post.external-url %}
			<h1>
				<a href="{{ post.external-url }}">{{ post.title }}</a>
				<a class="anchor" href="{{ post.url }}"><i class="icon-anchor"></i></a>
			</h1>
		{% else %}
			<h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
		{% endif %}

		<div class="post-content">{{ post.content }}</div>

	</article>

{% endfor %}



{% if paginator.total_pages > 1 %}
	<div class="postnavigation">

		{% if paginator.previous_page %}
			{% if paginator.page == 2 %}
				<a class="prev left" href="/">&larr; Plus récent</a>
			{% else %}
				<a class="prev left" href="/page{{paginator.previous_page}}/">&larr; Plus récent</a>
			{% endif %}
		{% else %}
			<span class="nope left">&larr; Plus récent</span>
		{% endif %}

		<span class="pages">Page {{ paginator.page }} of {{ paginator.total_pages }}</span>

		{% if paginator.next_page %}
			<a class="next right" href="/page{{paginator.next_page}}/">Plus ancien &rarr;</a>
		{% else %}
			<span class="nope right">Plus ancien &rarr;</span>
		{% endif %}

	</div>
{% endif %}
