---
layout: page
title: Liste des catégories
---

{% for category in site.data.categories %}
<li>
     <a href="/category/{{ category.file | slugify }}">
         {{ category.name }}
     </a>
</li>
{% endfor %}
