---
layout: page
status: publish
published: true
title: Ma liste aux Rois Mages et au Père Noël
author:
  display_name: Low Memory
  login: fernando
  email: fernando@trankil.info
  url: ''
author_login: fernando
author_email: fernando@trankil.info
wordpress_id: 79
wordpress_url: http://blog.trankil.info/?page_id=79
date: '2015-12-22 21:07:40 +0100'
date_gmt: '2015-12-22 20:07:40 +0100'
categories: []
tags: []
comments: []
---
<p>Cette page indique ce que l'on peut m'offrir pour me faire plaisir.</p>
<ul>
<li>des dés pour jouer à Brygandine (surtout des d100 et d6)</li>
<li>des supports en croix pour gazinière</li>
<li>une surprise</li>
<li>du chocolat</li>
<li>une grenouillère pyjama</li>
<li><a href="https://ko-fi.com/s/76d708952f">un coussin d'œil de dragon</a></li>
<li>Un tee-shirt de la Free Software Foundation Europe, par exemple leur <a href="https://fsfe.org/order/order.html?ref-frontpage#tshirt-nocloud-petrol">«&nbsp;There is no cloud&nbsp;»</a> ou leur <a href="https://fsfe.org/order/order.html?ref-frontpage#tshirt-hacking-4-freedom">«&nbsp;Hacking 4 freedom&nbsp;»</a></li>
<li>un abonnement à un média indépendant ou un autre (<a href="http://cqfd-journal.org/">CQFD</a>, <a href="http://www.lepostillon.org/">Le Postillon</a>, <a href="http://www.lagedefaire-lejournal.fr/">l'âge de faire</a>, <a href="http://www.monde-diplomatique.fr/">le Monde Diplomatique</a>, ou autres…)<del><a href="http://www.ladecroissance.net/">la décroissance</a></del></li>
<li>un jeu de société (sans avoir besoin de téléphone)</li>
<li>des caleçons longs à mettre sous le pantalon ou alors des pantalons d'hiver (des collants, quoi)</li>
<li>le livre du <a href="http://guide.boum.org/">Guide d'Autodéfense Numérique</a> (imprimé)</li>
<li>un abonnement à <a href="http://www.arretsurimages.net/">@rrêts Sur Images</a></li>
<li><del>le jeu de cartes <a href="http://www.lescontreesdujeu.fr/mascarade-carte-promo-c2x12452232">Mascarade</a> avec son <a href="http://www.lescontreesdujeu.fr/mascarade-extension-c2x14603460">extension</a></del></li>
<li><del>un album de <a href="http://www.bedetheque.com/albums-37239-BD-Elfes.html">la bande dessinée Elfe</a> (j'ai déjà les tomes 1 à 6)</del></li>
<li><del>un pantalon "étanche" pour faire du vélo sous la pluie sans se mouiller</del></li>
<li><del>un <a href="http://www.e-network.fr/disques-durs-ssd/c-371/?sort=aprice&amp;amp;f[s\]=1&amp;amp;f[m\]=&amp;amp;f[o9\]=255&amp;amp;f[o13\]=">disque dur SSD</a> (de 256Mo… ou plus !)</del></li>
<li><del>le jeu de société <a href="http://www.lescontreesdujeu.fr/escape-zombie-city-c2x15197593">Escape Zombie City</a></del></li>
<li><del>le livre <a href="http://www.puf.com/Autres_Collections:Droit_des_logiciels">Droit des logiciels</a></del></li>
<li><del>des petites machines Libres, notamment <a href="https://www.olimex.com/Products/OLinuXino/A13/A13-StarterKit-EU/">le kit de démarrage</a></del></li>
<li><del>des clés <a href="https://tehnoetic.com/tehnoetic-wireless-adapter-gnu-linux-libre-tet-n150">USB wifi Libres</a></del></li>
</ul>
