---
layout: post
status: publish
published: true
title: Yankee Land
author:
  display_name: Low Memory
  login: fernando
  email: fernando@trankil.info
  url: ''
author_login: fernando
author_email: fernando@trankil.info
wordpress_id: 39
wordpress_url: http://blog.trankil.info/?p=39
date: '2005-11-10 18:02:00 +0100'
date_gmt: '2005-11-10 18:02:00 +0100'
categories:
- ancien_blog
tags: []
comments: []
---
<p>Après avoir passé une semaine de travail (et quelques jours de "récupération") au Pays du Soleil Levant, ma mission professionnelle continue avec trois jours de formation à donner à un groupe d'une douzaine d'Etats-Uniens en Californie, près de San Francisco, à Roseville plus exactement.</p>
<p>Après quelques formalité administratives à la frontière (photo, empreintes de doigts et passage au scanner métallique manuel...), j'ai réussi à entrer dans le territoire et à trouver mon hôtel, le Marriot Inn avec...1 jour d'avance !<br />En fait, en passant de l'asie à l'amérique du nord, on traverse la ligne de changement de jour et je suis parti à 16h de Tokyo pour arriver à 14h à Roseville le même lundi 10 octobre !</p>
<p>J'en ai été le premier surpris ! Et c'est mon manager qui m'a fait réaliser mon erreur lorsqu'il m'a demandé ce que je faisais aux USA, vu que je ne devais arriver que mardi !
