---
layout: post
status: publish
published: true
title: Départ de Grenoble
author:
  display_name: Low Memory
  login: fernando
  email: fernando@trankil.info
  url: ''
author_login: fernando
author_email: fernando@trankil.info
wordpress_id: 21
wordpress_url: http://blog.trankil.info/?p=21
date: '2005-09-30 08:56:00 +0200'
date_gmt: '2005-09-30 08:56:00 +0200'
categories:
- ancien_blog
tags: []
comments: []
---
<p>Le voyage s'est bien passé.<br />    J'avais l'impression d'oublier quelque chose en faisant ma valise hier, et je sais pas trop ce que c'est (même si j'ai oublié des piles, j'en ai acheté à la gare de Grenoble...).<br />    Le matin avant de partir, je suis allé acheter 1 cable croisé et 1 prise pour les USA et le Japon (avec des fiches mâles plates). Il a quand même fallu que je fasse 2 magasins différents, le premier n'ayant plus que des cables croisés de 15 mètres ! =]<br />    J'ai lancé les téléchargements de mon PC sur celui du boulot et j'en ai profité pour aller filer le "dossier baraque" à Fif' (Juan m'avais filé toutes les infos hier dans la nuit).</p>
<p>    Le temps de terminer les téléchargements (le PC du boulot est plein de chez plein !), d'envoyer un mail de réservation pour vendredi et samedi soir (après avoir reçu un refus du premier <a href="http://en.wikipedia.org/wiki/Ryokan_inn">Ryoken</a>) et je suis parti.<br />    Direction la gare, 3/4 d'heures d'avance, ça gère.<br />11h00, le train pour Lyon Part Dieu se pointe. Après avoir pris place, la SNCF annonce qu'il y aura du retard : la motrice doit passer de devant à derrière (ou l'inverse) !<br />    Le train arrive à Lyon juste le temps pour moi de descendre sur le quai et de remonter sur le train d'en face (sans oublier la clope au milieu ;-) ) et hop, c'est parti pour Paris Charles De Gaulles.<br />    Je profite de ces trajets ferroviaires pour m'instruire sur les émotions avec le dernier Hors Série Science et Vie de Septembre 2005 (la neuro-physiologie [imagerie du cerveau] a bien progressé ! O_O ).</p>
<p>    A l'aéroport, l'avion n'est pas annoncé : j'ai trop d'avance ! \o/<br />    Après l'enregistrement, j'essaye de me connecter au réseau ADPTelecom, mais rien n'y fait : le serveur wifi veut pas me filer d'IP et l'ordinateur ne voit pas le cable réseau branché !<br />    Je demande à droite, à gauche et on me dit de demander à l'accueil des Aéroports de Paris (ADP). Le hic, c'est que j'ai déjà passé la douane. Motivé, je repasse donc le poste frontière comme si j'arrivais de Tombouctou, (le flic est surpris de voir un gars qui n'est pas parti passer la douane!) je vais voir l'accueil, ils sont au courant de presque rien. Pour le wifi, il faut une carte spéciale qu'on peut acheter, mais avec le cable, tout devrait fonctionner.<br />    Conclusion : pas de skype sur le pouce avec Boris. :-(</p>
<p>    J'en profite pour boire une bière en lisant le Citiz du Lonely Planet sur Tokyo. (Bien pratique ce guide.) On embarque (l'embarquement prévu pour 18h15 se fait à 18h45, mais l'avion est toujours "ON TIME" à l'affichage).<br />    Je tombe sur un des sièges du milieu à côté d'une bien sympathique japonaise.
