---
layout: post
status: publish
published: true
title: US way of life
author:
  display_name: Low Memory
  login: fernando
  email: fernando@trankil.info
  url: ''
author_login: fernando
author_email: fernando@trankil.info
wordpress_id: 38
wordpress_url: http://blog.trankil.info/?p=38
date: '2005-11-12 18:14:00 +0100'
date_gmt: '2005-11-12 18:14:00 +0100'
categories:
- ancien_blog
tags: []
comments: []
---
<p>J'ai été surpris en arrivant à l'hôtel de découvrir que j'étais dans une zone à risques chimiques :<br /><img style="width: 320px;" src="http://fernando.lagrange.free.fr/USA/20051013/Warning%20Chemical%20Area%20%21.JPG" /></p>
<p>Voici les photos de classes (mon manager est l'homme à la chemise orange, sur la gauche) :<br /><img style="width: 320px;" src="http://fernando.lagrange.free.fr/USA/20051014/Trainees%202.JPG" /></p>
<p>Cette photo montre plus l'intérêt des étudiants et l'ambiance générale du cours (je l'ai prise avant celle du dessus et sans prévenir, héhéhé ;-) ) :<br /><img style="width: 320px;" src="http://fernando.lagrange.free.fr/USA/20051014/Trainees%201.JPG" />
