---
layout: post
status: publish
published: true
title: Semaine de travail
author:
  display_name: Low Memory
  login: fernando
  email: fernando@trankil.info
  url: ''
author_login: fernando
author_email: fernando@trankil.info
wordpress_id: 14
wordpress_url: http://blog.trankil.info/?p=14
date: '2005-10-05 06:07:00 +0200'
date_gmt: '2005-10-05 06:07:00 +0200'
categories:
- ancien_blog
tags: []
comments:
- id: 21
  author: LowMemory
  author_email: fernando@no-log.org
  author_url: http://http://www.demo-tic.org
  date: '2012-03-03 17:10:44 +0100'
  date_gmt: '2012-03-03 17:10:44 +0100'
  content: |-
    <dl> <dt id="c112923560334202086"><span dir="ltr">Anonyme</span> a dit...</dt> </dl> <p>Tu t'es pas tropé? C'est objectif : Kamasutra!<br />
    HAHAHAHAhahahaha<br />
    Juan</p> <p class="comment-timestamp">jeudi 13 octobre 2005 22:33:00 UTC+02:00</p> <dl> <dt id="c112932456543228581" class="blog-author"><img src="http://www.blogger.com/img/blank.gif" class="comment-icon blogger-comment" alt="Blogger" /> <span dir="ltr"><a href="http://www.blogger.com/profile/06267089514959868741" rel="nofollow">Fernando</a></span> a dit...</dt> </dl> <p>C'est quoi ce commentaire scabreux ??<br />
    <br />
    Sinon, il répond pas à la question sur l'interrupteur e-blind ! :-)</p> <p class="comment-timestamp">vendredi 14 octobre 2005 23:16:00 UTC+02:00</p> <dl> <dt id="c112936495244724680"><img src="http://www.blogger.com/img/blank.gif" class="comment-icon anon-comment" alt="Anonyme" /> <span dir="ltr">Anonyme</span> a dit...</dt> </dl> <p>On essaie:<br />
    e-blind: allergique à bill gates<br />
    en effet: e-blind= aveugle avec explorer !<br />
    Une réponse sérieuse: aveugle au réseau (sans fil?) permettant une connexion ethernet (ou internet) c'est-à-dire il y a un mode d'éclairage de la salle spécifique pour faire du e-travail (avec les ordi) dans la salle!<br />
    Nique le champagne!!!!!<br />
    Juan</p> <p class="comment-timestamp">samedi 15 octobre 2005 10:29:00 UTC+02:00</p>
---
<p>La semaine passe très vite et je ne vois pas le jour !</p>
<p>Les élèves sont très disciplinés. Et n'osent pas poser beaucoup de questions (barrière de l'anglais ? habitude culturelle ? Who knows ?)<br />J'essaye de m'adapter en ne posant pas la question "Est-ce que vous avez un problème ?" mais "Puis-je vous aider à m'expliquer mieux ?".</p>
<p><img style="width:320px" src="http://fernando.lagrange.free.fr/Japon/Japan/20051007/OCMP%203.1%20TS%20Japan%20Attendees%201.JPG"></p>
<p>J'espère que j'ai pu leur apprendre le peu que je sais et surtout qu'ils ont pu essayer sur les machines de Grenoble tout ce qu'ils ne peuvent pas faire avec celles du Japon (qui sont pour les clients).</p>
<p>J'ai aussi prix un interrupteur qu'il y avait sur le mur : j'offre une bière à Grenoble au premier (ou à la première) qui commente correctement sa fontion. ^^<br /><img style="width:320px" src="http://fernando.lagrange.free.fr/Japon/Japan/20051007/E-blind%20button.JPG"></p>
<p>Heureusement, j'ai quelques échanges par mail avec Masami pour planifier le dimanche : Objectif Kamakura, ses temples et ses sanctuaires !
