---
layout: post
status: publish
published: true
title: Masami et Moi à Narita Airport (Tokyo)
author:
  display_name: Low Memory
  login: fernando
  email: fernando@trankil.info
  url: ''
author_login: fernando
author_email: fernando@trankil.info
wordpress_id: 20
wordpress_url: http://blog.trankil.info/?p=20
date: '2005-09-30 23:22:00 +0200'
date_gmt: '2005-09-30 23:22:00 +0200'
categories:
- ancien_blog
tags: []
comments: []
---
<p><a onblur="try {parent.deselectBloggerImageGracefully();} catch(e) {}" href="http://photos1.blogger.com/blogger/1968/1613/1600/Narita%20Airport%20%28with%20Misami%29.jpg"><img style="display:block; margin:0px auto 10px; text-align:center;cursor:pointer; cursor:hand;" src="http://photos1.blogger.com/blogger/1968/1613/320/Narita%20Airport%20%28with%20Misami%29.jpg" border="0" alt="" /></a>
