---
layout: post
status: publish
published: true
title: De l'aéroport à la capsule
author:
  display_name: Low Memory
  login: fernando
  email: fernando@trankil.info
  url: ''
author_login: fernando
author_email: fernando@trankil.info
wordpress_id: 18
wordpress_url: http://blog.trankil.info/?p=18
date: '2005-10-02 03:08:00 +0200'
date_gmt: '2005-10-02 03:08:00 +0200'
categories:
- ancien_blog
tags: []
comments: []
---
<p>Une fois suivies toutes les instructions de l'aubergiste, je sors du métro à Minowa Station.<br />Je demande alors mon chemin, mais je n'ai pas le plan qu'ils ont publié sur leur site, je suis toujours avec mes sacs, et la nuit est tombée !</p>
<p>Les personnes qui m'indiquent le chemin ont du mal à lire mon écriture en "patte-de-mouche" et je ne comprends pas très bien ce qu'ils m'expliquent !</p>
<p>Je fais alors d'instinct (mon sens de l'orientation mythique m'a toujours permis de me perdre sans que je le sache avant qu'il ne soit trop tard) et je prends un raccourcis par une rue couverte, éclairée et pleine de magasins allumés (poissons, fruits, boucherie, superrette, vêtements, jouets...)</p>
<p>Je sens que mon orientation a fait des siennes : je demande mon chemin. La gentille vendeuse à qui je demande me dit quelque chose et se part en courant... J'ai du mal à la suivre avec mes sacs, mais heureuseent, elle entre dans un magasin pas trop loin. Je pose mes sacs devant en attendant qu'elle ressorte. C'est un homme qui en sort et qui me demande (en anglais !) où je veux aller.<br />Je lui montre mon croquis (copie à la main du plan du site du Ondon Ryokan). Il me dit de me retaper toute la ru que je viens de faire, de prendre à droite au fond (d'où je viens) puis à gauche (encore mon point de départ) puis encore à gauche. Que c'est par là, et qu'il faut redemander une fois là-bas. On discute un peu et je reprends la route.</p>
<p>Arrivé au carrefour (false last) je vois 2 occidentaux (Rosi et Tim) avec un plan à la main (pratiquement tous les occidentaux ont des plans dans les mains, à Tokyo) et qui hésitent. Ils cherchent la même auberge que moi !<br />Avec le plan et nos trois cerveaux (les 4 bien faits, si, si, je vous jure !) on arrive en moins de 2.</p>
<p>L'aubergiste s'occupe de tous (je passe en dernier, vu que je ne reste pas dans l'auberge). Je discute avec Také, il hallucine sur le fait que je veuille aller dans un hôtel capsule (normalement utilisé par ceux qui ont trop fait la fête et ont loupé le dernier train) mais il comprend très bien ma curiosité et me facilite grandement la tâche.</p>
<p>Je téléphone depuis l'auberge, je réserver ma capsule en indiquant que j'arriverai à 23h (il est alors 19h40).<br />Také me file des plans, il s'occupe de mes bagages et je pars pour Asakusa pour diner et dormir.</p>
<p>Je dine de <a href="http://yayoi.free.fr/CUISINE/txt_CUIS/cuisine_1.html">tempuras</a> au restaurant Edokko (mais je ne suis pas sûr d'être allé au bon restaurant !) où seulement 2 canadiens sont en train de dîner.<br />Je me fait tout petit et mange en 4-4-2 (en 2-2 plutôt : très rapidement !).<br />Je sors, il est alors 20h50, j'ai le temps de trouver un internet café pour voir les nouvelles. Naïf comme je suis, je me dit que je trouverai bien internet quelque part, avec toutes ces lumières.</p>
<p>Après avoir tourné et retourné dans le quartier, rebelote : j'applique le stratagème du chauffeur de taxi : je demande mon chemin. La cassière du magasin me dit qu'elle ne sait pas où est-ce que je peux aller, mais que son boss il sait.<br />3 minutes après, son boss arrive (en costume-cravate) et on va se balader à nouveau dans les rues pleines de lumières (où j'étais !).<br />On entre dans un immeuble, on prend l'ascenseur jusqu'au niveau -2 et là je peux avoir 1 heure d'internet pour 400 yens.</p>
<p>J'envoi des nouvelle et me tient au courant de mon compte HP (je paye 500 yens : j'ai dépassé l'heure !).<br />Puis je pars pour le "Capsule Hôtel Riverside" (au 2ème étage).<br /><a onblur="try {parent.deselectBloggerImageGracefully();} catch(e) {}" href="http://fernando.lagrange.free.fr/Japon/Japan/10150929/Capsule%20Hotel%20Riverside%20%5bCHR%5d%20%28on%202nd%20Floor%29.JPG"><img style="margin: 0px auto 10px; display: block; text-align: center; cursor: pointer; width: 320px;" src="http://fernando.lagrange.free.fr/Japon/Japan/10150929/Capsule%20Hotel%20Riverside%20%5bCHR%5d%20%28on%202nd%20Floor%29.JPG" alt="" border="0" /></a></p>
<p>Et là, je suis super surpris. Les douches sont au 9ème étage, mais en fait, il n'y a pas de douches mais un sauna !</p>
<p><a onblur="try {parent.deselectBloggerImageGracefully();} catch(e) {}" href="http://fernando.lagrange.free.fr/Japon/Japan/10150929/CHR%20washing%20place%20+%20jakuzzi.JPG"><img style="margin: 0px auto 10px; display: block; text-align: center; cursor: pointer; width: 320px;" src="http://fernando.lagrange.free.fr/Japon/Japan/10150929/CHR%20washing%20place%20+%20jakuzzi.JPG" alt="" border="0" /></a><br />Donc, 10 minutes au sauna (à transpirer comme un jorkyball mais en maudissant le sablier qui ne s'écoule pas), gros savonnage et rinçage à l'eau froide. Puis plongeon dans la mega-baignoire/mini-piscine (au choix) qui est à ~99°C !</p>
<p><a onblur="try {parent.deselectBloggerImageGracefully();} catch(e) {}" href="http://fernando.lagrange.free.fr/Japon/Japan/10150929/CHR%20Bathtub%20+%20washing%20place.JPG"><img style="margin: 0px auto 10px; display: block; text-align: center; cursor: pointer; width: 320px;" src="http://fernando.lagrange.free.fr/Japon/Japan/10150929/CHR%20Bathtub%20+%20washing%20place.JPG" alt="" border="0" /></a><br />J'enchaîne avec 2 minutes de sauna et 1 minute sur la terrasse externe à 23h30 ! (le tout à oilpé).<br /><a onblur="try {parent.deselectBloggerImageGracefully();} catch(e) {}" href="http://fernando.lagrange.free.fr/Japon/Japan/10150929/CHR%20Bathtub%20+%20door%20to%20outside.JPG"><img style="margin: 0px auto 10px; display: block; text-align: center; cursor: pointer; width: 320px;" src="http://fernando.lagrange.free.fr/Japon/Japan/10150929/CHR%20Bathtub%20+%20door%20to%20outside.JPG" alt="" border="0" /></a><br />Eh ben, <span style="font-weight: bold; font-style: italic;">ça fait trop du bien !!</p>
<p></span>Là, j'ai pris les notes dans un carnet depuis l'intérieur de la capsule avec la télé des autres et leurs ronflements.<br /><a onblur="try {parent.deselectBloggerImageGracefully();} catch(e) {}" href="http://fernando.lagrange.free.fr/Japon/Japan/10250930/CHR%20Corridor.JPG"><img style="margin: 0px auto 10px; display: block; text-align: center; cursor: pointer; width: 320px;" src="http://fernando.lagrange.free.fr/Japon/Japan/10250930/CHR%20Corridor.JPG" alt="" border="0" /></a><br />Voici l'entrée de la caspule :<br /><a onblur="try {parent.deselectBloggerImageGracefully();} catch(e) {}" href="http://fernando.lagrange.free.fr/Japon/Japan/10150929/CHR%20_Room_%20entrance.JPG"><img style="margin: 0px auto 10px; display: block; text-align: center; cursor: pointer; width: 320px;" src="http://fernando.lagrange.free.fr/Japon/Japan/10150929/CHR%20_Room_%20entrance.JPG" alt="" border="0" /></a></p>
<p>J'entre juste en longueur (et je m'écroule de sommeil à 1h15 du matin).<br /><a onblur="try {parent.deselectBloggerImageGracefully();} catch(e) {}" href="http://fernando.lagrange.free.fr/Japon/Japan/10150929/CHR%20All%20the%20Place%20inside%20!.JPG"><img style="margin: 0px auto 10px; display: block; text-align: center; cursor: pointer; width: 320px;" src="http://fernando.lagrange.free.fr/Japon/Japan/10150929/CHR%20All%20the%20Place%20inside%20!.JPG" alt="" border="0" /></a><br />A 3 pieds pour le temple Sensô-ji !
