---
layout: post
status: publish
published: true
title: Recherche de lit pour les 3 premier jours
author:
  display_name: Low Memory
  login: fernando
  email: fernando@trankil.info
  url: ''
author_login: fernando
author_email: fernando@trankil.info
wordpress_id: 19
wordpress_url: http://blog.trankil.info/?p=19
date: '2005-09-30 23:24:00 +0200'
date_gmt: '2005-09-30 23:24:00 +0200'
categories:
- ancien_blog
tags: []
comments: []
---
<p>Malheureusement, Masami a une bague sur l'annulaire gauche ! :-(</p>
<p>Ne m'arrêtant pas à des détails matériels ;-) on arrête pas de discuter tout le long du voyage. Elle parle bien le français (avec des toutes petites lacunes de grammaire), en tout cas bien mieux que moi le japonais : la discussion fait rage.</p>
<p>Le voyage est très agréable, et mêm si j'apprend qu'elle est mariée, cela ne m'empêche pas de lui demander qu'on soit pris en photo, ni de récupérer son mail (dans le désordre). Elle pourrait passer par Grenoble avec son homme, qui sait ?</p>
<p>Bon, une fois au Japon (à Narita), je me met sérieusement à chercher un endroit pour dormir.<br />1- Trouver internet (chose faite au 3ème étage du Terminal 2, au Starbucks Coffee. Premier problème : il faut des pièces de 100 yens pour utiliser les ordis.<br />2- Trouver des thunes. No soucy : CB Eurocard/Mastercard est avec moi. Le guichet est tout prêt du café. Tout va bien.  Sauf que le guichet m'indique que la bande magnétique de ma CB est défectueuse : pas possible d'avoir de l'argent ! O_o</p>
<p>Alors là, gros moment de stress :<br />- je suis à l'aéroport de Tokyo,<br />- pas d'argent (en fait je dois avoir 5 euros en poche),<br />- pas d'endroit pour passer les nuits jusqu'à samedi !</p>
<p>Comment ça se passe ?</p>
<p>La gentille demoiselle des informations de l'aéroport [après mon rapide exposé de "la bande magnétique elle est pas bonne, le distributeur veut pas me filer des billets"] m'indique très calmement d'aller au bureau de poste, ils doivent avoir un distributeur qui marche avec les mastercards.</p>
<p>Pensant que je n'ai pas compris et que les postiers pourront faire quelque chose, je vais au bureau de poste (au fond du 2ème étage du terminal) avec mon PC, mon sac à dos et mon sac de voyage, tous ces allers/retours, svp !</p>
<p>Je montre ma carte à la postière, elle met dit je-sais-pas-quoi et part demander un truc à sa postière d'à côté (qui a l'air plus expérimentée) qui lui dit <a href="http://www.dictionnaire-japonais.com/vocabulaire_1124.html">"Haï"</a> et elle revient vers moi en m'indiquant la machine à billets.</p>
<p>Un peu pessimiste, je met la carte dans la machine et après moultes frappes de boutons, de phrases entendues par la machine et quelques tapes sur l'écran tactile, le robot financier me sort un ticket et un phrase tout haut qui dit que mon code pin a pas pu être vérifié !<br />M'attendant à ce que ça marche pas (la bande magnétique de la CB ne s'est pas arrangée toute seule), je ne panique pas et une idée surgit : si le code pin est pas le bon, c'est l'analyse du numéro de carte a pu être faite ! (ça donne une idée de ma capacité de gestion du stress : exponentielle multiplication du n'impote nawak !)</p>
<p>Ni 1 ni 2, je réessaye.</p>
<p>BANCO ! Je retire 28000 yens et je me retourne pour m'apercevoir que La Poste est remplie par les gens qui attendent le distributeur ! Oups ! "Pardon, pardon, pardon" je baisse la tête, reprend mes affaires, remerci tout le monde et me barre direct prendre un "Coffee Milk Grande" au 3ème.</p>
<p>Je met les pièces, me connecte, envoi 2-3 mails pour savoir si mon auto-reply peut être configuré sur mon compte HP (cimer Eric) et apprend que j'ai juste à confirmer pour avoir ma place au <a href="http://www.andon.co.jp/">Andon Ryokan</a> ! Hee Pee Yé !</p>
<p>Je descend au 2ème pour téléphone : impossible d'avoir les gars ! (ni même de composer le numéro, en fait !)</p>
<p>Je demande au magasin en face des téléphones, et j'apprends comment on appelle Tokyo de Tokyo !<br />Manque de pot, personne ne répond et ça sonne dans le vide !</p>
<p>Du coup, je remonte au 3ème pour un coup d'internet et je confirme par mail en demandant :<br />- je peux laisser mon sac aujourd'hui et prendre la chambre que demain et Samedi ?<br />- comment on fait pour aller de Narita au Ryokan ?</p>
<p>Fin du temps internet (à 100 yens les 10 minutes, ça défile) => je vais à un téléphone et j'appelle. Là, j'ai le gars au bout du file (j'ai appris qu'il s'appelle Také tout à l'heure) et il me donne toutes les infos : Keisei Line, prendre l'express jusqu'au terminus Ueno puis changer, prendre Hibiya Line pendant 2 arrêts et ensuite demander.
