---
layout: post
status: publish
published: true
title: US Melting Pot
author:
  display_name: Low Memory
  login: fernando
  email: fernando@trankil.info
  url: ''
author_login: fernando
author_email: fernando@trankil.info
wordpress_id: 37
wordpress_url: http://blog.trankil.info/?p=37
date: '2005-11-14 19:17:00 +0100'
date_gmt: '2005-11-14 19:17:00 +0100'
categories:
- ancien_blog
tags: []
comments: []
---
<p>Après avoir "durement" travaillé pendant 4 jours (au lieu des 3 prévus...) j'ai pu profiter du week-end pour visiter un peu San Francisco et ses rue en pente qui fatiguent beaucoup à pied, alors je n'imagine même pas à vélo !</p>
<p><img style="width:400px" src="http://fernando.lagrange.free.fr/USA/20051015/San%20Francisco%20from%20a%20hill.JPG"></p>
<p>J'ai fait un tour au Golden Gate Park où j'ai découvert le sport préféré des cubains.<br /><img style="width:400px" src="http://fernando.lagrange.free.fr/USA/20051016/Golden%20Gate%20Park%20(Base-Ball%20field).JPG"></p>
<p>Et toute l'ampleur du melting pote Etats-Unien lors d'un spectacle de danses : il y avait beaucoup de danses différentes, du Hip-Hop à la danse d'un mariage méxicain :<br /><img style="width:400px" src="http://fernando.lagrange.free.fr/USA/20051016/Hip-Hop%20Sound%20System.JPG"><br /><img style="width:400px" src="http://fernando.lagrange.free.fr/USA/20051016/Hip-Hop%20Dance.JPG"></p>
<p>en passant par la dance classique,<br /><img style="width:400px" src="http://fernando.lagrange.free.fr/USA/20051016/Classical%20Dance%20(children).JPG"><br /><img style="width:400px" src="http://fernando.lagrange.free.fr/USA/20051016/Classical%20Dance.JPG"></p>
<p>le mambo,<br /><img style="width:400px" src="http://fernando.lagrange.free.fr/USA/20051016/Mambo%20Dance%202.JPG"></p>
<p>le jazz,<br /><img style="width:400px" src="http://fernando.lagrange.free.fr/USA/20051016/Jazz%20Ensemble%201.JPG"></p>
<p>la danse coréenne,<br /><img style="width:400px" src="http://fernando.lagrange.free.fr/USA/20051016/Korean%20Elementary%20School%202.JPG"></p>
<p>et les percussions asiatiques,<br /><img style="width:400px" src="http://fernando.lagrange.free.fr/USA/20051016/Asian%20Drums.JPG"></p>
<p>et voici quelques photos de la danse méxicaine :<br />avec des bouteilles :<br /><img style="width:400px" src="http://fernando.lagrange.free.fr/USA/20051016/Mexican%20Dance%20(bottles%20&%20glasses)%202.JPG"></p>
<p>avec un mât :<br /><img style="width:400px" src="http://fernando.lagrange.free.fr/USA/20051016/Mexican%20Dance%20(with%20mat).JPG"></p>
<p>ou pour un mariage :<br /><img style="width:400px" src="http://fernando.lagrange.free.fr/USA/20051016/Mexican%20Wedding%20Dance.JPG"></p>
<p>Le mélange des genres était constant : que ce soit des latinos ou des asiatiques, on pouvait toujours se demander dans quel pays on était. J'ai vraiment été surpris quand j'ai vu une asiatique entrer dans le tramway/métro en train de parler espagnol dans son téléphone portable !</p>
<p>J'ai aussi rencontré une professeur de tango Belge qui prenait le thé sous le soleil à la sortie d'un restaurant indien (où je dînait) et qui m'a fait découvrir des endroits épatant de Frisco ! (cf vidéo du magasin de disques [où on trouve les CD/DVD vierges vers la sortie et les caisse !] sur<br /><a href="http://fernando.lagrange.free.fr/USA/20051017/Music%20Store.MOV">ce lien</a>)</p>
<p>J'ai aussi pris un moment pour aller jusqu'à l'océan, mais faute de planche et de connaissance des spots, après avoir barboté et pris le soleil, je suis allé au bar boire un maté à l'amérloque !<br /><img style="width:400px" src="http://fernando.lagrange.free.fr/USA/20051017/Pacific%20Ocean%201.JPG"></p>
<p><img style="width:400px" src="http://fernando.lagrange.free.fr/USA/20051017/Pacific%20Ocean%202.JPG"></p>
<p>D'un côté l'océan :<br /><img style="width:400px" src="http://fernando.lagrange.free.fr/USA/20051017/Pacific%20Ocean%20Versa.JPG"></p>
<p>et quand on se retourne, la ville :<br /><img style="width:400px" src="http://fernando.lagrange.free.fr/USA/20051017/Pacific%20Ocean%20Vice.JPG">
