---
layout: post
status: publish
published: true
title: Kamakura
author:
  display_name: Low Memory
  login: fernando
  email: fernando@trankil.info
  url: ''
author_login: fernando
author_email: fernando@trankil.info
wordpress_id: 40
wordpress_url: http://blog.trankil.info/?p=40
date: '2005-10-11 06:21:00 +0200'
date_gmt: '2005-10-11 06:21:00 +0200'
categories:
- ancien_blog
tags: []
comments:
- id: 36
  author: LowMemory
  author_email: fernando@no-log.org
  author_url: http://http://www.demo-tic.org
  date: '2012-03-03 17:09:36 +0100'
  date_gmt: '2012-03-03 17:09:36 +0100'
  content: |-
    <dl> <dt id="c112923570589431202"><span dir="ltr">Anonyme</span> a dit...</dt> </dl> <p>Regrdes tes mails (@clan.lagrange.st)! Un employer de l'équipe à Raphaël cherche un appartement sur Grenoble.<br />
    Il t'a ou va t'écrire!<br />
    A+<br />
    Juan</p> <p class="comment-timestamp">jeudi 13 octobre 2005 22:35:00 UTC+02:00</p> <dl> <dt id="c112982260171792274"><img src="http://www.blogger.com/img/blank.gif" class="comment-icon anon-comment" alt="Anonyme" /> <span dir="ltr">Anonyme</span> a dit...</dt> </dl> <p>Hello Fefer,<br />
    How are you? Fine? I hope ;)<br />
    Alors les States?<br />
    Mets des photos! BORDEL !!!!!<br />
    J'aime bien les blondes...<br />
    Tchô a+<br />
    Juan</p> <p class="comment-timestamp">jeudi 20 octobre 2005 17:36:00 UTC+02:00</p>
---
<p>Je me suis couché vers les 1h du matin hier soir après avoir découvert Sangokushi War, un jeu de cartes en réseau à Taïto, Shinjuku : autant dire que je suis mort de fatigue !</p>
<p>Et la journée ne s'annonce pas super : il pleut et je suis obligé de prendre un parapluie à l'hôtel pour ne pas être trempé jusqu'aux os en allant à Shinjuku Station.</p>
<p>Mais à peine à la station, Masami surgit de l'invisible et nous prenons la JR Line pour Kamakura.<br />Masami a une grande endurance et résiste très bien débout pendant une grande partie du trajet (alors je manque plusieurs fois de m'écrouler de sommeil) !</p>
<p>Arrivés à Kamakura (on descend avant pour marcher un peu de sanctuaire en temple). On apprends que le premier site n'est pas ouvert au public aujourd'hui : une cérémonie a lieu ! Un bien pour un mal : je peux voir les habits des bonzes qui sont autour du sanctuaire.</p>
<p>On ne se laisse pas démonter pour si peu et on continue la marche jusqu'au prochain temple. En chemin, Masami me montre les "cookies" au riz. Excellents et énormes, on se régale.</p>
<p><img style="height:320px" src="http://fernando.lagrange.free.fr/Japon/Japan/20051009/Kamakura%20Rice%20Cookies.JPG"></p>
<p>On entre à Kencho-Ji. <img style="height:320px" src="http://fernando.lagrange.free.fr/Japon/Japan/20051009/Kenchoji%20Entrance%202.JPG"></p>
<p>Ensuite on passe la porte Sômon. <img style="width:320px" src="http://fernando.lagrange.free.fr/Japon/Japan/20051009/Kenchoji%20S%f4mon.JPG"> (Porte qui était à Kyoto dans le passé.)</p>
<p>Puis l'entrée principale (Sanmon). <img style="width:320px" src="http://fernando.lagrange.free.fr/Japon/Japan/20051009/Kenchoji%20Sanmon.JPG"><br />Une porte entièrement en bois qui existe depuis 1754 ! Et il n'y a pas un seul clou planté dedans : du travail très respectueux et très solide !</p>
<p>Une cérémonie est en cours dans le bâtiment principal (Hôjô) où l'on n'entre qu'après avoir quitté ses chaussures.<br />Et une exposition de peinture a lieu dans le bâtiment attenant. Les couleurs et les styles des dessins (parfois précèdés de caligraphies, tout aussi imagées) sont trés beaux et pleins de subtilités qui m'échappent souvent.
