---
layout: post
status: publish
published: true
title: Dernier jour de Septembre à Tokyo
author:
  display_name: Low Memory
  login: fernando
  email: fernando@trankil.info
  url: ''
author_login: fernando
author_email: fernando@trankil.info
wordpress_id: 17
wordpress_url: http://blog.trankil.info/?p=17
date: '2005-10-03 12:33:00 +0200'
date_gmt: '2005-10-03 12:33:00 +0200'
categories:
- ancien_blog
tags: []
comments: []
---
<p>Cette journée fut moins mouvementée que la précèdente : réveil dans la capsule vers 7h30 en ayant maudit celui qui a laissé la radio allumé toute la nuit (et j'ai alors découvert que c'était moi !)<br />Direction le jakuzzi direct !</p>
<p>Ensuite je suis allé au temple Sensô-ji où j'ai vu les différents bâtiments.</p>
<p><a onblur="try {parent.deselectBloggerImageGracefully();} catch(e) {}" href="http://fernando.lagrange.free.fr/Japon/Japan/10250930/Sens%f4-Ji%20%5bSJ%5d%20Kaminari-mon%20(Thunder%20door).JPG"><img style="float:left; margin:0 10px 10px 0;cursor:pointer; cursor:hand;width: 320px;" src="http://fernando.lagrange.free.fr/Japon/Japan/10250930/Sens%f4-Ji%20%5bSJ%5d%20Kaminari-mon%20(Thunder%20door).JPG" border="0" alt="" /></a></p>
<p>Notamment la tour à 5 étages !</p>
<p><a onblur="try {parent.deselectBloggerImageGracefully();} catch(e) {}" href="http://fernando.lagrange.free.fr/Japon/Japan/10250930/SJ%20Pagode.JPG"><img style="float:left; margin:0 10px 10px 0;cursor:pointer; cursor:hand;width: 320px;" src="http://fernando.lagrange.free.fr/Japon/Japan/10250930/SJ%20Pagode.JPG" border="0" alt="" /></a></p>
<p><a onblur="try {parent.deselectBloggerImageGracefully();} catch(e) {}" href="http://fernando.lagrange.free.fr/Japon/Japan/10250930/Left%20of%20SJ.JPG"><img style="float:left; margin:0 10px 10px 0;cursor:pointer; cursor:hand;width: 320px;" src="http://fernando.lagrange.free.fr/Japon/Japan/10250930/Left%20of%20SJ.JPG" border="0" alt="" /></a></p>
<p><a onblur="try {parent.deselectBloggerImageGracefully();} catch(e) {}" href="http://fernando.lagrange.free.fr/Japon/Japan/10250930/Left%20of%20SJ%20(inside).JPG"><img style="margin: 0px auto 10px; display: block; text-align: center; cursor: pointer; width: 320px;" src="http://fernando.lagrange.free.fr/Japon/Japan/10250930/Left%20of%20SJ%20(inside).JPG" alt="" border="0" /></a></p>
<p><a onblur="try {parent.deselectBloggerImageGracefully();} catch(e) {}" href="http://fernando.lagrange.free.fr/Japon/Japan/10250930/SJ%20Smoke%20Well.JPG"><img style="float:right; margin:0 0 10px 10px;cursor:pointer; cursor:hand;width: 320px;" src="http://fernando.lagrange.free.fr/Japon/Japan/10250930/SJ%20Smoke%20Well.JPG" border="0" alt="" /></a></p>
<p>L'encens dans le puit guérit des maladies et permet d'avoir une bonne santé.</p>
<p>J'ai flané un peu dans les rues alentour et je suis entré au parc d'attractions Hanayashiki, juste à côté. (Il existe depuis 1853 et les manèges fonctionnent encore !)<br />Il avait une attraction où on met un casque audio et il se passe des trucs flippant, un peu comme dans une maison aux esprits ! Malheureusement ma maîtrise du Japonais est limitée et je n'ai pas pu apprécier à sa juste valeur. :-(</p>
<p>J'en ai profité pour faire aussi un tour d'hélicoptère à pédales pour apprécier la vue d'un peu plus haut.</p>
<p>J'ai déjeuné là-bas et je me suis ensuite dirigé vers le musée du tambour (Taikokan). Il avait une collection impressionnante des percussions du monde entier : Asie, Afrique, Amérique du Sud ! J'ai joué un morceau de Djembé avec un musicien qui était là et essayé tous les instruments dont c'était possible !</p>
<p>Puis je suis retourné au Andon Ryokan vers 14h. Où j'ai investi la chambre japonaise traditionnelle après avoir séché les habits que j'avais lavé à Grenoble.</p>
<p><a href="http://fernando.lagrange.free.fr/Japon/Japan/10250930/Andon%20Ryokan%20room.MOV"> Tour de la chambre. (Attention, la vidéo fait 12 Mo !)</a></p>
<p>Et je me suis laissé emporté dans les bras de morphée dans cette ambiance si calme.</p>
<p>Au réveil, je suis parti sur Asakusa pour trouver des CDs de musique pour Sabine (une collègue de bureau) mais le magasin ouvert que j'ai trouvé ne faisait que des locations, donc je me suis dit que je verrais le lendemain.
