---
layout: post
status: publish
published: true
title: Mieji-Jingu et Yoyogi (Grand Parc)
author:
  display_name: Low Memory
  login: fernando
  email: fernando@trankil.info
  url: ''
author_login: fernando
author_email: fernando@trankil.info
wordpress_id: 16
wordpress_url: http://blog.trankil.info/?p=16
date: '2005-10-04 05:28:00 +0200'
date_gmt: '2005-10-04 05:28:00 +0200'
categories:
- ancien_blog
tags: []
comments: []
---
<p>Une journée bien sympathique :<br />Gros petit déj' à l'auberge puis direction Meiji-jingu sur les recommendations de Masami.</p>
<p>C'est assez loin et le trajet en bus est 'almost impossible'. Donc j'opte pour le métro : je me perd quand même et descend à Omote-Sando. Pas de problèmes : une petite marche ne sera pas de trop ! ;-)</p>
<p>Ca me permet de descendre toute l'avenue jusqu'à Harajuku. J'ai l'impression d'être sur les Champs Elysées de Paris : grands magasins, troittoirs super-larges et foule de lèche-vitrine (vitrines très belles avec les dernières modes vestimentaires).</p>
<p>Je continue sur Meiji-jingu en entrant dans le parc Yoyogi à travers les immenses entrées (en bois!).</p>
<p><img style="width: 320px;" src="http://fernando.lagrange.free.fr/Japon/Japan/10351001/YK%201%20wooden%20portal.JPG"></p>
<p>Le parc est grandiose et un havre de paix au milieu de la ville. Je m'accorde un moment de repos au snack du coin et achète quelques souvenir (dont des tasses qui changent de couleur !).</p>
<p><img style="width: 320px;" src="http://fernando.lagrange.free.fr/Japon/Japan/10351001/YK%20pause%202.JPG"></p>
<p>Je repars en balade. Je visite alors le Trésor du parc (avec les portraits de tous les empereurs sauf un ?!?) où les photos sont interdites. Mais comme le meuble en bois marqueté de l'imperatrice Shoken était très joli (incrustation de bois de couleur, plus de paon avec plusieurs niveaux de reliefs et nacre incrustée) , je me suis mis à l'extérieur du bâtiment et j'ai pris une photo avec le zoom... <br /><img style="width: 320px;" src="http://fernando.lagrange.free.fr/Japon/Japan/10351001/TM%20Empress%20Shoken%20Case%202.JPG"><br />(pas très claire, c'est vrai...)</p>
<p>Puis je me dirige vers le sanctuaire Shitoïste, je fais des ablutions aux Temizusha (main droite, main gauche et bouche, sans rien jeter dans le bassin, mais tout à côté).</p>
<p><img style="width: 320px;" src="http://fernando.lagrange.free.fr/Japon/Japan/10351001/MJ%20Temizusha%202.JPG"></p>
<p>Pour pénétrer à l'intérieur où se tiennent des ceremonies de mariages en tenues traditionnelles. (Bien que la photo ne soit pas révélatrice des mariages en blanc Japonais avec la coiffe blanche...)</p>
<p><img style="width: 320px;" src="http://fernando.lagrange.free.fr/Japon/Japan/10351001/MJ%20_Discrete_%20Japanese%20Wedding.JPG"></p>
<p>Ensuite, retour au Japon d'aujourd'hui avec les grands magasins de musique pour trouver les CDs de Sabine (au grand magasin La Foret).</p>
<p><img style="width: 320px;" src="http://fernando.lagrange.free.fr/Japon/Japan/20051008/Harajuku%202.JPG"></p>
<p>Malheureusement, sur les 4 CDs, 1 ne se fait plus et donc je passe commande pour les 3 autres (une demi-heure de palabres avec la vendeuse et le dictionnaire qui passe de main en main :-) ).</p>
<p>Pour trouver le CD qui ne se fait plus, elle me conseille le magasin "Book Off" (CDs d'occasions) juste à côté. Au magasin, j'apprends qu'il ne l'a pas mais je peux aller voir au magasin à un arrêt de métro. Là je trouve le CD et j'achète aussi un jeu pour les neveux. (Et je croise un Français qui me dit que mon dictionnaire de chez Dico est trop compliqué, que le Guide Harraps est bien meilleur.)</p>
<p>Je repars alors vers le parc et lorsque je décide de rentrer, je crois plein de jeunes filles déguisées en héros mangas, certaines avec des oreilles et des queues de chat, d'autre en jeunes filles type Candy et d'autre enfin en Gothique (yeux rouges, mascara blanc, paupières noire et robes déchirées) !!! J'hallucine !!!
