---
layout: post
status: publish
published: true
title: Check-out + Check-in
author:
  display_name: Low Memory
  login: fernando
  email: fernando@trankil.info
  url: ''
author_login: fernando
author_email: fernando@trankil.info
wordpress_id: 41
wordpress_url: http://blog.trankil.info/?p=41
date: '2005-10-05 05:58:00 +0200'
date_gmt: '2005-10-05 05:58:00 +0200'
categories:
- ancien_blog
tags: []
comments: []
---
<p>La journée suivante (2 octobre) n'est pas très intéressante : la première partie fut passée au petit-déj' et à partir du Andon Ryokan, un petit pincement au coeur.</p>
<p>Et ensuite de faire le check-in au <a href="http://www.keioplaza.com/index.html">Keio Plaza Hotel</a> (hôtel grand luxe avec 2 porteurs pour prendre mon sac de voyage et mon ordi). Tous habillés en livrée comme Spirou.</p>
<p>Je fait un tour de la chambre, <a href="http://fernando.lagrange.free.fr/Japon/Japan/20051002/Books%20and%20View%20from%20Keio%20Plaza%20Hotel.MOV"> caméra au poing (mais faute de batteries, seulement la deuxième partie avec la vue est dispo...) !! 17mo !!</a></p>
<p>Je me perds dans Shinjuku où je trouve un restaurant avec un "plateau tournant" au milieu des tables, sur lequel les cuisiniers posent les sushis et chacun se sert.</p>
<p>Comme je dois aller au boulot le lendemain par le métro, je décide d'y aller dès ce soir. Je demande s'il est possible d'avoir un billet valable toute la semain, mais malheureusement cela n'existe pas : on me montre les coupons (11 billets pour le prix de dix) et me voila parti à la recherche du bureau à Ichigaya.</p>
<p>Après m'être trompé de sortie, je trouve enfin le bâtiment. Je repars donc et me trompe d'arrêt sur le retour ! (Shinjuku-Sanchome au lieu de Shinjuku !!!)<br />Après 1h1/2 pour faire un aller/retour qui prendra seulement 20 minutes pendant la semaine, je regagne l'hôtel pour me reposer enfin !
