---
layout: post
status: publish
published: true
title: Argentina, here I come !
author:
  display_name: Low Memory
  login: fernando
  email: fernando@trankil.info
  url: ''
author_login: fernando
author_email: fernando@trankil.info
wordpress_id: 36
wordpress_url: http://blog.trankil.info/?p=36
date: '2007-09-27 17:30:00 +0200'
date_gmt: '2007-09-27 17:30:00 +0200'
categories:
- ancien_blog
tags: []
comments: []
---
<p>Enfin, c'est bon, ça y est, j'ai un billet pour l'Amérique du Sud !</p>
<p>Départ de Paris (France)  le 3 octobre, arrivée le 4 à Buenos Aires (Argentine).</p>
<p>Retour de Rio de Janeiro (Brésil) le 19 octobre, arrivée le 20 à Paris.</p>
<p>Pas de programme bien précis: Buenos Aires, Nord Ouest Argentin, Pampa ?, Patagonie ? et Brésil pour le retour.</p>
<p>Je vais retrouver des amis en vadrouille (cf section liens)...</p>
<p>Stay tuned for more info !
