---
layout: post
status: publish
published: true
title: A todo lo que da !
author:
  display_name: Low Memory
  login: fernando
  email: fernando@trankil.info
  url: ''
author_login: fernando
author_email: fernando@trankil.info
wordpress_id: 32
wordpress_url: http://blog.trankil.info/?p=32
date: '2007-10-07 15:32:00 +0200'
date_gmt: '2007-10-07 15:32:00 +0200'
categories:
- ancien_blog
tags: []
comments:
- id: 34
  author: LowMemory
  author_email: fernando@no-log.org
  author_url: http://http://www.demo-tic.org
  date: '2012-03-03 16:52:05 +0100'
  date_gmt: '2012-03-03 16:52:05 +0100'
  content: |-
    <a href="http://www.blogger.com/profile/11534642402098063001" rel="nofollow">Juan</a> a dit...<br />
    <br />
        C'est trop cool!!<br />
        Dire que je me suis tapé un quick car j'avais la réunion du CE et quand je suis rentré il ne restait plus rien à manger :'(<br />
        Toute cette bonne viande: un chorizo para mi tambien :P<br />
        Bon nous ici on va fêter les 10 ans à Nathan Dimanche à 15h00.<br />
        Il y aura des .... EMPANADAS !!!<br />
        On pensera à toi ;-)<br />
        Bye continues à nous faire rêver et voyager :-*<br />
    <br />
        lundi 8 octobre 2007 23:26:00 UTC+02:00<br />
    <br />
    <br />
    <a href="" rel="nofollow">Fernando</a> a dit...<br />
    <br />
        Je vous dirais demain quel est le goût des &quot;salteñas&quot; !!<br />
        :-D<br />
    <br />
        mardi 9 octobre 2007 06:25:00 UTC+02:00<br />
    <br />
    <br />
    <a href="http://www.blogger.com/profile/05534851713441601048" rel="nofollow">ok</a> a dit...<br />
    <br />
        Que tal Salta?<br />
    <br />
        mercredi 10 octobre 2007 13:57:00 UTC+02:00<br />
    <br />
    <br />
    maria a dit...<br />
    <br />
        Ahhh les légendaires petits plats de Ricardo... rien que pour cela on traverserait l'Athlantique!<br />
        Fer, est-ce-que tu pourrais nous ramener un maté basique en métal avec les deux anses (comme le notre qui se fait vieux..)?<br />
        profites en bien!<br />
        bises à tous<br />
        des trois boucains<br />
    <br />
        mercredi 10 octobre 2007 15:47:00 UTC+02:00<br />
    <br />
    <br />
    <a href="http://www.blogger.com/profile/11534642402098063001" rel="nofollow">Juan</a> a dit...<br />
    <br />
        Et Salta ?<br />
        Je veux voir des photos!!!<br />
    <br />
        jeudi 11 octobre 2007 19:40:00 UTC+02:00<br />
    <br />
    <br />
    <a href="" rel="nofollow">Fernando</a> a dit...<br />
    <br />
        Les empanadas sont trés bonnes, j´ai pas encore trouvé de mate et les photos sont dispos sur http://fernando.lagrange.free.fr/Argentina<br />
    <br />
        un autre message qd je serai revenu de la joda !<br />
    <br />
        vendredi 12 octobre 2007 03:12:00 UTC+02:00
---
<div>
<div>
<p></div>
<div>Samedi, réveil commateux, j´apprends que Tante Pam´ a appelé il y a une 1/2h...pas le temps de me connecter que la voilà qui arrive dans le hall !</p>
<p>À partir de là, tout s´emballe: j´ai 5 minutes pour faire mes baggages: elle m´enlève pour aller chez Nico à Puerto Madero (il est en voyage d´affaires). J´insiste pour passer chez Ricardo chercher les vêtements que je ne voulais pas prendre au concert.</p></div>
<div>
<p></div>
<div>Quand on arrive, il y a une personne envoyée par Air Europe dont Ricardo venait de signer le bon de conformité par (je cite): <strong>"condicionado a posterior verificación del contenido por el propiétario Sr. Lagrange"</strong>.<br />Un prudent trait d´esprit que je n´aurais pas eu !</p>
<p>Je monte chez lui et vérifie le contenu: tout est là ! \o/</p>
<p>Il prépare un nouveau repas dont il a le secret pendant que j´appelle Eduardo. Ce dernier m´invite chez lui pour le lendemain midi.<br />Je me délecte les papilles et prends congés de Ricardo en essayant maladroitement de lui laisser un petit peu d´argent en remerciement...il refuse tout net et me le rend pour que j´en profite à Salta. </div>
<div>
</div>
<div></div>
<div><a href="http://fernando.lagrange.free.fr/Argentina/Pamela%20y%20los%20Taxis.JPG"><img style="FLOAT: left; MARGIN: 0px 10px 10px 0px; WIDTH: 257px; CURSOR: hand; HEIGHT: 174px" height="168" alt="" src="http://fernando.lagrange.free.fr/Argentina/Pamela%20y%20los%20Taxis.JPG" border="0" /></a></p>
</div>
<div>De là, avec Pamela, on prend un taxi pour le Club Sportif du </div>
<div>
</div>
<div>Lycée Naval où joue Lucas (et Kukí) dans l´équipe de Rugby de Lomas Athletic.</div>
<div>
<p><a href="http://fernando.lagrange.free.fr/Argentina/Final%20partido.JPG"><img style="FLOAT: right; MARGIN: 0px 0px 10px 10px; WIDTH: 320px; CURSOR: hand" alt="" src="http://fernando.lagrange.free.fr/Argentina/Final%20partido.JPG" border="0" /></a></p>
</div>
<div></div>
<div></div>
<div></div>
<div></div>
<div></div>
<div></div>
<div></div>
<div></div>
<div></div>
<div></div>
<div></div>
<div></div>
<div>Et c´est une victoire écrasante de Lomas !!</p>
</div>
<div>
</div>
<div></div>
<div>
</div>
<div></div>
<div><a href="http://fernando.lagrange.free.fr/Argentina/Los%20hichas%20ChachÃ&shy;,%20Pamela%20y%20yo.JPG"><img style="FLOAT: right; MARGIN: 0px 0px 10px 10px; WIDTH: 320px; CURSOR: hand" alt="" src="http://fernando.lagrange.free.fr/Argentina/Los%20hichas%20Chach%c3%ad,%20Pamela%20y%20yo.JPG" border="0" /></a></p>
</div>
<div></div>
<div>
</div>
<div></div>
<div>
</div>
<div></div>
<div>Sûrement gràce aux hinchas ! ;-)</div>
<div></div>
<div></div>
<div></div>
<div> </div>
<div> </div>
<div> </div>
<div> </div>
<div></div>
</div>
<div> </div>
<div> </div>
<div>
<div></div>
<div></div>
<div></div>
<div> </div>
<div> </div>
<div>Pas le temps de prendre à manger: le match de la France a commencé...mais il y a trop de gens au club pour voir le petit écran. Qu´à cela ne tienne, on va acheter des sandwichs (qui refroidirons) au club de tennis oú il y a une meilleure vue sur le match. Et quel match !!!<br />La France gange la Nouvelle Zélande !<br />Là, je devient euphorique: Lucas a gagné, Kukí a gagné et la France a gagné !</p>
<p>Retour à la table, les femmes nous ont fait le planning de la soirée: La noche de los museos. Tous les musées gratuits: il est prévu qu´on en fasse 7 en 3 heures !! O_O<br />Chachí met le ola et on réduits les objectifs en accord avec les contraintes spatio-temporelles ! :-)</p>
<p>1er musée: Malba. "Museo de Arte Latinoamericano de Buenos Aires" On laisse les sacs au vestiaire, et on admire: une expo de Douglas Godon "Timeline Línea de tiempo".5-6 oeuvres énormes (en taille) avec des écrans gigantesques et des images qui laissent perplexe et curieux.<br />Puis Obras transformables : la collection permanente qui laisse à voir des oeuvres qui se transforment au cours du temps. J´ai bien aimé l´idée d´une oeuvre qui change en fonction du moment oú on la regarde...<br />Avec Joaquín Torres-García (un Uruguayen qui vivait en Espagne) on retourne en enfance avec des jouets animaliers transfomables: têtes, corps et pattes interchangeables ! L´enfant peu alors créer les animaux qu´il veut...<br />Passage en terrasse pour admirer des statues en fil de fer bien sympas "Los meses del año" de je-sais-plus-qui.<br />Rapide tour à la boutique puis départ pour le Museo de las Sciencias. Une sorte de villette où on découvre en s´amusant quelques illusions optiques et propriétés de la mécanique/physique. Très intéressant mais trop de monde pour vraiment apprécier.</p>
<p>On prend alors le bus dans le but de rentrer che Nico. À la sortie du bus, il apparaît qu´un restau excellent est à 2 pas ("El desnivel"). Après 30 minutes d´attente 1 table pour 4 se libère...et alors là gros gavage !!!<br />Pommes-frites, salade, boudin noir et fromage braisé pour commencer. On enchaîne avec 1 bife de chorizo, le tout arrosé par 1 lattitude 33 (en provenance de Mendozà) pour finir avec 1 flan con dulze.</p>
<p>Du très classique mais efficace à se damner !</p>
<p>Sur ce retour chez Nico dans un quartier chic (Puerto Madero) qui me fait penser à Manhattan, New York.</p></div>
<p><a href="http://fernando.lagrange.free.fr/Argentina/Final%20partido.JPG"></a></div>
