---
layout: post
status: publish
published: true
title: Direction Iguazú (Iguaçu ?)
author:
  display_name: Low Memory
  login: fernando
  email: fernando@trankil.info
  url: ''
author_login: fernando
author_email: fernando@trankil.info
wordpress_id: 29
wordpress_url: http://blog.trankil.info/?p=29
date: '2007-10-17 12:52:00 +0200'
date_gmt: '2007-10-17 12:52:00 +0200'
categories:
- ancien_blog
tags: []
comments:
- id: 31
  author: LowMemory
  author_email: fernando@no-log.org
  author_url: http://http://www.demo-tic.org
  date: '2012-03-03 16:39:51 +0100'
  date_gmt: '2012-03-03 16:39:51 +0100'
  content: |-
    <a href="http://www.blogger.com/profile/05534851713441601048" rel="nofollow">ok</a> a dit... <p>Que tal?<br />
    Vas a ir a las cataratas?<br />
    Parece que el mejor momento es la mañana: el sol las ilumina de frente.<br />
    La primavera es época de lluvias y de...mariposas.<br />
    Seguis en bus a Rio? 36 horas?<br />
    Buena continuacion<br />
    Hasta pronto</p> <p>mercredi 17 octobre 2007 17:34:00 UTC+02:00</p> <a href="http://www.blogger.com/profile/11534642402098063001" rel="nofollow">Juan</a> a dit... <p>PRENDS DES PHOTOS!!<br />
    Pour nous montrer tout ça!!<br />
    Bien cool internet!!<br />
    On rêve/voyage grace à toâ ;-)<br />
    Merci<br />
    On est invité à manger chez des français vendredi soir pour regarder la Finale France-Argentine !! Seuls Nathan, Gab et moi iront les autres sont pas trop rugby. On va se prendre une taule, mias bon c'est la vie c'est le sport :'(<br />
    <br />
    A bientôt en FRANCE!!</p> <p>mercredi 17 octobre 2007 21:13:00 UTC+02:00</p> Maria a dit... <p>Est-ce qu'il a toujours les petits animaux qui sont presque apprivoisé : les pique-assiettes ?<br />
    Ce qui m'avait impressionné surtout, après la beauté du coin et des chutes, les couleurs et les odeurs c'était le bruit ! Un boucan d'enfer a en être trempé des pieds jusqu'à la tête!<br />
    &quot;a copa du mundo es nosa!!contra o brasileros no ha que posa!!laï laï laï&quot;</p> <p>mercredi 17 octobre 2007 21:49:00 UTC+02:00</p> <a href="http://blog.trankil.info" rel="nofollow">Fernando</a> a dit... <p>Malheureusement, je n'ai pas pu voir les chutes, seulement Itaïpu ! :-(</p> <p>vendredi 26 octobre 2007 04:26:00 UTC+02:00</p>
---
<p>Après 2 jours à Cordobá...oú j´ai décidé de pas trop sortir, vu que les étudiants du coins finissent vers midi !</p>
<p>Je pars pour Puerto Iguazú, tout au nord-est de l´Argentine. Ici la végétation n´a rien à voir avec le nord-ouest (Salta et Humahuaca) !<br />Lá-bas, tout est desertique et sec (pas d´arbres, des petits ruisseaux...) ici, on dirait la jumgle ! Du vert partout, en plus il pleut comme vache qui pisse, ce qui fait des torrents de couleur rouge!</p>
<p>Je me perds un peu en cherchant l´hostel (El Corre Caminos): mais j´y arrive enfin. Je prends une chambre, je discute avec des australiens sur le départ, 3-4 billards avec un allemand qui s´en va le lendemain. Ce soir c´est parrilla à l´hostal.</p>
<p>Bien sympathique, si on excepte les états-uniens qui sont bruyants et écoutent rien de ce qu´on leur dit... Un français, qui est descendu à l´autre hôtel du proprio, m´explique qu´il est en retraite alors qu´il n´a que 36 ans ! (merci les 15 ans de légion !) Du coup, il fait le tour du monde pour trouver un endroit oú se poser.</p>
<p>Hier, en cherchant un bureau de change, je tombe sur les irlandais rencontrés à Cordobá ! On se donne rendez-vous pour le lendemain à 8h pour aller au cataractes. Je les attentendus jusqu´à huit heures et demi et j´ai pris un bus pour Foz de Iguaçu (côté Brésilien). Une fois passée la frontière et arrivé au terminal de bus, l´informateur touristique m´indique que le bus pour Itaïpú était à 10h et que le prochain est à 14h... Un coup d´oeil à ma montre:9h15, je lui dit pas de problèmes: oú est-ce que je le prends ? Et là, il me réponds qu´il est 10h15 !! Le Brésil a changé d´heure le week-end dernier !!</p>
<p>Du coup j´en profite pour faire un tour dans la ville et sur internet ! ;-)
