---
layout: post
status: publish
published: true
title: Au revoir Buenos Aires, bonjour Salta !
author:
  display_name: Low Memory
  login: fernando
  email: fernando@trankil.info
  url: ''
author_login: fernando
author_email: fernando@trankil.info
wordpress_id: 31
wordpress_url: http://blog.trankil.info/?p=31
date: '2007-10-12 00:54:00 +0200'
date_gmt: '2007-10-12 00:54:00 +0200'
categories:
- ancien_blog
tags: []
comments:
- id: 33
  author: LowMemory
  author_email: fernando@no-log.org
  author_url: http://http://www.demo-tic.org
  date: '2012-03-03 16:47:33 +0100'
  date_gmt: '2012-03-03 16:47:33 +0100'
  content: |-
    <a href="http://www.blogger.com/profile/05534851713441601048" rel="nofollow">ok</a> a dit...<br />
    <br />
        No hay como la provincia... para valorar Bs As y la &quot;civilizacion&quot;. Estas dando una linda vuelta.<br />
        Leemos con gusto las andansas.<br />
        Buena continuacion te desean<br />
        &quot;los veteranos&quot;<br />
        Un abrazo!<br />
    <br />
        vendredi 12 octobre 2007 18:44:00 UTC+02:00<br />
    <br />
    <br />
    <a href="http://www.blogger.com/profile/11534642402098063001" rel="nofollow">Juan</a> a dit...<br />
    <br />
        Super TOP!!<br />
        On est passé par là avec Odile Nathan et les jumeaux (en phase de conception/réalisation ;-) ).<br />
        La Montaña de 7 colores est magnifique!!<br />
        Pendant que tu es là bas ramène moi 3 maillots de los PUMAS (un S, un XL et un XXL) si tu trouves!!! Les vrais, hein pasdesimmitations à 5€ !!<br />
        Au fait c'est quoi la suite du programme de ton voyage?<br />
        A+<br />
    <br />
        vendredi 12 octobre 2007 21:41:00 UTC+02:00<br />
    <br />
    <br />
    <a href="http://www.blogger.com/profile/05534851713441601048" rel="nofollow">ok</a> a dit...<br />
    <br />
        Andanzas con &quot;Z&quot;<br />
        + Saludos<br />
    <br />
        samedi 13 octobre 2007 11:18:00 UTC+02:00<br />
    <br />
    <br />
    <a href="" rel="nofollow">Fernando</a> a dit...<br />
    <br />
        Pour les maillots des Pumas (et le drapeau pour Nathan et l´écharpe pour Ignacio) ça va être trés difficile: à BsAs ils m´ont dit qu´ils avaient tout vendu et dans le pays personne ne s´y intéresse... à voir donc...peut-être à Iguazu ?<br />
    <br />
        dimanche 14 octobre 2007 18:09:00 UTC+02:00
---
<p>Les commentaires vont plus vite que les publications ! Ça fait plaisir, vous arrêtez pas !</p>
<p>Sinon, petit bilan de la semaine:<br />- lundi, petit parcours rapide par Buenos Aires le matin avec Pamela pour aller directement à l´agence de Chachí vers 11h30. Il m´a trouvé un billet pour prendre l´avion direct vers Salta le soir même à 21h50.</p>
<p><a href="http://fernando.lagrange.free.fr/Argentina/Madrugada%20reserva%20ecol%c3%b3gica%202.JPG"><img style="display:block; margin:0px auto 10px; text-align:center;cursor:pointer; cursor:hand;width: 200px;" src="http://fernando.lagrange.free.fr/Argentina/Madrugada%20reserva%20ecol%c3%b3gica%202.JPG" border="0" alt="" /></a></p>
<p>De là petite marche tranquille dans la calle Florida... Pas moyen de trouver un drapeau argentin ou une écharpe des Pumas (tout est parti !).<br />Repas du midi (à 14h45) avec Lala y el Bocha: empanadas à la milanesa suivies d´une salade de fruits. Tout est trés bon mais pas le temps de beaucoup parler: je dois aller chercher Sofía (la fille de Agustin) avec Pamela à 16h. Je prends le bus (tout seul, comme un grand) et je m´arrête après l´hopital militaire à l´école de Sofìa.<br />On va la chercher, on boit un coup au MacDo d´en face. Pamela insiste pour acheter 3-4 regalos (que je transforme en regalitos, désolé mesdames) et on file chez Agústin.<br />On se rend compte que le temps passe et on file à Puerto Madero chercher mes affaires pour aller à l´Aeroparque prendre mon avion.</p>
<p>J´arrive le soir (+/- 23h30) au hostel à Salta et je rêveille le Moal et Nestor (un pote de voyage). On pars le lendemain pour Humahuaca.</p>
<p><a href="http://fernando.lagrange.free.fr/Argentina/moalito%20salta.JPG"><img style="display:block; margin:0px auto 10px; text-align:center;cursor:pointer; cursor:hand;width: 200px;" src="http://fernando.lagrange.free.fr/Argentina/moalito%20salta.JPG" border="0" alt="" /></a></p>
<p>- mardi: je fais quelques papiers (voir plus bas) pendant que Nestor et Cédric récupèrent leurs affaires de la laverie puis petit tour en direction du terminal de bus. On mange au parc San Martin des patyseras et on prends une douzaine d´empanadas (12 pesos !). Ensuite bus et on arrive a Humahuaca le soir. Le lendemain tour du village: la plaza, avec le monument et l´église. On marche un peu pour aller sur un "mirador" un peu à l´extérieur. On voit les andes et c´est impressionnant comme il n´y a rien: pas de villages, pas d´arbres, pas d´eau... Comme dit Cédric, ça impose le respect et le silence.</p>
<p><a href="http://fernando.lagrange.free.fr/Argentina/mon.%20humahuaca.JPG"><img style="display:block; margin:0px auto 10px; text-align:center;cursor:pointer; cursor:hand;width: 200px;" src="http://fernando.lagrange.free.fr/Argentina/mon.%20humahuaca.JPG" border="0" alt="" /></a></p>
<p>Un "graf" que j´ai trouvé sympa:<br /><a href="http://fernando.lagrange.free.fr/Argentina/plaza%20humahuaca.JPG"><img style="display:block; margin:0px auto 10px; text-align:center;cursor:pointer; cursor:hand;width: 200px;" src="http://fernando.lagrange.free.fr/Argentina/plaza%20humahuaca.JPG" border="0" alt="" /></a></p>
<p>- mercredi on va a Uquía en bus, bien basique le bus. On monte un peu à partir de la place pour tourner à gauche dans un restau simple. La doña qui nous accueille est bien sympathique. On mange (je prends du llama avec un tamale en entrée). Puis la doña nous indique qu´il y a "Las Señoritas" à aller voir en faisant une ballade d´une heure. Nestor est un peu fatigué (il couve une angine qui l´affaibli), mais on y va avec Cédric.</p>
<p><a href="http://fernando.lagrange.free.fr/Argentina/Uqu%c3%ada%20se%c3%b1oritas%202.JPG"><img style="display:block; margin:0px auto 10px; text-align:center;cursor:pointer; cursor:hand;width: 200px;" src="http://fernando.lagrange.free.fr/Argentina/Uqu%c3%ada%20se%c3%b1oritas%202.JPG" border="0" alt="" /></a></p>
<p>On continue vers le sud en bus pour dormir Tilcara. Puis vers Purmamarca oú il y a la montagne aux 7 couleurs:</p>
<p><a href="http://fernando.lagrange.free.fr/Argentina/Purmamarca%202.JPG"><img style="display:block; margin:0px auto 10px; text-align:center;cursor:pointer; cursor:hand;width: 200px;" src="http://fernando.lagrange.free.fr/Argentina/Purmamarca%202.JPG" border="0" alt="" /></a></p>
<p>où on a pris un chemin qui fait le tour de la montagne.</p>
<p>Il est alors 15h passées et le prochain bus arrive vers 16h40. On décide de faire du stop jusqu´à Jujuy pour aller à Salta. En 2 minutes, une voiture nous sort du village pour nous déposer 3km plus loin à l´embranchement avec la route N9, sur laquelle passent plus de voiture.<br />On marche un peu pour trouver un endroit convenable et on choisi de se mettre en face de la gendarmerie. <br />Nestor et Cédric, déjà habitués, m´expliquent que la grosse boule qui gonfle la joue des gens est la coca.<br />Il y a beaucoup de vent et on commence à avoir froid. Cédric va demander aux flics si on a le droit de faire du stop et si les voitures ont le droit de s´arrêter. Réponse positive dans les deux cas: on continue à faire du stop.<br />Un camion à bestiaux s´arrête enfin et on peut monter à l´arrière. Coup de chance: il va direct à Jujuy !<br />On fait un peu les cons dans le camion, Nestor et Cédrics passent un pantalon et on arrive!<br /><a href="http://fernando.lagrange.free.fr/Argentina/Purmamarca-Jujuy%20dedo.JPG"><img style="display:block; margin:0px auto 10px; text-align:center;cursor:pointer; cursor:hand;width: 200px;" src="http://fernando.lagrange.free.fr/Argentina/Purmamarca-Jujuy%20dedo.JPG" border="0" alt="" /></a><br /><a href="http://fernando.lagrange.free.fr/Argentina/Purmamarca-Jujuy%20dedo%205.JPG"><img style="display:block; margin:0px auto 10px; text-align:center;cursor:pointer; cursor:hand;width: 200px;" src="http://fernando.lagrange.free.fr/Argentina/Purmamarca-Jujuy%20dedo%205.JPG" border="0" alt="" /></a><br /><a href="http://fernando.lagrange.free.fr/Argentina/Purmamarca-Jujuy%20dedo%206.JPG"><img style="display:block; margin:0px auto 10px; text-align:center;cursor:pointer; cursor:hand;width: 200px;" src="http://fernando.lagrange.free.fr/Argentina/Purmamarca-Jujuy%20dedo%206.JPG" border="0" alt="" /></a><br /><a href="http://fernando.lagrange.free.fr/Argentina/Jujuy%20dedo.JPG"><img style="display:block; margin:0px auto 10px; text-align:center;cursor:pointer; cursor:hand;width: 200px;" src="http://fernando.lagrange.free.fr/Argentina/Jujuy%20dedo.JPG" border="0" alt="" /></a></p>
<p>On arrive à Jujuy et rebelote pour aller jusqu´à Salta: on trouve un morceau de carton et on refait du stop.<br /><a href="http://fernando.lagrange.free.fr/Argentina/Jujuy-Salta.JPG"><img style="display:block; margin:0px auto 10px; text-align:center;cursor:pointer; cursor:hand;width: 200px;" src="http://fernando.lagrange.free.fr/Argentina/Jujuy-Salta.JPG" border="0" alt="" /></a></p>
<p>Mais comme il y a 2 routes pour aller à Salta, on ne sait pas trop sur laquelle se mettre... On reste +/-20min. sur la première, puis on va sur la seconde. Là quelqu´un qui passe à vélo le long de l´autoroute nous indique qu´on nous prendra jamais de ce côté: on retourne sur l´autre route et au bout d´un moment un gars s´arrête et nous prends dans sa voiture. Le mec est trop sympa, il est allé en Espagne et parle avec Nestor du pays hibérique. Quand il s´arrête pour faire le plein, il propose à Nestor d´appeller son père à Madrid (c´est son anniversaire) ! O_O Quand on arrive au péage, il refuse l´argent de Cédric. Et quand finalement on est à Salta, il prend le temps d´ausculter (il est médecin [spécialiste des yeux]) la gorge de Nestor et lui dit quoi prendre !</p>
<p>J´hallucine !! Trop sympa !</p>
<p>Sinon hier soir, petit repas (avec coupures de courant à répétition dans le restau) et petites bières dans un bar un peu plus loin...</p>
<p>De Salta, je n´ai pas vu grand chose: je devais faire des papiers (pour le remboursement des affaires achetées):<br />- imprimer mon RIB,<br />- photocopier les factures des vêtements,<br />- faxer le tout (en ajoutant ma réclamation).<br />Ça paraît simple comme ça, mais ça m´a pris presque une journée: au 1er endroit, le photocopieur ne marchait pas. "Allez 2 cuadras plus loin, là-bas ça marche." Là, c´est l´imprimante qui avait rendu l´âme! Je vais au centre, oú je trouve une boutique spécialisée en photocopies. Déjà un truc de fait. Puis à côté j´imprime le RIB. On est presque bon. Mais le fax ne marche pas...3 cuadras plus loin, le fax envoie le tout à Madrid...Ignacio, j´ai mis le télephone et l´adresse de Saint-Ismier, tu devrais avoir du nouveau bientôt.<br />Après je voulais acheter des timbres, mais il m´aurait fallu une autre journée complète...les cartes postales, c´est pas pour demain !
