---
layout: post
status: publish
published: true
title: Llegamos à Córdoba !
author:
  display_name: Low Memory
  login: fernando
  email: fernando@trankil.info
  url: ''
author_login: fernando
author_email: fernando@trankil.info
wordpress_id: 30
wordpress_url: http://blog.trankil.info/?p=30
date: '2007-10-14 16:09:00 +0200'
date_gmt: '2007-10-14 16:09:00 +0200'
categories:
- ancien_blog
tags: []
comments:
- id: 32
  author: LowMemory
  author_email: fernando@no-log.org
  author_url: http://http://www.demo-tic.org
  date: '2012-03-03 16:41:41 +0100'
  date_gmt: '2012-03-03 16:41:41 +0100'
  content: |-
    <p><a href="http://www.blogger.com/profile/05534851713441601048" rel="nofollow">ok</a> a dit...<br />
    <br />
        Seguimos el viaje<br />
        Buena continuacion<br />
        Hasta la proxima<br />
    <br />
        dimanche 14 octobre 2007 20:40:00 UTC+02:00</p> <p><a href="http://www.blogger.com/profile/11534642402098063001" rel="nofollow">Juan</a> a dit...<br />
    <br />
        Super ce voyage dans les étoiles, euh enfin sur les toits!!<br />
        On a fêté l'anni à Nathan! Diego est VENU (tout seul :'( )!!<br />
        10 ans déjà, je deviens de + en + un &quot;vieux [con]&quot; (il ne le dit pas encore mais ça transpire!!) :-P<br />
        J'ai trouvé ici à la foire de Brignoud le drapeau! Nacho le lui a donné aujourd'hui = te fatigues pô ;-)<br />
        Pour les maillots, tu laisses tomber!! =&gt; je les trouverai par internet !!<br />
        Le match de los Pumas vient de se terminer, snif!! Mais les SpringBox sont vraiement meilleurs que nous ce soir!! =&gt; C'est pô mal on retrouvera la France pour la p'tite Finale Vendredi ;-)<br />
        Fini bien ton voyage !!<br />
        Mets des photos du barrage : BETON, BETOOOONNNN !!!!!<br />
    <br />
        dimanche 14 octobre 2007 22:58:00 UTC+02:00</p>
---
<p>On est parti vendredi soir (20h) de Salta pour arriver au matin (9h) à Còrdoba.</p>
<p>On arrive à l´hostal qu´on avait repéré dans le Lonely Planet, mais il est complet... Ils nous indiquent un autre hostal, complet aussi...</p>
<p>En fait pendant les 2 premiers week-ends d´octobre, c´est l´Oktoberfest (comme à Munich, des descendants allemands entretiennent la tradition). Du coup, pleins de gens des environs (et d´ailleurs) viennent se loger à Còrdoba pour aller faire la fête à Villa Gal Belgrano (à 30km de là).</p>
<p>On essaye encore 3 hôtels et on décide de se poser dans un telecentro (internet + téléphone) pour faire une recherche par telecommunications plutôt qu´à pied.<br />Aprés 6-7 appels infructueux, un gars sympa nous indique qu´il n´a pas de place mais qu´on peut dormir sur le toit.<br />Faute de mieux, un peu dégoutés, on prends un taxi pour l´hostal. Là, le gars (Victor) est supersympa et nous explique que l´hotel a été pris d´assaut par une colonie de femmes d´âge mûr qui sont venues pour le colloquio naciónal de las mujeres. "Comme est sont exigeantes et ne comprennent pas trop l´esprit des auberges de jeunesses, on exorcise un peu tout ça avec un asado + vin + bière + ... sur le toit de l´hostal".<br />Le temps d´organiser ça en jouant de la guitarre sur le toit, des Irlandais débarquent: ils avaient réservé dans un hostel, mais on leur a pris leur place !!<br />On file tous 15 pesos à Victor, qui va faire les courses avec Antoine, Alain et Olivier (chorizo, lechuga, tomate, pan, vino, cerveza y carbon de leña). Les deux premiers français font un tour d´Amérique Latine à vélo, le dernier fait son stage à BsAs.</p>
<p>On désosse une palette de bois avec Nestor et quand la viande arrive, on prépare le feu. On mange, on discute, puis certains veulent sortir (samedi soir oblige). Perso, je suis pas mal pour aller dormir, donc je me trouve 2 palettes comme sommier et je dors dans le sac de couchage que Victor m´a filé...à 6h du matin, je me réveille: la fermeture éclair de mon sac s´est ouverte...en la remettant bien, je jette un oeil dans la rue: la boîte est ouverte et il y a une queue d´une 50aine de mettre de gens qui veulent entrer ! à 6h du mat´!!<br />Il sont fous ces Argentins ! ;-)</p>
<p>Lá je suis allé faire un tour en ville, Moalito se repose et Nestor est allé à l´hôpital. Il a quelque chose à l´oeil et la Farmacienne a pas pu lui dire ce que c´était... On dirait un orgelet ou un apetigo (?) dans la paupière... J´espère que c´est pas trop grave, j´en saurais plus quand il reviendra.</p>
<p>Sinon, la suite du programme c´est: ce soir aller à l´Oktoberfest, demain (lundi) mon bus part pour Puerto Iguazú à 12h30. Je compte aller au barrage d´Itaïpu soit mardi soit mercredi, donc repartir mercredi soir ou jeudi pour Río et de la, mon avion décolle à 22h vendredi...
