---
layout: post
status: publish
published: true
title: 'Argentina: aquí estoy !'
author:
  display_name: Low Memory
  login: fernando
  email: fernando@trankil.info
  url: ''
author_login: fernando
author_email: fernando@trankil.info
wordpress_id: 34
wordpress_url: http://blog.trankil.info/?p=34
date: '2007-10-04 23:24:00 +0200'
date_gmt: '2007-10-04 23:24:00 +0200'
categories:
- ancien_blog
tags: []
comments:
- id: 35
  author: LowMemory
  author_email: fernando@no-log.org
  author_url: http://http://www.demo-tic.org
  date: '2012-03-03 17:07:29 +0100'
  date_gmt: '2012-03-03 17:07:29 +0100'
  content: |-
    <p><a href="http://www.blogger.com/profile/05534851713441601048" rel="nofollow">ok</a> a dit...<br />
    <br />
        como termino el partido y como quedaste?<br />
    <br />
        vendredi 5 octobre 2007 11:23:00 UTC+02:00</p> <p><br />
    <a href="http://www.blogger.com/profile/11534642402098063001" rel="nofollow">Fernando</a> a dit...<br />
    <br />
        El partido 5 contra 5 fue bueno, los que iban ganando justo perdieron al final, yo me quede con los pies echos mierda !<br />
    <br />
        samedi 6 octobre 2007 08:03:00 UTC+02:00</p> <p><a href="http://www.blogger.com/profile/11534642402098063001" rel="nofollow">Juan</a> a dit...<br />
    <br />
        Hello Fefer!!<br />
        C'est cool!!<br />
        Essaies de nous mettre un mot tous les jours ou tu peux!!<br />
        Saludos a los primos, tias y tios!!<br />
    <br />
        samedi 6 octobre 2007 18:14:00 UTC+02:00</p>
---
<p>Ça y est, j´ai pris l´avion hier... avec un retard pas trop important: départ pour Madrid 22h au lieu de 21h20...<br />Puis course á 1h du mat´ dans l´aéroport madrileñe pour le départ américain !</p>
<p>Résultat des courses: arrivée á 10h30 au lieu de 9h30 á Buenos Aires (Ezeiza)... passage á la douane sans problémes, puis attente des baggages pendant 2h pour se rendre la mort dans l´âme au comptoir des réclamations (comme une trentaine de personnes qui ont fait une escale avant Madrid) !</p>
<p>Donc pas de photos (l´appareil était dans le sac á dos, comme 100euros -au k ou-) :-(  et plus rien pour m´habiller...mais "no hay mal que por bien no venga" (ou l´inverse?) :</p>
<p>La bonne nouvelle c´est que Air Europe me paye 100euros de fringues !</p>
<p>Sinon j´ai quand même pu m´installer au <a href="http://www.oohostel.com.ar/">http://www.oohostel.com.ar</a>, aller voir mes cousins Nico et Lucas et Chachi (qui est parti préparer un concert du tonnerre pour demain soir).</p>
<p>Et lá on vient de m´inviter pour un foot á 11h ce soir... Argentina ! :-)
