---
layout: post
status: publish
published: true
title: Itaïpu
author:
  display_name: Low Memory
  login: fernando
  email: fernando@trankil.info
  url: ''
author_login: fernando
author_email: fernando@trankil.info
wordpress_id: 28
wordpress_url: http://blog.trankil.info/?p=28
date: '2007-10-26 02:27:00 +0200'
date_gmt: '2007-10-26 02:27:00 +0200'
categories:
- ancien_blog
tags: []
comments:
- id: 30
  author: LowMemory
  author_email: fernando@no-log.org
  author_url: http://http://www.demo-tic.org
  date: '2012-03-03 16:36:13 +0100'
  date_gmt: '2012-03-03 16:36:13 +0100'
  content: |-
    <a href="http://www.blogger.com/profile/11534642402098063001" rel="nofollow">Juan</a> a dit... <p>C'EST NEYRPIC !!!! un client à moâ ;-)<br />
    Fer a écrit:&quot;ils coulaient en 55min l'équivalent d'un immeuble de 22 étages, et ce 24h/24 !!<br />
    Au total, 18 &quot;blocs doubles&quot; de 34m de large sur 196m de haut au maximum !!!&quot; ...<br />
    Mon rêve ... (snif :'( )<br />
    BETON, BETON, BETON, BETON, BETON, BETON, BETON, BETON,... !!!</p> vendredi 26 octobre 2007 19:09:00 UTC+02:00
---
<p>Après un aller-retour sur l'avenue brésilienne je décide de prendre un petit casse-croute.</p>
<p>En entrant dans le restaurant, un commis me passe un papier jaune avec un grand tableau dessus. Je passe devant les vitrines et indique ce que je  veux manger à la serveuse qui me dit quelque chose d'incompréhensible.<br />Voyant que j'attends sur place que ce soit chaud, elle me fait des gestes et je comprends que je peux aller m'asseoir à une table.</p>
<p>J'en profite pour jeter un oeil au papier reçu à l'entrée: c'est la liste des plats disponibles ! En attendant, je feuillete le plan de Foz do Iguaçu que j'ai eu au terminal urbain des bus pour savoir où se trouve le rodovia, d'où part mon bus pour Rio le lendemain.</p>
<p>Un serveur arrive avec les plats chauds (sauf le dessert, qui est glacé ;-) ), il pose tout sur la table et coche les cases correspondantes sur le papier jaune. Je me régale et passe à la caisse pour payer. La caissière agraphe la facture au papier jaune et je sors. Enfin, j'essaye de sortir, mais le commis veut récupérer les papiers. Je lui laisse volontier et pars pour Itaïpu.</p>
<p>25min de bus plus tard, je descends à Itaïpu. Je fais la queue pour acheter un billet, je demande à faire la visite dans le barrage et dans la réserve écologique.<br />On me dit pour entrer dans les locaux, il faut acheter son billet au guichet des "entrées spéciales" à côté...Je suis bon pour refaire la queue...<br />Heureusement, pas grand monde et là on me dit qu'on ne peut pas faire la visite interne et la reserve écologique en une après-midi...donc ce sera la visite interne (et externe) du barrage.</p>
<p><a onblur="try {parent.deselectBloggerImageGracefully();} catch(e) {}" href="http://fernando.lagrange.free.fr/Argentina/Ita%c3%afpu%20maquette.JPG"><img style="display:block; margin:0px auto 10px; text-align:center;cursor:pointer; cursor:hand;width: 200px;" src="http://fernando.lagrange.free.fr/Argentina/Ita%c3%afpu%20maquette.JPG" border="0" alt="" /></a></p>
<p>La maquette est pas impressionnante, mais le barrage est ENORME !! Les jours où ils posé le béton, il coulaient en 55min l'équivalent d'un immeuble de 22 étages, et ce 24h/24 !!<br />Au total, 18 "blocs doubles" de 34m de large sur 196m de haut au maximum !!!</p>
<p>On nous a projeté un film (les entrées spéciales étaient au balcon, s'il vous plaît) qui présente tout le projet avec un discours axé sur les conditions naturelles, l'érosion du lit de la rivière préservé et la création d'un canal pour la reproduction des poissons (utilisé par 132 espèces sur ~153 présentes dans le site).</p>
<p>Après le film, un minibus aux vitres teintées (climatisé et molletoné) nous emmène à un côté du barrage. L'époque n'est pas aux grandes eaux, aussi j'ai vu ce qu'il y a sur la photo, sans les cascades du bas. :-(<br /><a onblur="try {parent.deselectBloggerImageGracefully();} catch(e) {}" href="http://fernando.lagrange.free.fr/Argentina/Ita%c3%afpu%20quand%20y'a%20trop%20d'eau.JPG"><img style="float:right; margin:0 0 10px 10px;cursor:pointer; cursor:hand;width: 200px;" src="http://fernando.lagrange.free.fr/Argentina/Ita%c3%afpu%20quand%20y'a%20trop%20d'eau.JPG" border="0" alt="" /></a></p>
<p>On reprends le minivan pour aller tout en haut du barrage. Et là, d'un côté il y a le lac de rétention (qui contient l'équivalent de 5000l d'eau par humain) et de l'autre la continuation du Rio Parana.<br />(cf les panoramique d'Itaïpu dans http://fernando.lagrange.free.fr/Argentina/ )</p>
<p>Tout en bas, on voit un bus qui passe, on dirait un majorette !<br /><a onblur="try {parent.deselectBloggerImageGracefully();} catch(e) {}" href="http://fernando.lagrange.free.fr/Argentina/Ita%c3%afpu%20bus.JPG"><img style="display:block; margin:0px auto 10px; text-align:center;cursor:pointer; cursor:hand;width: 200px;" src="http://fernando.lagrange.free.fr/Argentina/Ita%c3%afpu%20bus.JPG" border="0" alt="" /></a></p>
<p>Retour au bus, qui nous descend au pieds des tubes qui emmènent l'eau jusqu'aux turbines (1 tube par turbine, 20 turbines au total).<br /><a onblur="try {parent.deselectBloggerImageGracefully();} catch(e) {}" href="http://fernando.lagrange.free.fr/Argentina/Ita%c3%afpu%20entr%c3%a9e%20turbine.JPG"><img style="display:block; margin:0px auto 10px; text-align:center;cursor:pointer; cursor:hand;width: 200px;" src="http://fernando.lagrange.free.fr/Argentina/Ita%c3%afpu%20entr%c3%a9e%20turbine.JPG" border="0" alt="" /></a></p>
<p><a onblur="try {parent.deselectBloggerImageGracefully();} catch(e) {}" href="http://fernando.lagrange.free.fr/Argentina/Ita%c3%afpu%20helmet.JPG"><img style="display:block; margin:0px auto 10px; text-align:center;cursor:pointer; cursor:hand;width: 200px;" src="http://fernando.lagrange.free.fr/Argentina/Ita%c3%afpu%20helmet.JPG" border="0" alt="" /></a></p>
<p>On enfile nos casques et on entre pour une présentation de l'intérieur. Le barrage est rempli de pierre, gravier et sable, pas de béton: le béton est uniquement sur les murs du barrage. Ils ont du dévier le Rio Parana, le temps de construire le barrage. Des travaux pharaoniques !</p>
<p>On descends les escalators pour observer la salle de contrôle (cf panoramique dans http://fernando.lagrange.free.fr/Argentina ). On voit bien les anciens instruments analogiques sur les murs et les nouveaux ordinateurs à écran plats et l'écran géant, qui indiquent ~11000 Mega Watts en cours de production. (Pour info, 10 turbines sont Paraguayennes et 10 sont Brésilliènes, le Paraguay utilise l'énergie de 1.5 turbine pour 90% de son électricité et revends le reste au Brésil, qui comble ~23% de son energie avec les 18.5 turbines restantes...)</p>
<p>Ensuite on prend l'ascenseur/monte-charge. On se ballade dans la galerie des générateurs qui fait 968m de long, 99m de large sous un toit à 112m ! O_O</p>
<p>On voit passer des ouvriers à pied, à vélo, en voiture de golf, j'ai pas vu de rollers, mais ça doit filer sur du plat comme ça !</p>
<p>On attend un autre ascenseur (limité à 15 personnes celui-là) pour visiter un turbine (la 14, mais la 13 est en maintenance et y'a pas mal de monde qui monte et qui descend). Je fait une remarque sur les 2 poubelles (recyclable/organique) et une autre touriste m'indique le cendrier à côté.<br />On descend voir l'axe de la turbine qui tourne à ~92 tour par minute dans un bruit d'usine !<br /><a onblur="try {parent.deselectBloggerImageGracefully();} catch(e) {}" href="http://fernando.lagrange.free.fr/Argentina/Ita%c3%afpu%20turbine%20axe%20tournant.JPG"><img style="display:block; margin:0px auto 10px; text-align:center;cursor:pointer; cursor:hand;width: 200px;" src="http://fernando.lagrange.free.fr/Argentina/Ita%c3%afpu%20turbine%20axe%20tournant.JPG" border="0" alt="" /></a></p>
<p>Bref, une construction gigantesque faite par l'homme. Saurez-vous retrouver l'usine grenobloise qui a aidé à la construction de la turbine 14 ? (cliquez sur l'image suivante pour l'afficher en pleine résolution...)<br /><a onblur="try {parent.deselectBloggerImageGracefully();} catch(e) {}" href="http://fernando.lagrange.free.fr/Argentina/Ita%c3%afpu,%20trouver%20grenoble.JPG"><img style="display:block; margin:0px auto 10px; text-align:center;cursor:pointer; cursor:hand;width: 200px;" src="http://fernando.lagrange.free.fr/Argentina/Ita%c3%afpu,%20trouver%20grenoble.JPG" border="0" alt="" /></a>
