---
layout: post
status: publish
published: true
title: Petit bilan
author:
  display_name: Low Memory
  login: fernando
  email: fernando@trankil.info
  url: ''
author_login: fernando
author_email: fernando@trankil.info
wordpress_id: 35
wordpress_url: http://blog.trankil.info/?p=35
date: '2007-01-26 01:45:00 +0100'
date_gmt: '2007-01-26 01:45:00 +0100'
categories:
- ancien_blog
tags: []
comments: []
---
<p>Avant tout : Bonne Année 2007 !</p>
<p>En ces temps de bilan et autres résolutions, je constate qu'il y a un moment que je n'ai pas  posté sur ce blog !</p>
<p>Des raisons diverses et variées me viennent à l'esprit, la principale étant que je n'ai pas voyagé hors de la république française grâce au boulot depuis mon retour du Japon.</p>
<p>Peut-être est-ce que je publierai des photos de mon voyage perso (avec toute une bande de joyeux lurons :-) ) au Sénégal pendant l'été 2005... peut-être...
