---
layout: post
status: publish
published: true
title: Qué día!
author:
  display_name: Low Memory
  login: fernando
  email: fernando@trankil.info
  url: ''
author_login: fernando
author_email: fernando@trankil.info
wordpress_id: 33
wordpress_url: http://blog.trankil.info/?p=33
date: '2007-10-07 15:17:00 +0200'
date_gmt: '2007-10-07 15:17:00 +0200'
categories:
- ancien_blog
tags: []
comments: []
---
<p>Vendredi, réveil tranquille (et inondé par une des premières pluies torrentielles de la saison :-/ ) à l´hostel; petit déj et départ pour chez Ricardo qui m´accueille chaleureusement.</p>
<p>On discute du plan de la journée: on convient d´aller faire quelques emplettes de fringues chez C&amp;A: prix sympas et qualité ad-hoc. Quelques arrêts de métro, 1 pantalon, 2 tee-shirts, 6 paires de chaussettes et 2 caleçons plus tard, Ricardo me laisse le choix du menu. À cause de (ou grâce à) quelques épices maternelles, le plat fut relevé juste ce qu´il faut.<br /><strong>Quel Chef !</strong></p>
<p>Le temps ne s´arrangeant pas, nous sommes restés chez lui à visionner des films, comme prévu. Les Luthiers sont toujours aussi géniaux en concert, malgré plus de 40 ans de bon et loyaux services et de la perte d´un des leurs.</p>
<p>Après 2-3 coups de fils, j´ai pu entrer en contact avec Tamara (la copine de Chachí) On se retrouve devant le Téatro Colón (en réparations) pour aller au concert du couz´: les 100 ans du collège San Alban. Le spectacle a commencé en début d´aprés-midi, il durera jusqu´à 1h30 du mat´ !</p>
<p>J´ai vu un Chachí envoyer du gros son à la batterie avec du rock bien synchro qui déchire ! :-)</p>
<p>Ensuite, galère pour trouver un remis pour rentrer à 2h du mat´! On en appelle 2 : 1 pour la batterie et 1 pour nous. Mais quand le premier est là, on arrive à rentrer tout et tous ! \o/<br />Direction l´hostel pour poser la batterie...ça tombe bien: c´est là que je crèche ! ;-)<br />Arrivée 3h du mat´ = dodo.
