---
layout: post
status: publish
published: true
title: Belarus, here I am !
author:
  display_name: Low Memory
  login: fernando
  email: fernando@trankil.info
  url: ''
author_login: fernando
author_email: fernando@trankil.info
wordpress_id: 27
wordpress_url: http://blog.trankil.info/?p=27
date: '2008-04-16 21:39:00 +0200'
date_gmt: '2008-04-16 21:39:00 +0200'
categories:
- ancien_blog
tags: []
comments: []
---
<p>Un petit mot pour passer le bonjour depuis Minsk (capitale de la Biélorussie).</p>
<p>Je rentre d'un bon petit repas bien arrosé, après un début de semaine bien chargé !</p>
<p>Les bâtiments sont bien massifs, super éclairés la nuit. Les rues ont l'air sûres (des djeun's qui boivent des bières le soir, mais ils laissent tout le monde tranquille) !</p>
<p>J'ai pas encore eu le temps de voir grand chose étant donné qu'on bosse comme des oufs dans une ancienne salle de classe recyclée en "war room" pour pouvoir bien bosser et avancer rapidement...</p>
<p>Je vous poste quand même une photo d'ours, et une d'un bâtiment. Le premier qui me dit quel est la fonction du bâtiment a droit à une vodka.</p>
<p>Bon, ben, en fait j'ai plus de piles ! Du coup, ça attendra que je trouve de l'énergie électrique !</p>
<p>PS: et pour tous ceux qui attendent des photos de meufs, elles sont trop belles et sophistiquées pour que je fasse le lourd à sortir mon appareil (qui marche déjà plus ! ;-) )....</p>
<p>hasta la vista !
