---
layout: post
status: publish
published: true
title: Le Black Pearl
author:
  display_name: Low Memory
  login: fernando
  email: fernando@trankil.info
  url: ''
author_login: fernando
author_email: fernando@trankil.info
wordpress_id: 13
wordpress_url: http://blog.trankil.info/?p=13
date: '2009-12-01 23:29:00 +0100'
date_gmt: '2009-12-01 23:29:00 +0100'
categories:
- ancien_blog
tags: []
comments:
- id: 20
  author: LowMemory
  author_email: fernando@no-log.org
  author_url: http://http://www.demo-tic.org
  date: '2012-03-03 16:17:55 +0100'
  date_gmt: '2012-03-03 16:17:55 +0100'
  content: |-
    <a href="http://www.blogger.com/profile/11534642402098063001" rel="nofollow">Juan</a> a dit… <p>Hello Fefer!<br />
    De la balle ces paysages de mer paradisiaque!!<br />
    Vivement la suite...</p> vendredi 4 décembre 2009 01:40:00 UTC+01:00<br />
    <br />
    Anonyme a dit… <p>en fait, je pense que l'objet c'est une espèce de plateau où on pose la note du resto<br />
    A+9.3</p> vendredi 4 décembre 2009 08:27:00 UTC+01:00<br />
    <br />
    <a href="http://www.blogger.com/profile/16148718012563227823" rel="nofollow">Maria, julien y flia</a> a dit… <p>Trop beau! Qu'est ce que c'est vert!<br />
    Faut profiter et manger du poisson à tous les repas, muuummmmm!</p> vendredi 4 décembre 2009 21:47:00 UTC+01:00<br />
    <br />
---
<p>Je suis passé à l'Île aux Canards, c'était vraiment incroyable de voir pleins de poissons tout prêt du récif de corail !<br />Un vue de Nouméa (l'Anse Vata) depuis l'Île aux Canards:<br /><a href="http://demotic.fr/photos/cache/Kanaky/20091130/PICT0003_595.jpg"><img style="margin: 0 auto 10px; display: block; text-align: center; cursor: pointer; width: 595px; height: 446px;" src="http://demotic.fr/photos/cache/Kanaky/20091130/PICT0003_595.jpg" alt="" border="0" /></a></p>
<p>Bon, par contre, j'ai chopé pleins de coups de soleils: j'avais oublié la crème à la maison !! :-(</p>
<p>Le lendemain, lever tranquille à Koutio chez Fabrice Wadriako (je me reposais de mes coups de soleil).</p>
<p>Cédric est passé me chercher. Il m'a laissé en ville, le temps pour moi de préparer mon voyage à l'Île des Pins la semaine prochaine (l'agence prend tout de même 2000 Francs CFP de frais !). Au final, j'ai réservé un gîte avec pour mission de réserver la pirogue et le repas sur place en arrivant. Je pense que je vais louer une voiture ou un vélo pour me balader sur l'île... à voir.</p>
<p>Un peu plus tard, cédric est repassé me prendre pour qu'on aille manger dans un squat à Nouville au restaurant "Le Black Pearl". Ses parents avaient réservé pour manger des écrevisses, je me suis "contenté" d'un bec de canne (un type de poisson)  accompagné de babanes et d'une entrée de papayes et de tomates. C'était super bon (et pas trop cher: 3000 Francs CFP).</p>
<p>Les photos sont prises depuis la terrase du restaurant (avec l'île aux mouettes en dernier):</p>
<p><a href="http://demotic.fr/photos/cache/Kanaky/20091201/PICT0001_595.jpg"><img style="margin: 0 auto 10px; display: block; text-align: center; cursor: pointer;width: 595px; height: 446px;" src="http://demotic.fr/photos/cache/Kanaky/20091201/PICT0001_595.jpg" alt="" border="0" /></a></p>
<p><a href="http://demotic.fr/photos/cache/Kanaky/20091201/PICT0002_595.jpg"><img style="margin: 0 auto 10px; display: block; text-align: center; cursor: pointer;width: 595px; height: 446px;" src="http://demotic.fr/photos/cache/Kanaky/20091201/PICT0002_595.jpg" alt="" border="0" /></a></p>
<p><a href="http://demotic.fr/photos/cache/Kanaky/20091201/PICT0003.JPG_595.jpg"><img style="margin: 0 auto 10px; display: block; text-align: center; cursor: pointer;width: 595px; height: 446px;" src="http://demotic.fr/photos/cache/Kanaky/20091201/PICT0003.JPG_595.jpg" alt="" border="0" /></a></p>
