---
layout: post
status: publish
published: true
title: Arrivée en Nouvelle Calédonie !
author:
  display_name: Low Memory
  login: fernando
  email: fernando@trankil.info
  url: ''
author_login: fernando
author_email: fernando@trankil.info
wordpress_id: 25
wordpress_url: http://blog.trankil.info/?p=25
date: '2009-11-24 07:27:00 +0100'
date_gmt: '2009-11-24 07:27:00 +0100'
categories:
- ancien_blog
tags: []
comments:
- id: 28
  author: LowMemory
  author_email: fernando@no-log.org
  author_url: http://http://www.demo-tic.org
  date: '2012-03-03 16:30:38 +0100'
  date_gmt: '2012-03-03 16:30:38 +0100'
  content: |-
    <a href="http://www.blogger.com/profile/02993645740046421260" rel="nofollow">Sylvain aka Renfield</a> a dit... <p>Dis donc ? T'oubliera pas le cours de tennis de vendredi hein ?</p> mardi 24 novembre 2009 14:21:00 UTC+01:00<br />
    <br />
    Anonyme a dit... <p>Podes elejir para ir el domingo (aquí smiley de risa)<br />
    <br />
    ¿Ya fuiste a la playa?<br />
    <br />
    Buena continuación<br />
    <br />
    Nos vemos JL</p> mardi 24 novembre 2009 21:04:00 UTC+01:00<br />
    <br />
    Anonyme a dit... <p>A+ pregunta ¿donde está &quot;la place des cocotiers&quot;?<br />
    <br />
    Hasta pronto<br />
    PS elegir con &quot;g&quot;</p> mercredi 25 novembre 2009 15:53:00 UTC+01:00<br />
    <br />
    <a href="http://www.blogger.com/profile/11534642402098063001" rel="nofollow">Juan a dit...</a> <p>Hello Fefer<br />
    Cool le blog!!<br />
    Mets nous pleins de photos.<br />
    Fais attention JL peut en cacher un autre ;)<br />
    Profites bien!!<br />
    A+</p> samedi 28 novembre 2009 12:07:00 UTC+01:00
---
<p>Ça y est je suis arrivé en Kanaky !!</p>
<p>Après une escale à la Réunion et une autre en Australie (Sydney), je suis arrivé à l'aéroport.</p>
<p>Sur le chemin pour louer une voiture, les 2 Cédrics m'appellent: ils sont là pour m'emmener chez les Wadriako ! À l'arrache mais dans les temps ! ;-)</p>
<p>Après une courte nuit (et avoir croisé mon voisin dans l'avion que Papa Wadriako est allé cherché à l'aéroport ! O_O ), et une bonne grasse mat', on est partis se balader avec Waej, la copine de Pierrot et leur fils Esaïe.</p>
<p>On a vu la place des cocotiers, la catédrale chretienne:</p>
<p><a onblur="try {parent.deselectBloggerImageGracefully();} catch(e) {}" href="http://demotic.fr/photos/cache/Kanaky/Jour_1/Cath%E9drale.JPG_595.jpg"><img style="margin: 0px auto 10px; display: block; text-align: center; cursor: pointer; width: 446px; height: 595px;" src="http://demotic.fr/photos/cache/Kanaky/Jour_1/Cath%E9drale.JPG_595.jpg" alt="" border="0" /></a></p>
<p>et le temple protestant:<br /><a onblur="try {parent.deselectBloggerImageGracefully();} catch(e) {}" href="http://demotic.fr/photos/cache/Kanaky/Jour_1/Temple_escalier.JPG_595.jpg"><img style="margin: 0px auto 10px; display: block; text-align: center; cursor: pointer; width: 595px; height: 446px;" src="http://demotic.fr/photos/cache/Kanaky/Jour_1/Temple_escalier.JPG_595.jpg" alt="" border="0" /></a>
