---
layout: post
status: publish
published: true
title: Plan de Noumea
author:
  display_name: Low Memory
  login: fernando
  email: fernando@trankil.info
  url: ''
author_login: fernando
author_email: fernando@trankil.info
wordpress_id: 24
wordpress_url: http://blog.trankil.info/?p=24
date: '2009-11-27 11:29:00 +0100'
date_gmt: '2009-11-27 11:29:00 +0100'
categories:
- ancien_blog
tags: []
comments:
- id: 27
  author: LowMemory
  author_email: fernando@no-log.org
  author_url: http://http://www.demo-tic.org
  date: '2012-03-03 16:27:33 +0100'
  date_gmt: '2012-03-03 16:27:33 +0100'
  content: |-
    Anonyme a dit... <p>Te escribe &quot;el secretario&quot; de A+ que quiere saber:<br />
    <br />
    1°- ¿Quién fue el primer europeo que llego a N Caledonie (descubridor; sic)?<br />
    2°- ¿Las manzanas (pâté de maisons) tienen 100 m de lado (cuadra) como en Bs As? (4OO-500m de largo la plaza)<br />
    3°- Besos A+<br />
    <br />
    Me alegra saber que lo pasan bien.<br />
    Saludos de Maria, Julien y los chicos (Mathias aprecio los dibujos de las BD)<br />
    Nos vemos JL</p> vendredi 27 novembre 2009 13:24:00 UTC+01:00<br />
    <br />
    <a href="http://www.blogger.com/profile/02993645740046421260" rel="nofollow">Sylvain aka Renfield</a> a dit... <p>Des photos ! Des photos ! ;o)</p> samedi 28 novembre 2009 05:28:00 UTC+01:00<br />
    <br />
    <a href="http://www.blogger.com/profile/11534642402098063001" rel="nofollow">Juan</a> a dit... <p>Des photos!! Des photos!!<br />
    Il a raison Sylvain!!<br />
    A+</p> samedi 28 novembre 2009 12:10:00 UTC+01:00<br />
    <br />
    <a href="http://www.blogger.com/profile/16148718012563227823" rel="nofollow">Maria, julien y flia</a> a dit... <p>Oui, oui, des photos,des photos,des photos!!!!<br />
    bises</p> samedi 28 novembre 2009 13:04:00 UTC+01:00
---
<p>Bonsoir,</p>
<p>la place des cocotiers est juste à côté de la place Feillet, où on trouve un magnifique kiosque (qui rappelle celui du Jardin de Ville de Grenoble), on peut la voir à la gauche de <a href="http://www.openstreetmap.org/?lat=-22.271265&amp;lon=166.441654&amp;zoom=18&amp;layers=B000FTF">cette carte</a>.<br /> (que vous pouvez retrouve en faisant une recherche sur "gouverneur jean-baptiste olry" sur le site http://openstreetmap.org ou sur http://osm.org/go/vigzj7HEg-- pour l'instant ).</p>
<p>Durant la journée des femmes battues, avant-hier, beaucoup s'est réunies en blanc tout autour de la place.</p>
<p>Sur la place des cocotiers, on trouve aussi l'office du tourisme, avec beaucoup de brochures différentes sur les différentes parties du territoire. ;-)</p>
<p>Les gens sont super sympa et il savent ce qu'il y a à visiter et comment le faire.</p>
<p>Cette place s'appelle officiellement "Gouverneur Jean-Baptiste Olry", mais tout le monde l'appelle place des cocotiers. ;-)</p>
<p>J'ai passé une première semaine vraiment sympa: plage, mer, soleil et j'aime trouver <a href="http://www.brousse-en-folie.com/">des BDs typiques du coin à lire</a>: trop bien !</p>
<p>Désolé, j'ai pas le temps d'envoyer des photos: il faut qu'on rentre à la maison (il est 22h30, et ici le réveil est à 6h, même le samedi ! O_O ).</p>
<p>@+ pour des nouvelles</p>
<p>Saludos à todos, y gracias por los comentarios !!</p>
<p>Fernando
