---
layout: post
status: publish
published: true
title: Le paradis des Îles !
author:
  display_name: Low Memory
  login: fernando
  email: fernando@trankil.info
  url: ''
author_login: fernando
author_email: fernando@trankil.info
wordpress_id: 12
wordpress_url: http://blog.trankil.info/?p=12
date: '2009-12-06 21:27:00 +0100'
date_gmt: '2009-12-06 21:27:00 +0100'
categories:
- ancien_blog
tags: []
comments:
- id: 11
  author: LowMemory
  author_email: fernando@no-log.org
  author_url: http://http://www.demo-tic.org
  date: '2012-03-03 16:12:18 +0100'
  date_gmt: '2012-03-03 16:12:18 +0100'
  content: |-
    <a href="http://www.blogger.com/profile/02993645740046421260" rel="nofollow">Sylvain aka Renfield</a> a dit... <p>C'est officiel : je te hais. :o)</p> lundi 7 décembre 2009 00:08:00 UTC+01:00<br />
    <br />
    <a href="http://www.blogger.com/profile/02993645740046421260" rel="nofollow">Sylvain aka Renfield</a> a dit... <p>Bon, celle-ci c'est obligé : je vais devoir l'envoyer à nos camarade du tennis. :)</p> mardi 8 décembre 2009 11:51:00 UTC+01:00<br />
---
<p>Je sais pas si c'est d'avoir fait la fête jusqu'à 4h la veille du départ (à 4h30), la présence de Loulou (dirigeant du Parti Travailliste), le soleil aveuglant sur le sable blanc, le sourire des Kanaks dès qu'un salut est fait ou tout simplement  l'accueil chaleureux qui m'est fait ici, mais Lifou est incroyablement beau, magnifique, magique, fantastique, il n'y a pas de mot pour décrire cet endroit !</p>
<p><a href="http://www.trankil.info/photos/cache/Kanaky/20091205/PICT0061_595.jpg"><img style="display:block; margin:0 auto 10px; text-align:center;cursor:pointer; cursor:hand;width: 200px; height: 150px;" src="http://www.trankil.info/photos/cache/Kanaky/20091205/PICT0061_595.jpg" alt="" border="0" /></a></p>
<p>Je vous laisse, je vais à la plage fêter la "victoire" du Parti Travailliste ! :-P</p>
