---
layout: post
status: publish
published: true
title: 'Hello everybody !Alors pour répondre aux anonymes: le'
author:
  display_name: Low Memory
  login: fernando
  email: fernando@trankil.info
  url: ''
author_login: fernando
author_email: fernando@trankil.info
wordpress_id: 11
wordpress_url: http://blog.trankil.info/?p=11
date: '2009-12-01 00:22:00 +0100'
date_gmt: '2009-12-01 00:22:00 +0100'
categories:
- ancien_blog
tags: []
comments:
- id: 10
  author: LowMemory
  author_email: fernando@no-log.org
  author_url: http://http://www.demo-tic.org
  date: '2012-03-03 16:24:31 +0100'
  date_gmt: '2012-03-03 16:24:31 +0100'
  content: |-
    Anonyme a dit... <p>The Patron Pager = ¿Un posa vasos electronico?<br />
    Nos vemos JL</p> mardi 1 décembre 2009 08:09:00 UTC+01:00<br />
    <br />
    <a href="http://blog.trankil.info" rel="nofollow">Fernando</a> a dit... <p>Non: c'est pas un sous-verre électronique...mais c'est bien dans le même type de lieu (où il y a des verres) qu'on l'utilise...</p> mercredi 2 décembre 2009 00:18:00 UTC+01:00<br />
    <br />
    <a href="http://www.blogger.com/profile/11534642402098063001" rel="nofollow">Juan</a> a dit... <p>Hello<br />
    Dur dur la belle vie!! Tennis, plage, ballades, bouffes, promenades,...<br />
    Merci pour les photos de la galerie ;)<br />
    Prends des paysages. Ils ont l'air superbes!!<br />
    Profites, profites.<br />
    <br />
    L'objet photographié est un réceptacle à dés pour jouer des parties types 421.<br />
    A+</p> mercredi 2 décembre 2009 21:09:00 UTC+01:00<br />
    <br />
    <a href="http://blog.trankil.info" rel="nofollow">Fernando</a> a dit... <p>Nope: c'est pas une piste de 3D6 !<br />
    <br />
    Un petit indice: on nous l'a filé quand on a commandé au snack sur la plage...</p> mercredi 2 décembre 2009 22:35:00 UTC+01:00<br />
    <br />
    Anonyme a dit... <p>Fer,<br />
    llego tu postal ! con una enorme estampilla !!!<br />
    realment no me sorprendre que los franceses suenen con las islas !<br />
    <br />
    espero la siguiente !<br />
    <br />
    besos,<br />
    A+9</p> jeudi 3 décembre 2009 08:36:00 UTC+01:00<br />
    <br />
    Anonyme a dit... <p>je sais !<br />
    <br />
    c'est une chaîne de messagerie pour le règlement par carte<br />
    signé par la chaîne de restos<br />
    <br />
    A+9</p> jeudi 3 décembre 2009 08:51:00 UTC+01:00<br />
    <br />
    <a href="http://blog.trankil.info" rel="nofollow">Fernando</a> a dit... <p>Eh non, c'est toujours pas ça...<br />
    <br />
    Allez je vous le dit: c'est simplement un objet qui nous est remis une fois qu'on a passé la commande. Dès qu'il se met à vibrer, sonner et clignoter, la commande est prête: on peut aller la chercher !<br />
    <br />
    Et oui, c'est tout simple, mais fallait y penser ! :-)<br />
    <br />
    Sinon, A+9: j'enverrai les prochaines cartes postales depuis les îles: je pars demain (samedi) pour Lifou (où se tiennent les élections) et mercredi pour l'île des pins !!<br />
    <br />
    bye bye</p> jeudi 3 décembre 2009 22:05:00 UTC+01:00
---
<p>Hello everybody !</p>
<p>Alors pour répondre aux anonymes: le premier explorateur à découvrir l'île fût James Cook, reste à savoir s'il était européen... ;-)</p>
<p>Ensuite, pour les photos, vous les trouverez sur : <a href="http://www.trankil.info/photos/index.php?album=Kanaky">ma galerie ZenPhoto de Kanaky</a>.</p>
<p>J'en prends une ou deux de là-bas pour les ajouter sur le blog ici... Notamment, j'ai trouvé un objet mystère:</p>
<p><a href="http://www.trankil.info/photos/zp-core/i.php?a=Kanaky/20091128&amp;i=PICT0002.JPG&amp;s=595"><img style="margin: 0 auto 10px; display: block; text-align: center; cursor: pointer; width: 595px; height: 446px;" src="http://www.trankil.info/photos/zp-core/i.php?a=Kanaky/20091128&amp;i=PICT0002.JPG" alt="" border="0" /></a></p>
<p>Alors à quoi sert cet objet ?</p>
<p>Sinon, on va certainement faire un tennis dans la semaine, mais ce sera pas un vendredi ! :D</p>
<p>@+</p>
