---
layout: post
status: publish
published: true
title: Bien revenu sur Nouméa, prêt à repartir plus près du paradis !
author:
  display_name: Low Memory
  login: fernando
  email: fernando@trankil.info
  url: ''
author_login: fernando
author_email: fernando@trankil.info
wordpress_id: 10
wordpress_url: http://blog.trankil.info/?p=10
date: '2009-12-08 11:22:00 +0100'
date_gmt: '2009-12-08 11:22:00 +0100'
categories:
- ancien_blog
tags: []
comments:
- id: 12
  author: LowMemory
  author_email: fernando@no-log.org
  author_url: http://http://www.demo-tic.org
  date: '2012-03-03 16:09:07 +0100'
  date_gmt: '2012-03-03 16:09:07 +0100'
  content: |-
    <a href="http://www.blogger.com/profile/02993645740046421260" rel="nofollow">Sylvain aka Renfield</a> a dit…<br />
    Ça roule ma poule : je leur envoi un &quot;bonjour&quot; de ta part accompagné de cette photo...<br />
    (mais bon, j'aimais bien celle de la baleine du poste précédent...)<br />
    <br />
    mardi 8 décembre 2009 15:18:00 UTC+01:00<br />
    <br />
    Anonyme a dit…<br />
    hei, la baleine ! ça me plaît beaucoup ce surnom !<br />
    <br />
    profite bien, toutes les bonnes ont une fin... et le retour approche ...<br />
    <br />
    bisous,<br />
    A+<br />
    <br />
    mardi 8 décembre 2009 18:35:00 UTC+01:00<br />
    <br />
    <br />
    <a href="http://www.blogger.com/profile/11534642402098063001" rel="nofollow">Juan</a> a dit…<br />
    <br />
    Hello<br />
    Tu en profites bien et c'est le principale!!<br />
    Tu vas voir la joie du retour en enfer, heu... à la réalité!<br />
    C'est très dur :'( Pour moi ce fut et c'est encore la viande française mon &quot;enfer&quot;. ;)<br />
    Bon retour sur Terre et fait des bises au Paradi de notre part :-*<br />
    A+<br />
    <br />
    mardi 8 décembre 2009 20:42:00 UTC+01:00<br />
    <a href="http://www.blogger.com/profile/16148718012563227823" rel="nofollow">Maria, julien y flia</a> a dit…<br />
    <br />
    AH y'a pas comme faire la baleine dans l'eau azur, le singe dans les cocotiers...Finalement on se porte bien quand on est bien mamifère!<br />
    bises<br />
    <br />
    mercredi 9 décembre 2009 15:39:00 UTC+01:00<br />
    <br />
    <a href="http://blog.trankil.info" rel="nofollow">Fernando</a> a dit…<br />
    <br />
    Sylvain: en fait tu peux envoyer les deux ! ;-)<br />
    <br />
    A y est, je suis de retour sur Nouméa, après 2 jours sur l'Île des Pins qui est encore plus belle au niveau des plages !<br />
    <br />
    L'avion de retour est prévu pour demain matin 8h30 le décollage... :'-(<br />
    vendredi 11 décembre 2009 02:36:00 UTC+01:00<br />
    <br />
    <br />
    <a href="http://www.blogger.com/profile/16148718012563227823" rel="nofollow">Maria, julien y flia</a> a dit…<br />
    <br />
    Aller, pleurs pas je suis sure qu'il y a pleins de neige pour t'acceuillir!<br />
    Eh... les tropiques paradisiaques peuvent pas avoir tout tout tout quand même? et tu vas pouvoir nous faire des bisous, c'est pas rien ça!<br />
    <br />
---
<p><a href="http://www.trankil.info/photos/cache/Kanaky/20091205/PICT0052_595.jpg"><img style="margin: 0 auto 10px; display: block; text-align: center; cursor: pointer; width: 595px; height: 446px;" src="http://www.trankil.info/photos/cache/Kanaky/20091205/PICT0052_595.jpg" alt="" border="0" /></a><br />Après 4 jours inoubliables à Lifou (dont le lait de noix de coco), je suis bien arrivé sur Nouméa ce soir et je repars demain matin pour l'Île des Pins...trop dur ! :-P</p>
<p>(Message personnel: Sylvain, si tu pouvais plutôt envoyer cette image, j'y ai l'air moins gros ! :-D )</p>
