---
layout: post
status: publish
published: true
title: Installation d'une node seeks !
author:
  display_name: Low Memory
  login: fernando
  email: fernando@trankil.info
  url: ''
author_login: fernando
author_email: fernando@trankil.info
wordpress_id: 49
wordpress_url: http://blog.trankil.info/?p=49
date: '2010-08-20 20:34:00 +0200'
date_gmt: '2010-08-20 20:34:00 +0200'
categories:
- gandi_blog
tags: []
comments: []
---
<p>Seeks est un projet de recherche web partagée (plus d'infos sur <a href="http://www.seeks-project.info/site/" hreflang="en">le site du projet</a>)</p>
<p>Ce billet pour indiquer que je viens de terminer la mise au point de ma node seeks publique&nbsp;! Elle est disponible sur <a href="http://seeks.trankil.info">http://seeks.trankil.info</a> et apparaît sur <a href="http://www.seeks-project.info/wiki/index.php/List_of_Web_Seeks_nodes" hreflang="en">la liste des nodes publiques</a>. ;-)</p>
<p>Un seul log: les heures de redémarrage du moteur. Rien sur les recherches et les connexions&nbsp;!</p>
<p>J'ai galéré un peu sur les dépendances (en fait il faut ajouter <code>-dev</code> pour avoir les paquets de développement, qui permettent la compilation).</p>
<p>J'ai adopté la technique de la boucle while dans un screen pour ne pas avoir à lancer seeks en tant que root.</p>
<p>Seeks écoute seulement en localhost sur le port 8080. J'ai donc configuré un reverse proxy apache pour rediriger les requêtes sur seeks, dont voici le détail de la configuration:</p>
<pre>&lt;VirtualHost *:80&gt; ##Redirections vers seeks         ServerName      seeks.trankil.info         ProxyRequests Off         &lt;Proxy *&gt;                 Order deny,allow                 Allow from all         &lt;/Proxy&gt;         ProxyPreserveHost On         ProxyPass / http://localhost:8080/         ProxyPassReverse / http://localhost:8080/         ErrorLog /dev/null         CustomLog /dev/null combined &lt;/VirtualHost&gt; </pre>
