---
layout: post
status: publish
published: true
title: Installation d'une mise à jour sur Nokia N900
author:
  display_name: Low Memory
  login: fernando
  email: fernando@trankil.info
  url: ''
author_login: fernando
author_email: fernando@trankil.info
wordpress_id: 42
wordpress_url: http://blog.trankil.info/?p=42
date: '2010-10-26 14:44:00 +0200'
date_gmt: '2010-10-26 14:44:00 +0200'
categories:
- gandi_blog
tags: []
comments: []
---
<p>Une mise à jour pour Nokia N900 vient de sortir <sup>[<a href="#pnote-557263-1" id="rev-pnote-557263-1" name="rev-pnote-557263-1">1</a>]</sup>. Pour ne pas oublier comment faire la mise à jour, je note ici comment j'ai fait. Toutes ces informations sont disponibles sur <a href="http://wiki.maemo.org/Updating_the_firmware" hreflang="en">le wiki Maemo</a>.
 </p>
<h4>Matériel utilisé:</h4>
<ul>
<li>Un PC avec Debian Squeeze 64bits</li>
<li>Un Nokia N900</li>
<li>Une connexion internet</li>
</ul>
<h4>Étapes suivies:</h4>
<ol>
<li>Sauvegarde de base</li>
<li>Téléchargement et installation du <em>flasher</em> sur le PC</li>
<li>Téléchargement et installation de la mise à jour sur le N900</li>
<li>Restauration de base</li>
</ol>
<h2>1. Sauvegarde de base</h2>
<p>La sauvegarde des paramètres et de la liste des applications installées du N900 se fait en utilisant l'application <strong>Sauvegardes</strong>.</p>
<h2>2. Téléchargement et installation du <em>flasher</em> sur le PC</h2>
<p>Télécharger le <em>flasher</em> sur <a href="http://tablets-dev.nokia.com/maemo-dev-env-downloads.php" hreflang="en">le site de Nokia</a>.<br />
 J'y ai récupéré le fichier correspondant au paquet debian, nommé <code>maemo_flasher-3.5_2.5.2.2_i386.deb</code>.</p>
<p>Comme ma Debian est en architecture x86_64 et que le paquet est fait pour i386, j'ai dû faire 2 choses pour qu'il fonctionne:<br />
 a. forcer l'installation avec la commande suivante:</p>
<pre># dpkg -i --force-architecture /chemin/vers/le/fichier/maemo_flasher-3.5_2.5.2.2_i386.deb </pre>
<p>b. installer les librairies 32 bits:</p>
<pre># apt-get install ia32-libs </pre>
<p>
 Note: vérifier que les <em>librairies</em> sont bien prises en compte avec la commande <code>$ ldd /usr/bin/flasher-3.5</code> (aucun <em>not found</em> ne doit apparaître).
 </p>
<h2>3. Téléchargement et installation de la mise à jour sur le N900</h2>
<p>Télécharger la mise à jour sur <a href="http://tablets-dev.nokia.com/nokia_N900.php" hreflang="en">un autre site de Nokia</a>.<br />
 Attention: Comme expliqué sur la page d'entrée, il faut le code EMEI du N900 pour accéder à la page de téléchargement (ce code est sous la batterie, donc éteindre le téléphone, le débrancher et récupérer le code).<br />
 Personnellement, j'ai récupéré la mise à jour <em>Global</em> dont le fichier est <code>RX-51_2009SE_20.2010.36-2_PR_COMBINED_MR0_ARM.bin</code>.</p>
<p> Éteindre et débrancher le N900. Sur le PC, lancer la commande suivante:</p>
<pre># flasher-3.5 -F /chemin/vers/le/fichier/RX-51_2009SE_20.2010.36-2_PR_COMBINED_MR0_ARM.bin -f -R </pre>
<p>
 Apparaît alors (après d'autres) la ligne<br />
 <code>Suitable USB device not found, waiting</code></p>
<p> Appuyer sur la touche U du N900 et le brancher au PC avec le câble USB (en maintenant la touche U appuyée). Une image foncée du logo Nokia avec une icône USB en haut à droite s'affiche alors sur le N900. Lâcher la touche U du téléphone: la mise à jour est en train de se faire.</p>
<p> À la fin de la mise à jour le N900 redémarre. Chose inattendue: la demande du code PIN s'est faite sur mon PC&nbsp;! :-)</p>
<h2>4. Restauration de base</h2>
<p>Restaurer les paramètres et les applications installées du N900 en utilisant l'application <strong>Sauvegardes</strong>.<br />
 Attention, en fonction du nombre d'applications installées avant la mise à jour sur le N900, la mise à jour peut avoir un gros volume. Donc prendre du temps et/ou exploser le forfait internet !</p>
<div class="footnotes">
<h4>Notes</h4>
<p>[<a href="#rev-pnote-557263-1" id="pnote-557263-1" name="pnote-557263-1">1</a>] Voir <a href="http://maemoteam.wordpress.com/2010/10/25/pr1-3-just-released-now-with-qt4-7-and-qt-mobility/" hreflang="en">le blog de l'équipe Maemo</a></p>
</p></div>
