---
layout: post
status: publish
published: true
title: Debian et Dell E5400 [2/3] La carte graphique et le multi-écran
author:
  display_name: Low Memory
  login: fernando
  email: fernando@trankil.info
  url: ''
author_login: fernando
author_email: fernando@trankil.info
wordpress_id: 47
wordpress_url: http://blog.trankil.info/?p=47
date: '2010-08-24 12:06:00 +0200'
date_gmt: '2010-08-24 12:06:00 +0200'
categories:
- gandi_blog
tags: []
comments: []
---
<p>De comment j'ai installé le pilote (privateur :-( ) de la carte vidéo nvidia et configuré l'affichage graphique pour avoir une gestion du multi-écran «de kalitai»&nbsp;!</p>
<p>Le gestionnaire vidéo par défaut de Debian «Squeeze» fonctionne bien. Couplé à <a href="http://packages.debian.org/search?keywords=arandr" hreflang="en">arandr</a> (une interface graphique pour xrandr), il est très facile de changer les résolutions et la disposition des écrans.</p>
<p>Néanmoins, la prise en compte de la carte graphique du portable est limitée: une trop grande résolution sur 2 écrans implique une lenteur d'affichage telle, que je me croyais connecté à une machine distante par un modem RTC alors que j'étais sur un terminal local&nbsp;! O_O</p>
<p>Aussi, il m'a fallu installer des pilotes graphiques privateurs, qui m'ont même fait une agréable surprise sur un autre <a href="/pages/Points-g%C3%A9nants-avec-le-Dell-Latitude-E5400-sous-Debian-%28Squeeze%29" hreflang="fr">point gênant</a>.</p>
<p>Pour ce faire, j'ai suivi les étapes suivantes:</p>
<ol>
<li>identification de la carte graphique&nbsp;;</li>
<li>installation des pilotes&nbsp;;</li>
<li>configuration du multi-écran.</li>
</ol>
<p>Je me suis essentiellement basé sur <a href="http://wiki.debian.org/fr/NvidiaGraphicsDrivers" hreflang="fr">la page des pilotes graphiques nvidia du wiki Debian</a> et <a href="http://doc.ubuntu-fr.org/multi-ecran#twinview_nvidia_un_bureau_etendu" hreflang="fr">la section «Twinview» de la documentation Ubuntu-fr</a>.</p>
<h4>1. Identification de la carte graphique</h4>
<p>Ici, un œil sur la sortie de lspci -nn indique la ligne suivante:</p>
<pre>01:00.0 VGA compatible controller [0300]: nVidia Corporation G98 [GeForce 9200M GS] [10de:06e8] (rev a1) </pre>
<p>J'ai donc une carte graphique GeForce 9200M GS de nVidia.</p>
<h4>2. Installation des pilotes*</h4>
<p>J'ai suivi la méthode spécifique à Debian décrite sur <a href="http://wiki.debian.org/fr/NvidiaGraphicsDrivers" hreflang="fr">le wiki de Debian</a>:</p>
<ul>
<li>0. S'assurer d'avoir les dépôts APT non-free et contrib (voir la page de manuel de sources.list(5) pour savoir comment faire ceci)</li>
</ul>
<p><em>ne pas oublier de lancer</em> <code>apt-get update</code> <em>pour prendre en compte le nouveau dépôts ;-) !</em></p>
<ul>
<li>1. Déterminer quelle version des pilotes devrait être installée.</li>
</ul>
<p>La GeForce 9200M GS apparaît dans <a href="http://us.download.nvidia.com/XFree86/Linux-x86/195.36.24/README/supportedchips.html" hreflang="en">la liste des cartes compatibles avec les pilotes nVidia 195.36.24</a>, donc ça signifie que je peux utiliser la version courante des pilotes.</p>
<ul>
<li>2. Installer le module du noyau</li>
</ul>
<p>J'utilise un noyau standard, donc les 2 commandes suivantes ont suffit:</p>
<pre># apt-get install module-assistant nvidia-kernel-common # m-a auto-install nvidia-kernel-source </pre>
<ul>
<li>3. Installer les librairies GLX et le pilote X</li>
</ul>
<p><code># apt-get install nvidia-glx</code></p>
<ul>
<li>4. Configurer X pour utiliser le pilote nvidia</li>
</ul>
<p>Attention: la méthode utilisée ici ne tient pas compte du <a href="http://bugs.debian.org/cgi-bin/bugreport.cgi?bug=504692" hreflang="en">bug #504682</a> dans nvidia-xsettings, le fichier de configuration xorg.conf créé n'est donc pas conforme. Ceci peut entraîner des dysfonctionnements sur d'autres systèmes.</p>
<p>J'ai fait la configuration avec les 2 commandes suivantes:</p>
<pre># apt-get install nvidia-xconfig $ nvidia-xconfig </pre>
<p>Et voilà&nbsp;! Après un redémarrage du serveur X (déco/reconnexion de session ou <code># sudo invoke-rc.d gdm restart</code> pour redémarrer gnome) tout fonctionne&nbsp;!</p>
<h4>3. Configuration du multi-écran</h4>
<p>Cette carte graphique est compatible avec le mode twinview des pilotes nvidia. Pour avoir l'affichage sur plusieurs écrans, il faut activer le <a href="http://doc.ubuntu-fr.org/multi-ecran#twinview_nvidia_un_bureau_etendu" hreflang="fr">twinview</a> et refaire la configuration:</p>
<pre>$ nvidia-xconfig --twinview # apt-get install nvidia-setting $ nvidia-setting </pre>
<p>La section <code>X Server Diplay Configuration</code> sur la gauche fait apparaître un aperçu des 2 écrans. Il est alors possible de changer la résolution, placer les écrans l'un par rapport à l'autre, etc. Le bouton <code>Apply</code> permet de faire un test puis de sauvegarder la configuration.</p>
<h4>4. Les surprises</h4>
<p>Ma première bonne surprise fut la petite case à cocher qui permet de rendre l'écran supplémentaire (pas celui du portable) comme écran principal: la barre du haut et du bas de Gnome s'affichent dessus&nbsp;! waouh, «&nbsp;cool stuff&nbsp;» !</p>
<p>La seconde fut les retours de veille et d'hibernation qui maintenant fonctionnent !! Un truc gênant de moins sur <a href="/pages/Points-g%C3%A9nants-avec-le-Dell-Latitude-E5400-sous-Debian-%28Squeeze%29" hreflang="fr">la liste</a>&nbsp;! \o/</p>
