---
layout: post
status: publish
published: true
title: Debian et Dell E5400 [3/3] La taille du Gnome
author:
  display_name: Low Memory
  login: fernando
  email: fernando@trankil.info
  url: ''
author_login: fernando
author_email: fernando@trankil.info
wordpress_id: 46
wordpress_url: http://blog.trankil.info/?p=46
date: '2010-08-26 13:43:00 +0200'
date_gmt: '2010-08-26 13:43:00 +0200'
categories:
- gandi_blog
tags: []
comments: []
---
<p>Comment faire lorsque les icônes, les menus, les barres des fenêtres et autres éléments de Gnome sont trop grands ?</p>
<p>Il suffit de changer la résolution ! Attention, je ne parle pas de la résolution de l'écran, mais de la résolution du <a href="http://library.gnome.org/users/user-guide/stable/prefs-appearance.html.fr#prefs-font-rendering" hreflang="fr">rendu des polices de Gnome</a>. Pour changer ce paramètre, c'est dans <code>Système|Préférences|Apparence</code> puis l'ongle <code>Polices</code>. Un clic sur le bouton <code>Détails...</code> permet de changer la valeur du nombre de points par pouces.</p>
<p><a href="http://blog.trankil.info/wp-content/uploads/2010/08/122ppp_vs_96ppp.png"><img class="size-medium wp-image-72 aligncenter" src="http://blog.trankil.info/wp-content/uploads/2010/08/122ppp_vs_96ppp-300x94.png" alt="122ppp_vs_96ppp" width="300" height="94" /></a></p>
<p>Alors qu'elle était à 122, je l'ai passée à 96 et depuis, finis les textes écrits super gros, les menus qui prennent le quart de l'écran... Rien ne vaut une image pour illustrer ces propos:</p>
<p>On voit bien qu'il est possible d'afficher plus de texte, pour une même taille de fenêtre (en regardant le libellé <code>points par pouce</code>, par exemple ou alors le terminal). On remarque aussi que les textes de la barre des tableaux de bord (en haut et en bas) prennent moins de place.</p>
<p>Ainsi, tout en restant lisible, il est possible d'affiche plus de texte sans changer la résolution de l'écran. Ce qui est très appréciable sur un écran de 14"1 pouces.</p>
<p>Hop, hop, un <a href="/pages/Points-g%C3%A9nants-avec-le-Dell-Latitude-E5400-sous-Debian-%28Squeeze%29" hreflang="fr">élément gênant</a> de moins. ;-)</p>
