---
layout: post
status: publish
published: true
title: Debian et Dell E5400 [1/3] La découverte
author:
  display_name: Low Memory
  login: fernando
  email: fernando@trankil.info
  url: ''
author_login: fernando
author_email: fernando@trankil.info
excerpt: "<p>Ayé, j'ai -enfin- reçu mon ordinateur du boulot: un Dell LATITUDE E5400&nbsp;!</p>"
wordpress_id: 45
wordpress_url: http://blog.trankil.info/?p=45
date: '2010-08-22 17:04:00 +0200'
date_gmt: '2010-08-22 17:04:00 +0200'
categories:
- gandi_blog
tags: []
comments: []
---
<p>Ayé, j'ai -enfin- reçu mon ordinateur du boulot: un Dell LATITUDE E5400&nbsp;!</p>
<p><!--more--></p>
<p>Ayé, j'ai -enfin- reçu mon ordinateur du boulot: un Dell LATITUDE E5400&nbsp;!</p>
<p>J'avoue avoir eu une petite déception en le voyant: <del>pas de boutons pour éteindre le wifi ou le bluetooth et</del> pas de petit bouton bleu au milieu du clavier (aka «le clito» pour bouger la souris). :-(<br />
 <em>Edit 23/08/2010: en fait un collègue à trouvé le bouton pour éteindre le wifi et le bluetooth sur le devant un peu à gauche en dessous. \o/</em></p>
<p>Enfin, il va quand même pas mal avec ses 4 Go de RAM et son Intel Core 2 Duo P9600 à 2.66GHz&nbsp;! Ce que j'apprécie, c'est son écran de 14.1”: ni trop grand, ni trop petit et son clavier agréable. :-)</p>
<p>Je compte noter mes déboires (et solutions) avec l'installation/configuration de Debian ici-même.</p>
<p>Pour commencer, j'ai installé une Debian «Lenny» (stable) mise à jour en Debian «Squeeze» (unstable,&nbsp;<a href="http://www.debian.org/News/2010/20100806">gelée en ce début de mois d'août</a>). Pour faire la mise à jour j'ai procédé comme ci-dessous:</p>
<ol>
<li>mise à jour du fichier <code>/etc/apt/sources.list</code> pour utiliser Squeeze,</li>
<li>lancement de la mise à jour:</li>
</ol>
<p><code>#&nbsp;aptitude full-upgrade</code><br />
 <em>vérifier puis accepter la mise à jour proposée.</em></p>
<p>Attention j'ai eu une erreur avec la mise à jour du paquet udev: mon kernel Lenny n'était pas compatible avec la version de udev. Il a donc fallu forcer l'installation d'un noyau linux récent, relancer le système sur ce noyau, puis reprendre le processus de mise à jour. Cela en utilisant les commandes suivantes:<br />
 <code># aptitude install linux-image-2.6.32-5-amd64</code><br />
 <em>vérifier et accepter la mise à jour proposée.</em><br />
 <code># reboot</code><br />
 <em>Puis au démarrage suivant:</em><br />
 <code># aptitude full-upgrade</code><br />
 <em>vérifier puis accepter la mise à jour proposée.</em></p>
<p>Je rencontre encore quelques soucis:</p>
<ul>
<li>soit j'active acpi soit la mise en veille/hibernation fonctionne, mais les 2 <ins>ensemble</ins> ne fonctionnent pas,</li>
<li><del>je n'ai pas trouvé comment éteindre la loupiote du bluetooth</del> (merci au collègue).</li>
<li>mon clavier est pas top configuré (impossible de faire les points de suspensions).</li>
</ul>
<p>En attendant que je trouve comment régler ces points, vous trouverez ci-dessous la liste du matériel:</p>
<p><em>Edit: nouveau lspci avec l'option -nn (affiche les n° de vendeur et n° de matériel en plus des noms)</em> <a href="/public/dell_e5400/lspci_nn">lspci_nn</a></p>
<p><a href="/public/dell_e5400/lshw">lshw</a></p>
<pre># lspci -nn 00:00.0 Host bridge [0600]: Intel Corporation Mobile 4 Series Chipset Memory Controller Hub [8086:2a40] (rev 07) 00:01.0 PCI bridge [0604]: Intel Corporation Mobile 4 Series Chipset PCI Express Graphics Port [8086:2a41] (rev 07) 00:1a.0 USB Controller [0c03]: Intel Corporation 82801I (ICH9 Family) USB UHCI Controller #4 [8086:2937] (rev 02) 00:1a.1 USB Controller [0c03]: Intel Corporation 82801I (ICH9 Family) USB UHCI Controller #5 [8086:2938] (rev 02) 00:1a.2 USB Controller [0c03]: Intel Corporation 82801I (ICH9 Family) USB UHCI Controller #6 [8086:2939] (rev 02) 00:1a.7 USB Controller [0c03]: Intel Corporation 82801I (ICH9 Family) USB2 EHCI Controller #2 [8086:293c] (rev 02) 00:1b.0 Audio device [0403]: Intel Corporation 82801I (ICH9 Family) HD Audio Controller [8086:293e] (rev 02) 00:1c.0 PCI bridge [0604]: Intel Corporation 82801I (ICH9 Family) PCI Express Port 1 [8086:2940] (rev 02) 00:1c.1 PCI bridge [0604]: Intel Corporation 82801I (ICH9 Family) PCI Express Port 2 [8086:2942] (rev 02) 00:1c.2 PCI bridge [0604]: Intel Corporation 82801I (ICH9 Family) PCI Express Port 3 [8086:2944] (rev 02) 00:1c.4 PCI bridge [0604]: Intel Corporation 82801I (ICH9 Family) PCI Express Port 5 [8086:2948] (rev 02) 00:1d.0 USB Controller [0c03]: Intel Corporation 82801I (ICH9 Family) USB UHCI Controller #1 [8086:2934] (rev 02) 00:1d.1 USB Controller [0c03]: Intel Corporation 82801I (ICH9 Family) USB UHCI Controller #2 [8086:2935] (rev 02) 00:1d.2 USB Controller [0c03]: Intel Corporation 82801I (ICH9 Family) USB UHCI Controller #3 [8086:2936] (rev 02) 00:1d.7 USB Controller [0c03]: Intel Corporation 82801I (ICH9 Family) USB2 EHCI Controller #1 [8086:293a] (rev 02) 00:1e.0 PCI bridge [0604]: Intel Corporation 82801 Mobile PCI Bridge [8086:2448] (rev 92) 00:1f.0 ISA bridge [0601]: Intel Corporation ICH9M LPC Interface Controller [8086:2919] (rev 02) 00:1f.2 SATA controller [0106]: Intel Corporation ICH9M/M-E SATA AHCI Controller [8086:2929] (rev 02) 00:1f.3 SMBus [0c05]: Intel Corporation 82801I (ICH9 Family) SMBus Controller [8086:2930] (rev 02) 01:00.0 VGA compatible controller [0300]: nVidia Corporation G98 [GeForce 9200M GS] [10de:06e8] (rev a1) 09:00.0 Ethernet controller [0200]: Broadcom Corporation NetXtreme BCM5761e Gigabit Ethernet PCIe [14e4:1680] (rev 10) 0c:00.0 Network controller [0280]: Broadcom Corporation BCM4322 802.11a/b/g/n Wireless LAN Controller [14e4:432b] (rev 01) 0d:00.0 CardBus bridge [0607]: Ricoh Co Ltd Device [1180:e476] 0d:00.1 SD Host controller [0805]: Ricoh Co Ltd Device [1180:e822] (rev 02) 0d:00.4 FireWire (IEEE 1394) [0c00]: Ricoh Co Ltd Device [1180:e832] (rev 02) </pre>
<pre># lshw papillon     description: Portable Computer     product: Latitude E5400     vendor: Dell Inc.     serial: 5R3NS4J     width: 64 bits     capabilities: smbios-2.4 dmi-2.4 vsyscall64 vsyscall32     configuration: boot=normal chassis=portable uuid=44454C4C-5200-1033-804E-B5C04F53344A   *-core        description: Motherboard        product: 0K644C        vendor: Dell Inc.        physical id: 0        serial: .5R3NS4J.CN70166055G0CJ.      *-firmware           description: BIOS           vendor: Dell Inc.           physical id: 0           version: A15 (11/05/2009)           size: 64KiB           capacity: 1536KiB           capabilities: isa pci pcmcia pnp upgrade shadowing cdboot bootselect int13floppy720 int5printscreen int9keyboard int14serial int17printer int10video acpi usb agp smartbattery biosbootspecification netboot      *-cpu           description: CPU           product: Intel(R) Core(TM)2 Duo CPU     P9600  @ 2.66GHz           vendor: Intel Corp.           physical id: 400           bus info: cpu@0           slot: Microprocessor           size: 800MHz           capacity: 800MHz           width: 64 bits           clock: 266MHz           capabilities: fpu fpu_exception wp vme de pse tsc msr pae mce cx8 apic sep mtrr pge mca cmov pat pse36 clflush dts acpi mmx fxsr sse sse2 ss ht tm pbe syscall nx x86-64 constant_tsc arch_perfmon pebs bts rep_good aperfmperf pni dtes64 monitor ds_cpl vmx smx est tm2 ssse3 cx16 xtpr pdcm sse4_1 xsave lahf_lm ida tpr_shadow vnmi flexpriority cpufreq         *-cache:0              description: L1 cache              physical id: 700              size: 128KiB              capacity: 128KiB              capabilities: internal write-back data         *-cache:1              description: L2 cache              physical id: 701              size: 6MiB              capacity: 6MiB              clock: 66MHz (15.0ns)              capabilities: pipeline-burst internal varies unified      *-memory           description: System Memory           physical id: 1000           slot: System board or motherboard           size: 4GiB         *-bank:0              description: DIMM DDR2 Synchronous 800 MHz (1.2 ns)              product: KTX760-ELF              vendor: 7F98000000000000              physical id: 0              serial: 7105DE6B              slot: DIMM_A              size: 2GiB              width: 64 bits              clock: 800MHz (1.2ns)         *-bank:1              description: DIMM DDR2 Synchronous 800 MHz (1.2 ns)              product: KTX760-ELF              vendor: 7F98000000000000              physical id: 1              serial: 7105D66B              slot: DIMM_B              size: 2GiB              width: 64 bits              clock: 800MHz (1.2ns)      *-pci           description: Host bridge           product: Mobile 4 Series Chipset Memory Controller Hub           vendor: Intel Corporation           physical id: 100           bus info: pci@0000:00:00.0           version: 07           width: 32 bits           clock: 33MHz         *-pci:0              description: PCI bridge              product: Mobile 4 Series Chipset PCI Express Graphics Port              vendor: Intel Corporation              physical id: 1              bus info: pci@0000:00:01.0              version: 07              width: 32 bits              clock: 33MHz              capabilities: pci pm msi pciexpress normal_decode bus_master cap_list              configuration: driver=pcieport              resources: irq:24 ioport:d000(size=4096) memory:f2000000-f6efffff ioport:e0000000(size=268435456)            *-display                 description: VGA compatible controller                 product: G98 [GeForce 9200M GS]                 vendor: nVidia Corporation                 physical id: 0                 bus info: pci@0000:01:00.0                 version: a1                 width: 64 bits                 clock: 33MHz                 capabilities: pm msi pciexpress vga_controller bus_master cap_list rom                 configuration: driver=nouveau latency=0                 resources: irq:16 memory:f5000000-f5ffffff memory:e0000000-efffffff(prefetchable) memory:f2000000-f3ffffff ioport:df00(size=128) memory:f4000000-f401ffff(prefetchable)         *-usb:0              description: USB Controller              product: 82801I (ICH9 Family) USB UHCI Controller #4              vendor: Intel Corporation              physical id: 1a              bus info: pci@0000:00:1a.0              version: 02              width: 32 bits              clock: 33MHz              capabilities: uhci bus_master cap_list              configuration: driver=uhci_hcd latency=0              resources: irq:20 ioport:6f60(size=32)         *-usb:1              description: USB Controller              product: 82801I (ICH9 Family) USB UHCI Controller #5              vendor: Intel Corporation              physical id: 1a.1              bus info: pci@0000:00:1a.1              version: 02              width: 32 bits              clock: 33MHz              capabilities: uhci bus_master cap_list              configuration: driver=uhci_hcd latency=0              resources: irq:21 ioport:6f80(size=32)         *-usb:2              description: USB Controller              product: 82801I (ICH9 Family) USB UHCI Controller #6              vendor: Intel Corporation              physical id: 1a.2              bus info: pci@0000:00:1a.2              version: 02              width: 32 bits              clock: 33MHz              capabilities: uhci bus_master cap_list              configuration: driver=uhci_hcd latency=0              resources: irq:22 ioport:6fa0(size=32)         *-usb:3              description: USB Controller              product: 82801I (ICH9 Family) USB2 EHCI Controller #2              vendor: Intel Corporation              physical id: 1a.7              bus info: pci@0000:00:1a.7              version: 02              width: 32 bits              clock: 33MHz              capabilities: pm debug ehci bus_master cap_list              configuration: driver=ehci_hcd latency=0              resources: irq:22 memory:fed1c400-fed1c7ff         *-multimedia              description: Audio device              product: 82801I (ICH9 Family) HD Audio Controller              vendor: Intel Corporation              physical id: 1b              bus info: pci@0000:00:1b.0              version: 02              width: 64 bits              clock: 33MHz              capabilities: pm msi pciexpress bus_master cap_list              configuration: driver=HDA Intel latency=0              resources: irq:21 memory:f6ffc000-f6ffffff         *-pci:1              description: PCI bridge              product: 82801I (ICH9 Family) PCI Express Port 1              vendor: Intel Corporation              physical id: 1c              bus info: pci@0000:00:1c.0              version: 02              width: 32 bits              clock: 33MHz              capabilities: pci pciexpress msi pm normal_decode bus_master cap_list              configuration: driver=pcieport              resources: irq:25 ioport:2000(size=4096) memory:f0200000-f03fffff memory:f0400000-f05fffff(prefetchable)         *-pci:2              description: PCI bridge              product: 82801I (ICH9 Family) PCI Express Port 2              vendor: Intel Corporation              physical id: 1c.1              bus info: pci@0000:00:1c.1              version: 02              width: 32 bits              clock: 33MHz              capabilities: pci pciexpress msi pm normal_decode bus_master cap_list              configuration: driver=pcieport              resources: irq:26 ioport:3000(size=4096) memory:f1f00000-f1ffffff memory:f0600000-f07fffff(prefetchable)            *-network                 description: Wireless interface                 product: BCM4322 802.11a/b/g/n Wireless LAN Controller                 vendor: Broadcom Corporation                 physical id: 0                 bus info: pci@0000:0c:00.0                 logical name: eth2                 version: 01                 serial: 78:e4:00:b5:d2:47                 width: 64 bits                 clock: 33MHz                 capabilities: pm msi pciexpress bus_master cap_list ethernet physical wireless                 configuration: broadcast=yes driver=wl0 driverversion=5.60.48.36 latency=0 multicast=yes wireless=IEEE 802.11abgn                 resources: irq:17 memory:f1ffc000-f1ffffff         *-pci:3              description: PCI bridge              product: 82801I (ICH9 Family) PCI Express Port 3              vendor: Intel Corporation              physical id: 1c.2              bus info: pci@0000:00:1c.2              version: 02              width: 32 bits              clock: 33MHz              capabilities: pci pciexpress msi pm normal_decode bus_master cap_list              configuration: driver=pcieport              resources: irq:27 ioport:c000(size=4096) memory:f1d00000-f1efffff ioport:f0000000(size=2097152)            *-pcmcia                 description: CardBus bridge                 product: Ricoh Co Ltd                 vendor: Ricoh Co Ltd                 physical id: 0                 bus info: pci@0000:0d:00.0                 version: 00                 width: 32 bits                 clock: 33MHz                 capabilities: pcmcia bus_master cap_list                 configuration: driver=yenta_cardbus latency=176 maxlatency=5 mingnt=128                 resources: irq:18 memory:f1d00000-f1d00fff ioport:c000(size=256) ioport:c400(size=256) memory:f0000000-f003ffff(prefetchable) memory:f1d40000-f1d7ffff            *-generic                 description: SD Host controller                 product: Ricoh Co Ltd                 vendor: Ricoh Co Ltd                 physical id: 0.1                 bus info: pci@0000:0d:00.1                 version: 02                 width: 32 bits                 clock: 33MHz                 capabilities: msi pm pciexpress bus_master cap_list                 configuration: driver=sdhci-pci latency=0                 resources: irq:19 memory:f1eff700-f1eff7ff            *-firewire                 description: FireWire (IEEE 1394)                 product: Ricoh Co Ltd                 vendor: Ricoh Co Ltd                 physical id: 0.4                 bus info: pci@0000:0d:00.4                 version: 02                 width: 32 bits                 clock: 33MHz                 capabilities: msi pm pciexpress ohci bus_master cap_list                 configuration: driver=firewire_ohci latency=0                 resources: irq:16 memory:f1eff800-f1efffff         *-pci:4              description: PCI bridge              product: 82801I (ICH9 Family) PCI Express Port 5              vendor: Intel Corporation              physical id: 1c.4              bus info: pci@0000:00:1c.4              version: 02              width: 32 bits              clock: 33MHz              capabilities: pci pciexpress msi pm normal_decode bus_master cap_list              configuration: driver=pcieport              resources: irq:28 ioport:4000(size=4096) memory:f1c00000-f1cfffff memory:f0800000-f09fffff(prefetchable)            *-network                 description: Ethernet interface                 product: NetXtreme BCM5761e Gigabit Ethernet PCIe                 vendor: Broadcom Corporation                 physical id: 0                 bus info: pci@0000:09:00.0                 logical name: eth0                 version: 10                 serial: a4:ba:db:c0:34:1c                 size: 100MB/s                 capacity: 1GB/s                 width: 64 bits                 clock: 33MHz                 capabilities: pm vpd msi pciexpress bus_master cap_list ethernet physical tp 10bt 10bt-fd 100bt 100bt-fd 1000bt 1000bt-fd autonegotiation                 configuration: autonegotiation=on broadcast=yes driver=tg3 driverversion=3.102 duplex=full firmware=5761e-v3.60 ip=10.1.10.49 latency=0 link=yes multicast=yes port=twisted pair speed=100MB/s                 resources: irq:30 memory:f1ce0000-f1ceffff memory:f1cf0000-f1cfffff         *-usb:4              description: USB Controller              product: 82801I (ICH9 Family) USB UHCI Controller #1              vendor: Intel Corporation              physical id: 1d              bus info: pci@0000:00:1d.0              version: 02              width: 32 bits              clock: 33MHz              capabilities: uhci bus_master cap_list              configuration: driver=uhci_hcd latency=0              resources: irq:20 ioport:6f00(size=32)         *-usb:5              description: USB Controller              product: 82801I (ICH9 Family) USB UHCI Controller #2              vendor: Intel Corporation              physical id: 1d.1              bus info: pci@0000:00:1d.1              version: 02              width: 32 bits              clock: 33MHz              capabilities: uhci bus_master cap_list              configuration: driver=uhci_hcd latency=0              resources: irq:21 ioport:6f20(size=32)         *-usb:6              description: USB Controller              product: 82801I (ICH9 Family) USB UHCI Controller #3              vendor: Intel Corporation              physical id: 1d.2              bus info: pci@0000:00:1d.2              version: 02              width: 32 bits              clock: 33MHz              capabilities: uhci bus_master cap_list              configuration: driver=uhci_hcd latency=0              resources: irq:22 ioport:6f40(size=32)         *-usb:7              description: USB Controller              product: 82801I (ICH9 Family) USB2 EHCI Controller #1              vendor: Intel Corporation              physical id: 1d.7              bus info: pci@0000:00:1d.7              version: 02              width: 32 bits              clock: 33MHz              capabilities: pm debug ehci bus_master cap_list              configuration: driver=ehci_hcd latency=0              resources: irq:20 memory:fed1c000-fed1c3ff         *-pci:5              description: PCI bridge              product: 82801 Mobile PCI Bridge              vendor: Intel Corporation              physical id: 1e              bus info: pci@0000:00:1e.0              version: 92              width: 32 bits              clock: 33MHz              capabilities: pci subtractive_decode bus_master cap_list         *-isa              description: ISA bridge              product: ICH9M LPC Interface Controller              vendor: Intel Corporation              physical id: 1f              bus info: pci@0000:00:1f.0              version: 02              width: 32 bits              clock: 33MHz              capabilities: isa bus_master cap_list              configuration: latency=0         *-storage              description: SATA controller              product: ICH9M/M-E SATA AHCI Controller              vendor: Intel Corporation              physical id: 1f.2              bus info: pci@0000:00:1f.2              logical name: scsi0              logical name: scsi1              version: 02              width: 32 bits              clock: 66MHz              capabilities: storage msi pm ahci_1.0 bus_master cap_list emulated              configuration: driver=ahci latency=0              resources: irq:29 ioport:6e70(size=8) ioport:6e78(size=4) ioport:6e80(size=8) ioport:6e88(size=4) ioport:6ea0(size=32) memory:fed1c800-fed1cfff            *-disk                 description: ATA Disk                 product: ST9160412ASG                 vendor: Seagate                 physical id: 0                 bus info: scsi@0:0.0.0                 logical name: /dev/sda                 version: 0004                 serial: 5VG6AYCA                 size: 149GiB (160GB)                 capabilities: partitioned partitioned:dos                 configuration: ansiversion=5 signature=e8000000               *-volume:0                    description: Linux filesystem partition                    vendor: Linux                    physical id: 1                    bus info: scsi@0:0.0.0,1                    logical name: /dev/sda1                    logical name: /boot                    version: 1.0                    serial: 26cd9d90-379e-48e4-a9f9-2dd37585b936                    size: 243MiB                    capacity: 243MiB                    capabilities: primary bootable ext2 initialized                    configuration: filesystem=ext2 modified=2010-08-22 17:13:36 mount.fstype=ext2 mount.options=rw,relatime,errors=continue mounted=2010-08-22 16:37:56 state=mounted               *-volume:1                    description: Linux filesystem partition                    physical id: 2                    bus info: scsi@0:0.0.0,2                    logical name: /dev/sda2                    serial: 1547b035-4fa5-47b5-84fc-d6c996762571                    size: 148GiB                    capacity: 148GiB                    width: 256 bits                    capabilities: primary encrypted luks initialized                    configuration: bits=256 cipher=aes filesystem=luks hash=sha1 mode=cbc-essiv:sha256 version=1            *-cdrom                 description: DVD-RAM writer                 product: DVD+-RW TS-L633C                 vendor: TSSTcorp                 physical id: 1                 bus info: scsi@1:0.0.0                 logical name: /dev/cdrom                 logical name: /dev/cdrw                 logical name: /dev/dvd                 logical name: /dev/dvdrw                 logical name: /dev/scd0                 logical name: /dev/sr0                 version: DW50                 capabilities: removable audio cd-r cd-rw dvd dvd-r dvd-ram                 configuration: ansiversion=5 status=nodisc         *-serial              description: SMBus              product: 82801I (ICH9 Family) SMBus Controller              vendor: Intel Corporation              physical id: 1f.3              bus info: pci@0000:00:1f.3              version: 02              width: 64 bits              clock: 33MHz              configuration: driver=i801_smbus latency=0              resources: irq:19 memory:f6ffbf00-f6ffbfff ioport:1100(size=32)   *-battery        product: DELL PW64003        vendor: Sanyo        physical id: 1        slot: Sys. Battery Bay        capacity: 52000mWh        configuration: voltage=11.1V </pre>
