---
layout: post
status: publish
published: true
title: Installation de Solarized
author:
  display_name: Low Memory
  login: fernando
  email: fernando@trankil.info
  url: ''
author_login: fernando
author_email: fernando@trankil.info
wordpress_id: 43
wordpress_url: http://blog.trankil.info/?p=43
date: '2013-01-04 14:12:00 +0100'
date_gmt: '2013-01-04 14:12:00 +0100'
categories:
- gandi_blog
tags: []
comments: []
---
<p><a href="http://ethanschoonover.com/solarized" hreflang="en">Solarized</a> est une palette de 16 couleurs étudiées pour êtres utilisées dans le terminal et les interfaces graphiques. C'est en pleine réunion, quand j'ai comparé mon un vim à fond sombre avec celui de mon voisin (utilisant Solarized), que mon écran s'est mis à me piquer les yeux.</p>
<p>J'ai donc décidé d'installer Solarized (avec l'aide de mon voisin).</p>
<p>Il y a deux étapes dans cette installation:</p>
<ol>
<li>Solarized pour le terminal que j'utilise: <code>gnome-terminal</code></li>
<li>Solariezd pour <code>vim</code></li>
</ol>
<h2>Solarized pour <code>gnome-terminal</code></h2>
<p>Lancer un terminal et créer un nouveau profil en vous basant sur le profil actuel (menu <code>Édition→Profils…</code>, bouton <code>Nouveau</code>).</p>
<p>Récupérer et installer le thème Solarized dans ce profil, en se basant sur <a href="https://github.com/sigurdga/gnome-terminal-colors-solarized" hreflang="en">gnome-terminal-color-solarized</a>:</p>
<pre>$ git clone git://github.com/sigurdga/gnome-terminal-colors-solarized.git $ cd gnome-terminal-colors-solarized $ ./install.sh </pre>
<h2>Solarized pour <code>vim</code></h2>
<p><a href="http://ethanschoonover.com/solarized/vim-colors-solarized" hreflang="en">vim-colors-solarized</a> contient la palette Solarized pour vim. La méthode recommandée est d'utiliser <a href="https://github.com/tpope/vim-pathogen" hreflang="en">Pathogen</a>:</p>
<ol>
<li>Création de ~/.vim/bundle: <code>$ mkdir -p $HOME/.vim/bundle/ &amp;&amp; cd $HOME/.vim/bundle/</code></li>
<li>Clonage de Pathogen: <code>$ git clone https://github.com/tpope/vim-pathogen.git</code></li>
<li>Clonage de vim-colors-solarized: <code>$ git clone git://github.com/altercation/vim-colors-solarized.git</code></li>
<li>Utilisation de Pathogen et vim-colors-solarized en ajoutant les lignes suivantes dans .vimrc:</li>
</ol>
<p> ##########MACRO#1#</p>
