---
layout: post
status: publish
published: true
title: GreLibre - État des lieux
author:
  display_name: Low Memory
  login: fernando
  email: fernando@trankil.info
  url: ''
author_login: fernando
author_email: fernando@trankil.info
wordpress_id: 9
wordpress_url: http://blog.trankil.info/?p=9
date: '2014-07-21 11:46:00 +0200'
date_gmt: '2014-07-21 11:46:00 +0200'
categories:
- Guilde
tags: []
comments: []
---
<p>J'ai contacté la <a href="http://fsfe.org/">Free Software Foundation Europe</a> (FSFE) pour savoir s'ils avaient des contacts avec la municipalité de Münich, qui a migré son infrastructure aux Logiciels Libres avec le <a href="http://www.linuxvoice.com/the-big-switch/" hreflang="en">projet LiMux</a>. La FSFE m'a alors demandé plus de détails sur la situation Grenobloise et il m'a été indiqué que ma réponse à leur demande avait toute sa place sur un blog. La voici. :)</p>
<h2>La situation à Grenoble</h2>
<p>Comme toutes les villes de France, en mars et avril 2014, des élections municipales se sont tenues à Grenoble.</p>
<p>Cela a changé la donne par ici, parce que les nouveaux représentants sont d'un nouveau <del>parti</del> collectif informel<sup>[<a href="#pnote-789835-3" id="rev-pnote-789835-3" name="rev-pnote-789835-3">3</a>]</sup> local nommé «&nbsp;Le Rassemblement Citoyen de la gauche et des écologistes&nbsp;» (voir <a href="http://unevillepourtous.fr/" hreflang="fr">Une ville pour tous</a>). Ils ont désormais la majorité absolue au Conseil Municipal (42 élus sur 59 sièges).</p>
<p>C'est un regroupement de plusieurs partis de gauche : Europe Écologie les Verts, Parti de Gauche et l'Association Démocratie, Écologie et Solidarité et Alternatifs Rouge et Vert<sup>[<a href="http://blog.trankil.info/#pnote-789835-3" id="rev-pnote-789835-3" name="rev-pnote-789835-3">3</a>]</sup> <del>peut-être d'autres</del>. </p>
<h2>Ce qui a été fait</h2>
<h3>Début mars 2014</h3>
<p><strong>Avant</strong> les élections, «&nbsp;Le Rassemblement&nbsp;» (en tant que liste de candidats) a fait une rencontre en appelant toutes les personnes intéressées à débattre autour des Logiciels Libres et des Données Ouvertes<sup>[<a href="#pnote-789835-1" id="rev-pnote-789835-1" name="rev-pnote-789835-1">1</a>]</sup>. Vous pouvez trouver le message original dans les <a href="http://www.guilde.asso.fr/lurker/message/20140311.154355.f87ce49d.fr.html" hreflang="fr">archives de la Guilde</a>. J'y suis allé parce que leur <a href="http://unevillepourtous.fr/le-projet/bouclier-social-ecologique/" hreflang="fr">point 57</a> est sur le Logiciel Libre :</p>
<blockquote><p>Développer l’usage des logiciels libres</p>
<p>La commune s’équipera de logiciels libres, gage d’indépendance budgétaire (le changement de logiciel est fonction du besoin du service et non du fournisseur) et de possibilités de développements informatiques locaux.</p>
</blockquote>
<p>Mais il m'a semblé qu'ils étaient surtout (un peu trop ?) focalisés sur les Données Ouvertes (ils disent vouloir faire une <a href="http://fr.wikipedia.org/wiki/Gouvernement_ouvert" hreflang="fr">démocratie ouverte</a>).</p>
<p>Il y avait une grande dizaine de personnes présentes. Certaines d'entre nous (càd qui ne sont pas dans leur liste) leur ont rappelé l'importance des infrastructures réseaux et du Logiciel Libre.</p>
<h3>Fin mars 2014</h3>
<p>Les élections on eu lieu, et Laurence Comparat, du Conseil Municipal, a été nommée pour ces dossiers. Elle a officiellement le titre suivant (comme indiqué à la fin de ses courriels) :</p>
<blockquote><p>Laurence Comparat<br />Adjointe au Maire - Ville de Grenoble<br />Accès à l'information et libération des données publiques - Utilisation et diffusion des logiciels libres<br />Co-Présidente du Groupe des élus du Rassemblement citoyen, de la gauche et des écologistes</p>
</blockquote>
<div class="footnotes">
<p>Autant que je sache, elle est la seule élue municipale en France à avoir un poste aussi clair sur les Données Ouvertes et le Logiciel Libre. \o/ :-)</p>
<h3>Début avril 2014</h3>
<p>Richard Stallman est venu en ville. C'est une coïncidence, RMS allait faire une présentation au <a hreflang="en" href="http://www.tedxgeneva.net/2014-freedom-at-digital-age/">TEDx Geneva 2014</a>. De manière un peu improvisée, un étudiant Saint-Marcellinois a réussi à lui faire faire une <a hreflang="fr" href="http://www.guilde.asso.fr/rencontres/20140408/">conférence à Grenoble</a>. (La Guilde et moi avons donné un coup de main en conduisant une voiture et en fournissant une assurance pour ce type d'évènement à l'université.) Avant sa conférence, une rencontre a été organisée avec le maire de Grenoble et l'adjoint en charge des écoles (Laurence Comparat ne pouvait pas être présente ce jour là :-/ ).</p>
<h3>Mai 2014</h3>
<p>À la suite de tout ceci, une nouvelle rencontre fut organisée, pour voir comment on pourrait aller plus loin ensemble (la Ville, les citoyens, les associations et les entreprises locales) et comment nous pourrions nous organiser en tant que groupe. Il y avait environ 30 personnes présentes.</p>
<p>Il a été décidé de faire 3 « groupes de travail », ayant chacun leurs propres réunions pour faire un compte-rendu dans une réunion plénière :</p>
<ul>
<li>Infrastructures Réseau</li>
<li>Logiciel Libre</li>
<li>Données Ouvertes</li>
</ul>
<p>Laurence Comparat prévoit d'être présente à chaque plénière.</p>
<p>Une liste de discussion électronique a également été mise en place, au nom du groupe : « GreLibre » (Grenoble a été renommée ainsi durant quelques années pendant la révolution française ;) ).</p>
<p>Le compte-rendu de cette « première plénière » est <a hreflang="fr" href="http://www.guilde.asso.fr/wiki/Grelibre:20140507">disponible en ligne</a>.</p>
<h3>Juin 2014</h3>
<p>Une réunion de groupe de travail s'est tenue chaque semaine (Réseau, Logiciel Libre et Données Ouvertes). La plénière a eu lieu la dernière semaine.</p>
<p>Le compte-rendu du groupe de travail Logiciel Libre est <a hreflang="fr" href="http://www.guilde.asso.fr/wiki/Grelibre:20140605">disponible en ligne</a>.</p>
<p>Il a été décidé de faire un événement public (que j'appelle <em>Espace Numérique Libre</em>) à l'Hôtel de Ville. Nous sommes en attente des disponibilités des salles de la mairie par Laurence Comparat. La prochaine rencontre pour organiser cet événement est mardi 22 juillet (demain !).</p>
<p>Maintenant, c'est les vacances d'été, je pense que seul le groupe Données Ouvertes a prévu de se rencontrer. Personnellement, je n'ai pas provoqué de rencontre du groupe Logiciels Libres, je préfère me concentrer sur l'organisation de l'événement de septembre.</p>
<p>Il a aussi été dit que du personnel du service informatique de la ville avait un peu peur de ce groupe « GreLibre ». C'est une chose à laquelle nous voulons faire attention pendant cet événement et tout au long de l'existence du groupe.</p>
<p>La liste de discussions GreLibre est <a hreflang="fr" href="https://listes.gresille.org/sympa/arc/grelibre">archivée publiquement</a>. Merci de faire attention avec cette liste : je vois le groupe GreLibre comme une nouvelle plante rare. Toute petite et fragile. Une mauvaise coupure, trop ou pas assez d'eau et elle disparaît. Je préfère lui laisser faire ses racines et prendre son temps pour devenir un arbre adulte, même si toutes les branches ne sont pas telles que je le voudrais : je ne suis pas intéressé par un bonsaï. ;-)</p>
<h2>Pourquoi je crois que c'est le bon moment</h2>
<p>Cette nouvelle équipe au Conseil Municipal, <strong>veut</strong> entendre notre avis (ou au moins, c'est ce qu'ils disent). C'est pourquoi je crois que nous devrions promouvoir, maintenant plus que jamais, le Logiciel Libre et tous ses principes, dans cette ville.</p>
<p>Je crois que nous avons 6 ans, jusqu'aux prochaines élections, pour passer en <em>mode EZLN</em> : <q>Le peuple ordonne, le gouvernement obéi.</q> ;) En restants fermes, mais sans armes et de manière humble, pour que nous puissions avancer en prenant en compte les interrogations de chacun.</p>
<p>Bien sûr, nous devons communiquer plus clairement et comprendre qu'il reste encore beaucoup à faire avant de pouvoir se passer du logiciel non-libre (si nous pouvons nous en passer totalement).</p>
<p>Il y a déjà quelques pas faits par le Conseil Municipal de Grenoble, dont certains grâce au groupe GreLibre :</p>
<ul>
<li>les Conseils Municipaux sont filmés, <a hreflang="fr" href="http://www.dailymotion.com/VilledeGrenoble">visibles en direct et archivés</a> (c'est sur Dailymotion pour l'instant, mais bon…)</li>
<li>les <em>données brutes</em> (fichiers CSV) commencent à <a hreflang="fr" href="http://www.grenoble.fr/1600-les-effectifs-scolaires.htm">être accessibles en plus</a> des habituels rapports et documents PDF (je dois encore signaler l'absence de licence, mais quand même…)</li>
<li>la ville devrait nous fournir du réseau, de l'électricité et une salle pour l'événement de septembre (j'attends de le voir, pour l'instant ce sont des paroles…)</li>
</ul>
<p>Je ne crois pas que ce soit une posture politique comme j'en ai vu (d'autres) dans le passé. J'ai réellement l'impression qu'il y a une volonté des élus municipaux d'aller vers le Logiciel Libre et les Données Ouvertes.</p>
<h2>Ce que j'attends de vous, ce que vous pouvez faire</h2>
<p>(Au départ, je m'adresse à la FSFE, mais toute personne motivée est la bienvenue !)</p>
<p>Dans le groupe de travail Logiciel Libre de GreLibre, nous nous sommes accordés 2 périmètres d'action :</p>
<ol>
<li>Le passage de la mairie de Grenoble aux Logiciels Libres : Les Postes de travail des agents de la commune (Systèmes d'exploitation et Logiciels), les serveurs (systèmes d'exploitation et  logiciels), les outils en réseaux (sites Web, services numériques aux usagers, internes et externes).</li>
<li>Médiation, sensibilisation aux Logiciels Libres de la population : Les actions de soutien multi-formes à l'initiative d'acteurs locaux et que la commune peut soutenir à son échelle pour favoriser la Libération numérique des postes informatiques des citoyens et habitants de la commune.</li>
</ol>
<p>Le premier point inclut la recherche de témoignages et d'expériences d'autres entités publiques ayant déjà fait une telle migration. Je pense que GreLibre apprécierait beaucoup une rencontre avec les élus de Münich (pour le point de vue utilisateur) et avec des membres du groupe LiMux (pour des échanges plus techniques et méthodologiques).</p>
<p>Nous cherchons aussi des moyens d'utiliser les Logiciels Libres dans les écoles, qui sont à la charge de la ville.</p>
<p>Je recherche aussi des retours sur les projets Espagnols d'Extramadure (<a hreflang="es" href="http://linex.gobex.es/index.php/proyectolinex">Linex</a>) et d'Andalousie (<a hreflang="es" href="http://www.guadalinex.org/que-es-guadalinex">GuadaLinex</a>). Nous pouvons même imaginer une rencontre des utilisateurs ayant déjà migré ! :)</p>
<p>Aux <a hreflang="fr" href="http://2014.rmll.info">RMLL 2014</a>, j'ai rencontré la FSFE. Il semble que Münich soit <strong>la</strong> voie à suivre. Si j'ai bien compris, le projet LiMux a été préparé avant qu'un vote du Conseil Municipal soit fait pour donner « le feu vert ». Je crois que nous en sommes à ce stade à Grenoble : nous pouvons préparer un projet « <em>Big Switch</em> »<sup>[<a href="#pnote-789835-2" id="rev-pnote-789835-2" name="rev-pnote-789835-2">2</a>]</sup> pour expliquer aux élus ce à quoi il faut s'attendre et comment d'autres l'ont fait. On les laisse alors décider. Si c'est validé, alors on reste vigilants sur ce qui est fait pour vérifier que cela arrive (et aider si possible).</p>
<p>Personnellement, je me demande encore comment faire à Grenoble ce qui a été fait à Münich. Ma ville est bien plus petite (environ 10 fois), ce qui signifie moins d'équipes techniques, moins de budget, etc.</p>
<p>Je suis particulièrement intéressé sur les choses à ne pas oublier, les à-côtés peu importants, ce qu'il faut éviter, quels problèmes il est prévu de rencontrer, qu'est-ce qui doit être géré finement et ainsi de suite.</p>
<p>N'hésitez-pas à (me) partager votre avis et à demander des précisions ou souligner mes oublis et ambiguïtés !</p>
<h4>Notes</h4>
<p>[<a href="#rev-pnote-789835-1" id="pnote-789835-1" name="pnote-789835-1">1</a>] Je préfère le terme « Données Ouvertes » au terme « <em>Open Data »</em></p>
<p>[<a href="#rev-pnote-789835-2" id="pnote-789835-2" name="pnote-789835-2">2</a>] En référence à l'article <a hreflang="en" href="http://www.linuxvoice.com/the-big-switch/">The Big Switch</a></p>
<p>[<a href="#rev-pnote-789835-3" id="pnote-789835-3" name="pnote-789835-3">3</a>] Mise à jour du 24 août 2014: merci aux lecteurs attentifs pour cette précision !</p>
</p></div>
