---
layout: post
status: publish
published: true
title: Petit bilan des 15èmes Journées Du Logiciel Libre
author:
  display_name: Low Memory
  login: fernando
  email: fernando@trankil.info
  url: ''
author_login: fernando
author_email: fernando@trankil.info
wordpress_id: 7
wordpress_url: http://blog.trankil.info/?p=7
date: '2014-04-26 16:00:00 +0200'
date_gmt: '2014-04-26 16:00:00 +0200'
categories:
- Non_classé
tags: []
comments: []
---
<p>Comme prévu sur la <a href="http://france.debian.net/pipermail/asso/2013-December/002248.html" hreflang="fr">liste de discussions</a> de l'association <a href="http://france.debian.net" hreflang="fr">Debian France</a>, avec deux autres personnes nous sommes allés tenir un stand aux JDLL 2014 .</p>
<h2>Les JDLL</h2>
<p><a href="http://blog.trankil.info/wp-content/uploads/2015/11/JDLL2014-skyscraper240x400.png"><img class="alignnone size-medium wp-image-56" src="http://blog.trankil.info/wp-content/uploads/2015/11/JDLL2014-skyscraper240x400-180x300.png" alt="JDLL2014-skyscraper240x400" width="180" height="300" /></a> Les JDLL sont un événement régional, sur Lyon, organisé par l'Association Lyonnaise pour le Développement de l'Informatique Libre (<a href="http://www.aldil.org/" hreflang="fr">ALDIL</a>).</p>
<p>Comme l'année précédente, cette 15ème édition a eu lieu dans la Maison Pour Tous - Salle des Rancy (<a href="http://www.salledesrancy.com/" hreflang="fr">site web</a>). Le réseau Professionnels du Libre et Open-Source Software en Rhône-Alpes (<a href="http://www.ploss-ra.fr/" hreflang="fr">PLOSS-RA</a>) a également participé dans l'organisation.</p>
<p>C'est donc un « triple partenariat » qui a permis à cette édition d'avoir lieu.</p>
<h3>Le village associatif</h3>
<p><a href="http://blog.trankil.info/wp-content/uploads/2015/11/2014-JDLL-Village-associatif-du-programme.png"><img class="alignnone size-medium wp-image-55" src="http://blog.trankil.info/wp-content/uploads/2015/11/2014-JDLL-Village-associatif-du-programme-300x241.png" alt="2014-JDLL-Village-associatif-du-programme" width="300" height="241" /></a></p>
<p>Le stand Debian France était sur un côté du village associatif, avec d'autres distributions.</p>
<p>Même si le temps manque pour que les discussions puissent se prolonger et se multiplier (la liste des <a href="http://www.jdll.org/animations/" hreflang="fr">animations de ces JDLL 2014</a> est tout simplement hallucinante). C'était enrichissant de pouvoir échanger avec les personnes des autres stands. J'ai notamment apprécié de pouvoir discuter avec l'April, Framasoft, la Mouette, Mozilla France et PLOSS-RA.</p>
<h3>Mes impressions</h3>
<p>C'était pour moi une première que de tenir un stand aux JDLL. Il y a plusieurs années, j'y étais déjà allé, en tant que visiteur.</p>
<p>J'ai beaucoup aimé participer à ces JDLL 2014. Cela m'a permis de passer à nouveau du temps avec Jean et Yves, que j'avais rencontrés au <a href="http://www.salonprimevere.org">Salon Primevère</a> plus tôt cette année. J'ai aussi pu répondre à quelques questions sur Debian et même discuter avec des développeurs Debian ! Woohoo !</p>
<p>Étant au stand, je n'ai pas pu voir beaucoup de conférences, ni participer dans des ateliers. J'ai tout de même pu m'éclipser pour faire une partie en réseau de jeu vidéo (Libre, bien sûr :-) ) et voir les dangers pesants sur la neutralité du réseau ainsi que les avancées de Firefox OS.</p>
<p>J'ai été agréablement surpris par les autres organisations présentes. Par exemple, je ne croisais l'April, la Mouette et Framasoft que pendant les <a href="http://www.rmll.info" hreflang="fr">Rencontres Mondiales du Logiciel Libre</a>, soit une fois par an.</p>
<p>J'en ai profité pour tester la <a href="http://france.debian.net/pipermail/asso/2013-January/001837.html" hreflang="fr">Framakey Debian France</a>: je suis allé acheter 5 clés USB et j'ai profité de tenir le stand pour les créer. J'ai ensuite pu les mettre en vente à 10 euros (elles m'avaient coûté environ 8 euros) et surtout faire des tests et des retours au personnes qui s'en occupent. La personne de Framasoft: elle était aussi dans le village associatif ! On a pu en discuter directement, puis j'ai envoyé un message à la personne de Debian France pour avoir son avis aussi.<br />
J'ai maintenant hâte de voir les prochaines avancées, prévues pour fin avril/mi-mai. ;)</p>
<h3>Pour les prochaines</h3>
<p>Comme toujours, il y a une marge de progression possible. Pour ma part, je dirais:</p>
<ol>
<li>Pour tenir la caisse (vente directe des produits de <a href="http://enventelibre.org/debian" hreflang="fr">la boutique en ligne</a>), <strong>prévoir une caisse</strong> (en métal, avec une serrure). Il a fallu que Jean vide son porte-monnaie pour qu'on ne mélange pas notre argent avec celui de l'association !</li>
<li>Prévoir aussi un peu de monnaie pour tenir la caisse (notamment des pièces de 1 euros, car c'est le prix des autocollants)</li>
<li>Imprimer des formulaires d'adhésion à Debian France. J'ai dû renvoyer des personnes intéressées sur le <a href="https://france.debian.net/galette/self_adherent.php" hreflang="fr">formulaire d'inscription en ligne</a> alors qu'ils n'avaient pas d'ordinateur… :-/</li>
<li><strong>Prendre des photos</strong>, c'est très utile pour ce type de bilans après coup.</li>
</ol>
<p>Je garde un bon souvenir de ces JDLL 2014, au plaisir de vous croiser à la prochaine édition !</p>
