---
layout: post
status: publish
published: true
title: Configuration et utilisation Dolibarr à la Guilde
author:
  display_name: Low Memory
  login: fernando
  email: fernando@trankil.info
  url: ''
author_login: fernando
author_email: fernando@trankil.info
wordpress_id: 8
wordpress_url: http://blog.trankil.info/?p=8
date: '2014-05-24 11:42:00 +0200'
date_gmt: '2014-05-24 11:42:00 +0200'
categories:
- Guilde
tags: []
comments: []
---
<p>À la <a href="http://www.guilde.asso.fr/" hreflang="fr">Guilde</a> des Utilisateurs d'Informatique Libre du Dauphiné, nous utilisons <a href="http://www.dolibarr.fr/" hreflang="fr">Dolibarr</a> pour gérer les cotisations des adhérents. On m'a demandé en privé de partager mon expérience, je le fais ici pour que cela puisse servir à d'autres.</p>
<h2>Contexte d'utilisation - Objectifs</h2>
<p>Avant de rentrer dans les détails, soyons clairs sur le contexte d'utilisation de Dolibarr à la Guilde. Tout d'abord la Guilde est une association loi 1901. Depuis plusieurs années, les cotisations de ses adhérents et les dons sont les seules ressources de l'association. Nous utilisons Dolibarr pour gérer les adhésions et plus particulièrement pour:</p>
<ul>
<li>permettre à nos adhérents de remplir <a href="http://www.guilde.asso.fr/dolibarr/public/members/new.php" hreflang="fr">le formulaire d'adhésion en ligne</a></li>
<li>permettre de noter la date de réception de leur cotisation (l'adhésion à la Guilde dure 12 mois à partir de cette date, comme l'indique <a href="http://www.guilde.asso.fr/guilde/adhesion/" hreflang="fr">la page d'adhésion</a>)</li>
</ul>
<p>C'est une utilisation assez simple de Dolibarr et très pratique pour la Guilde.</p>
<h2>Configuration</h2>
<h3>Modules</h3>
<h4>Modules utilisés</h4>
<p>Les modules utilisés (dont l'état est à <q>ON</q> sur la page <q>Configuration</q>|<q>Modules</q>) sont les suivants:</p>
<ul>
<li>Dons</li>
<li>Banques et caisses</li>
<li>Adhérents</li>
<li>Exports de données</li>
</ul>
<p>Il faut bien distinguer la <ins>configuration</ins> d'un module de son <ins>utilisation</ins>. Certaines options se font dans la configuration du module (icône <a href="http://blog.trankil.info/wp-content/uploads/2015/11/dolibarr_module_setup.png"><img class="alignnone size-full wp-image-62" src="http://blog.trankil.info/wp-content/uploads/2015/11/dolibarr_module_setup.png" alt="dolibarr_module_setup" width="16" height="16" /></a> sur la ligne du module dans la page <q>Configuration</q>|<q>Modules</q>), tandis que d'autres options se font directement en utilisant le module. Sauf indications contraire, la configuration par défaut est utilisée.</p>
<h4>Dons</h4>
<p>Ce module permet de noter les dons reçus (montant, date, s'ils sont publics ou privés, etc).</p>
<h4>Banques et caisses</h4>
<p>Ce module permet la gestion de la trésorerie.</p>
<p>Nous utilisons ce module avec un compte bancaire et une caisse que nous avons créés dans Dolibarr:</p>
<ul>
<li>les virements et chèques sont à encaisser dans le compte bancaire</li>
<li>les cotisations et dons en liquide vont dans la caisse (avec des versements et des retraits du compte bancaire en fonction des besoins)</li>
</ul>
<h4>Adhérents</h4>
<p>Dans la configuration de ce module, nous avons indiqué:</p>
<ul>
<li>la gestion d'un login pour chaque adhérent</li>
</ul>
<p>Cela permet aux adhérents de se connecter à Dolibarr. Ils peuvent ainsi mettre eux-mêmes à jour les données les concernants, voir quelle(s) cotisation(s) nous avons reçue(s) et s'ils sont à jour pour l'année courante.</p>
<ul>
<li>un EMail est obligatoire pour créer un nouvel adhérent</li>
</ul>
<p>Cela permet d'avoir un moyen de contact avec nos adhérents, bien que j'aie une préférence pour la liste de discussion générale.</p>
<p>Toujours dans la configuration, dans l'onglet <code>Formulaire publique d'auto-inscription</code>, nous avons:</p>
<ul>
<li>activé le formulaire publique</li>
<li>indiqué le montant par défaut au tarif normal</li>
<li>permis au visiteur de modifier le montant de sa cotisation (pour les adhésions à tarifs réduit et personne morale)</li>
</ul>
<p>Nous utilisons 3 types d'adhérents, tous soumis à cotisation et ayant droit de vote:</p>
<ul>
<li>tarif normal personnes physiques</li>
<li>tarif réduit personnes physiques</li>
<li>tarif personnes morales</li>
</ul>
<h4>Exports de données</h4>
<p>Ce module permet d'exporter des données de Dolibarr, comme par exemple le total des cotisations reçues pour la dernière année.</p>
<h3>Comptes utilisateurs</h3>
<p>Après avoir installé Dolibarr, en plus de l'utilisateur permettant l'administration, nous avons créé un utilisateur pour chaque fonction du bureau de l'association. Ces comptes sont stables dans le temps et la personne ayant les authentifiants du compte est déterminée à chaque assemblée générale de l'association. C'est avec ces comptes que les adhésions sont validées, les cotisations notées. Bref, qu'une partie de la gestion associative est faite.</p>
<p>Chaque membre du bureau doit donc adhérer à l'association à titre personnel <strong>avec un autre compte utilisateur</strong>. Comme tout adhérent de l'association.</p>
<h2>Utilisation</h2>
<p>J'utilise Dolibarr quand un adhérent veut cotiser. Soit parce qu'il me l'indique directement, soit parce qu'on reçoit un chèque par la poste, soit parce qu'un virement a été fait sur le compte.</p>
<p>Voici alors comment je procède:</p>
<ol>
<li>si cela n'a pas été fait, je rempli les informations sur la page d'adhésion publique<br />
Cela créé un brouillon d'adhésion qui doit être validé.</li>
<li>je me connecte avec mon utilisateur du bureau</li>
<li>je valide l'adhésion<br />
À ce stade, je n'envoie pas de message de confirmation à l'adhérent, ce sera fait à la création de la cotisation.</li>
<li>j'ajoute une cotisation<br />
J'indique alors les informations sur le paiement (montant, date, chèque, espèces, etc) et sur type d'adhésion (date de fin, catégorie d'adhérent).</li>
<li> je valide la cotisation<br />
Cette fois-ci un message de confirmation d'adhésion est envoyé à l'adhérent.</li>
</ol>
