---
layout: post
status: publish
published: true
title: Debian Jessie et Thinkpad X201
author:
  display_name: Low Memory
  login: fernando
  email: fernando@trankil.info
  url: ''
author_login: fernando
author_email: fernando@trankil.info
wordpress_id: 5
wordpress_url: http://blog.trankil.info/?p=5
date: '2014-08-17 16:10:00 +0200'
date_gmt: '2014-08-17 16:10:00 +0200'
categories:
- Debian
tags: []
comments: []
---
<p>Voici comment j'ai procédé pour installer Debian Jessie sur mon Thinkpad X201.</p>
<h2>Téléchargement installateur et création de clé USB de démarrage</h2>
<p>J'ai téléchargé l'installateur, encore en cours de développement sur &lt;https://www.debian.org/devel/debian-installer/&gt;.<br />
 J'ai rendu bootable une clé USB avec la commande suivante (attention à <q>/dev/sdc</q>&nbsp;: cela dépend de votre configuration !):<br />
 <code>sudo cp debian-jessie-DI-b1-amd64-netinst.iso /dev/sdc</code></p>
<h2>Choix du mirroir Debian</h2>
<p>J'ai configuré manuellement le miroir <q>http.debian.net</q> avec le dossier <q>/debian/</q>.<br />
 Cela me permet d'utiliser le miroir le plus proche du réseau au moment où je suis connecté. Voir sur <a href="http://http.debian.net/" hreflang="en">http://http.debian.net</a> pour plus d'informations.</p>
<h2>Formatage et partitionnement du disque dur</h2>
<p>Durant l'installation, j'ai indiqué vouloir utiliser tout mon disque dur du LVM chiffré avec une partition <q>/home</q> séparée. J'ai ensuite modifié les partitions proposées par défaut pour utiliser:</p>
<ul>
<li>8Go de swap (au lieu des 16Go proposés)</li>
<li>40Go pour / (au lieu des 10Go proposés)</li>
<li>le reste pour /home</li>
</ul>
<h2>Choix des programmes</h2>
<p>J'ai installé les éléments proposés par défaut et ajouté le dernier:</p>
<ul>
<li>Environnement graphique de bureau</li>
<li>Serveur d'impression</li>
<li>Ordinateur portable</li>
<li>Système standard</li>
<li>Serveur ssh (ajout personnel)</li>
</ul>
<p>Et voilà: une Debian Jessie qui fonctionne avec XFCE&nbsp;!</p>
