---
layout: post
status: publish
published: true
title: Debian Jessie et Thinkpad X201 - première configuration
author:
  display_name: Low Memory
  login: fernando
  email: fernando@trankil.info
  url: ''
author_login: fernando
author_email: fernando@trankil.info
wordpress_id: 4
wordpress_url: http://blog.trankil.info/?p=4
date: '2014-08-17 16:53:00 +0200'
date_gmt: '2014-08-17 16:53:00 +0200'
categories:
- Debian
tags: []
comments: []
---
<p>Après avoir installé Debian sur mon ordinateur, j'ai commencé à installé mon environnement habituel.</p>
<h2>Sauvegarde</h2>
<p>Je commence par sauvegarder les éléments essentiels pour accéder au disque chiffré tout récemment installé:</p>
<pre>$ sudo fdisk -l /dev/sda | sudo tee fdisk-l_dev_sda
$ sudo cryptsetup luksHeaderBackup --header-backup-file header_dev_sda5 /dev/sda5</pre>
<p>Je copie ensuite ces 2 éléments sur une autre machine, dans un endroit pas (assez) protégé.</p>
<p>Edit: désormais, j'utilise sfdisk pour sauvegarder la table des partitions:</p>
<pre>$ sudo sfdisk -d -uB /dev/sda &gt; sfdisk-d-uB_dev_sda</pre>
<h2>Installation de mes outils usuels</h2>
<p>Il s'agit d'installer un éditeur de texte, un shell et son environnement, un gestionnaire de fenêtres (<em>Windows Manager</em>), un gestionnaire de trousseaux de mots de passes, et de permettre à l'utilisateur <q>fernando</q> d'accéder aux journaux et aux commandes d'administration.</p>
<pre># apt-get install sudo vim zsh keepassx awesome vcsh screen wireshark
# adduser fernando sudo
# adduser fernando adm
# adduser fernando staff
# adduser fernando wireshark</pre>
<p>&nbsp;</p>
<h2>Récupération des configurations</h2>
<p>Une fois les outils installés, je récupère mes clés ssh sauvegardées (tout le dossier <q>${HOME}/.ssh</q>) et je l'utilise pour récupérer mes différentes configurations:</p>
<pre>$ vcsh clone git@oasis.demo-tic.org:fernando/mr.git
…là, ça défile…
$ cd .config/mr/config.d/
$ ln -sf ../available.d/vim.vcsh vim.vcsh
$ ln -sf ../available.d/zsh.vcsh zsh.vcsh
$ ln -sf ../available.d/awesome.vcsh awesome.vcsh
$ cd
$ mr update
…là, ça défile encore…
$ chsh
Mot de passe :
Changement d'interpréteur de commandes initial pour fernando
Entrez la nouvelle valeur ou « Entrée » pour conserver la valeur proposée
Interpréteur de commandes initial <a title="/bin/sh" href="/bin/sh">/bin/sh</a>: <strong>/usr/bin/zsh</strong></pre>
<p>Enfin, je configure la disposition du clavier (j'utilise <a href="http://www.bepo.fr" hreflang="fr">bépo</a>), en utilisant ALT droite pour ALT-GR et la touche logo de gauche pour compose:</p>
<pre><code>$ sudo dpkg-reconfigure keyboard-configuration</code></pre>
