---
layout: post
status: publish
published: true
title: Migration du blog
author:
  display_name: Low Memory
  login: fernando
  email: fernando@trankil.info
  url: ''
author_login: fernando
author_email: fernando@trankil.info
wordpress_id: 51
wordpress_url: http://blog.trankil.info/?p=51
date: '2015-10-24 17:41:19 +0200'
date_gmt: '2015-10-24 16:41:19 +0200'
categories:
- LaBriqueInter.net
- Migration_blog
tags:
- wordpress
- dotclear2
- migration
comments: []
---
<p>Mon blog est en cours de migration sur ma <a title="Pour un Internet neutre et ouvert" href="http://labriqueinter.net">brique Internet</a> ! \o/</p>
<p>Il me reste à importer les images et à mettre en forme…</p>
<p><em>Stay tuned for more info !</em></p>
