---
layout: post
status: publish
published: true
title: Préparation des captations MiniDebConf 2015 Lyon
author:
  display_name: Low Memory
  login: fernando
  email: fernando@trankil.info
  url: ''
author_login: fernando
author_email: fernando@trankil.info
wordpress_id: 6
wordpress_url: http://blog.trankil.info/?p=6
date: '2015-04-07 11:04:00 +0200'
date_gmt: '2015-04-07 11:04:00 +0200'
categories:
- Non_classé
tags: []
comments: []
---
<p>La <a href="https://wiki.debian.org/DebianEvents/fr/2015/Minidebconf" hreflang="en">MiniDebConf 2015 Lyon</a> a lieu ce week-end !</p>
<h2>Système de captation<a href="http://blog.trankil.info/wp-content/uploads/2015/11/MiniDebConf2015Lyon.jpg"><img class="alignnone size-medium wp-image-61" src="http://blog.trankil.info/wp-content/uploads/2015/11/MiniDebConf2015Lyon-300x272.jpg" alt="MiniDebConf2015Lyon" width="300" height="272" /></a></h2>
<p>Voici le schéma de câblage du système DVSwitch pour la captation.  <a href="http://blog.trankil.info/wp-content/uploads/2015/11/MiniDebConf2015Lyon.dia">Schéma modifiable avec Dia.</a><br />
Tout ce matériel a été prété par l'<a href="http://www.irill.org/" hreflang="en">IRILL</a>, à Paris (merci Sylvestre et Grégoire !). La malle contenant le matériel a été amenée de Paris à Lyon (merci Bruno !).</p>
<p>J'ai ainsi pu découvrir ce matériel le week-end du 28 et 29 mars pendant les <a href="http://www.jdll.org/" hreflang="fr">JDLL 2015</a>. À la fin du week-end, nous avons fait un point avec Bruno pour savoir ce qu'il nous restait à voir et poser nos questions sur la liste d'organisation (pour les curieux, ça <a href="https://france.debian.net/pipermail/minidebconf/2015-April/000081.html" hreflang="fr">commence là</a>.</p>
<p>J'ai ensuite tout récupéré: je compte faire un test "grandeur nature" ce soir lors de la <a href="http://www.guilde.asso.fr/rencontres/20150407/" hreflang="fr">conférence de Grésille</a>.</p>
<h2>Rangement dans la malle</h2>
<p>Pour tout ranger dans la malle, je procède en trois étapes (je le note ici, même si c'est pour me faciliter la tâche):<a href="http://blog.trankil.info/wp-content/uploads/2015/11/dvswitch_valise_1.jpg"><img class="alignnone size-medium wp-image-58" src="http://blog.trankil.info/wp-content/uploads/2015/11/dvswitch_valise_1-300x225.jpg" alt="dvswitch_valise_1" width="300" height="225" /></a></p>
<ol>
<li>D'abord la caméra, le commutateur réseau, le twinpact, les bases des deux micros sans fil, et les divers transformateurs électriques et les petits câbles (firewire, XLR, etc.)<br />
<a href="/public/DVSwitch/dvswitch_valise_1.jpg"> </a><a href="http://blog.trankil.info/wp-content/uploads/2015/11/dvswitch_valise_2.jpg"><img class="alignnone size-medium wp-image-59" src="http://blog.trankil.info/wp-content/uploads/2015/11/dvswitch_valise_2-300x225.jpg" alt="dvswitch_valise_2" width="300" height="225" /></a></li>
<li>Puis, je pose les deux ordinateurs et la table de mixage audio<br />
<a href="http://blog.trankil.info/wp-content/uploads/2015/11/dvswitch_valise_3.jpg"><img class="alignnone size-medium wp-image-60" src="http://blog.trankil.info/wp-content/uploads/2015/11/dvswitch_valise_3-300x225.jpg" alt="dvswitch_valise_3" width="300" height="225" /></a></li>
<li> Enfin, je cale le tout avec les grands câbles (VGA, firewire, réseau)</li>
</ol>
