---
layout: post
status: publish
published: true
title: Images are back… but no more pages !
author:
  display_name: Low Memory
  login: fernando
  email: fernando@trankil.info
  url: ''
author_login: fernando
author_email: fernando@trankil.info
wordpress_id: 74
wordpress_url: http://blog.trankil.info/?p=74
date: '2015-11-07 22:39:43 +0100'
date_gmt: '2015-11-07 21:39:43 +0100'
categories:
- LaBriqueInter.net
- Migration_blog
tags:
- wordpress
- dotclear2
- migration
comments: []
---
<p>Dans la continuité de la <a href="http://blog.trankil.info/post/2015/10/24/migration-du-blog">migration de mon blog</a>, j'ai migré les images. Comme je n'en avais pas beaucoup, je l'ai fait manuellement: ajout de l'image dans la partie médias et modification dans l'article correspondant.</p>
<p>Je me suis alors rendu compte que les <em>pages</em> n'ont pas été migrées lors du passage à Wordpress !</p>
<p>Je sais donc quelle sera la prochaine étape ! :-S</p>
