---
layout: post
status: publish
published: true
title: 'Ayé: pages are public again !'
author:
  display_name: Low Memory
  login: fernando
  email: fernando@trankil.info
  url: ''
author_login: fernando
author_email: fernando@trankil.info
wordpress_id: 85
wordpress_url: http://blog.trankil.info/?p=85
date: '2015-12-22 21:27:35 +0100'
date_gmt: '2015-12-22 20:27:35 +0100'
categories:
- LaBriqueInter.net
- Migration_blog
tags: []
comments: []
---
<p>Ça y est, j'ai migré les pages de mon ancien blog, notamment la page de saison: ma liste au père noël et aux rois mages ! :-D</p>
<p>Bon, j'ai dû tout faire à la mano: connexion sur l'ancien blog, copier/coller, vérification (et modification) des liens… :-(</p>
<p>Elles doivent apparaître quelque part sur la gauche, en-dessous des 3 articles les plus récent.</p>
<p>Have fun !</p>
