---
layout: post
status: publish
published: true
title: La brique en voyage
author:
  display_name: Low Memory
  login: fernando
  email: fernando@trankil.info
  url: ''
author_login: fernando
author_email: fernando@trankil.info
wordpress_id: 108
wordpress_url: http://blog.trankil.info/?p=108
date: '2016-06-17 10:13:11 +0200'
date_gmt: '2016-06-17 09:13:11 +0200'
categories:
- LaBriqueInter.net
tags:
- DebianPlanet
comments: []
---
<h1>La situation</h1>
<p>Il se trouve que j'ai déménagé récemment. J'en ai profité pour demander un abonnement Internet à l'association de la <a href="https://www.ffdn.org/">Fédération FDN</a> de mon coin: <a href="https://www.rezine.org/">Rézine</a>. J'ai donc mis ma <a href="http://labriqueinter.net">brique Internet</a> chez quelqu'un, le temps que l'accès Internet soit en place.</p>
<h2>Le problème</h2>
<p>Quand j'ai connecté la brique depuis un autre accès Internet, plus rien n'a fonctionné : pas de nouvelles de la brique sur Internet, ni sur le réseau local ! :-(</p>
<h2>La solution</h2>
<p><em>Note pour les avocats: cette solution a fonctionné chez moi, mais il y a un risque de perdre des données. Rien ne garanti qu'elle fonctionnera chez vous ! Je ne peux pas être tenu pour responsable des actions que vous faites. En cas de doute, demandez de l'aide au membre FFDN le plus proche de chez vous !</em></p>
<p>&nbsp;</p>
<p>"Malheureusement", j'ai un modèle de brique datant de juillet 2015 (avec <a href="http://blog.trankil.info/category/labriqueinter-net/migration-blog">la migration du blog sur la brique</a> fin 2015). Et une fois fonctionnelle, je ne me suis pas occupé de son entretien: ne pas toucher à quelque chose qui fonctionne me semble un bon conseil à suivre en informatique.</p>
<p>Mais là, je n'avais pas vu qu'il y avait des erreurs sur le disque. Ces erreurs n'ont été gênantes qu'une fois la brique éteinte et rallumée. J'ai donc pris le disque dur de la brique (la carte microSD) et je l'ai mis dans mon PC.</p>
<p>Puis, avec la commande <strong>lsblk</strong> j'ai vu que la partition de ce disque était <strong>/dev/sdc1</strong>; j'ai alors pu lancer une vérification du disque avec la commande suivante:</p>
<pre># fsck /dev/sdc1
[…là, ça défile et des fois ça pose des questions…]</pre>
<p>Quand la question était posée de corriger les erreurs, j'ai répondu <strong>oui</strong>. Une fois toutes les erreurs corrigées, j'ai relancé la commande pour vérifier qu'il n'y avait plus d'erreur:</p>
<pre># fsck /dev/sdc1
fsck de util-linux 2.25.2
e2fsck 1.42.12 (29-Aug-2014)
/dev/sdc1 : propre, 93335/917568 fichiers, 848399/3859968 blocs</pre>
<p>C'est alors, plein d'espoir que j'ai remis le disque dur dans la brique pour la brancher et l'allumer: ça marchait à nouveau ! :-)</p>
<h2>Deuxième problème</h2>
<p>Tout content que la brique refonctionne, j'ai payé un coup à boire à la personne qui l'héberge et je suis rentré chez moi. C'est avec un peu de déception que j'ai réalisé le lendemain que la brique ne fonctionnait plus ! :'-(</p>
<p>Ce deuxième problème est aussi lié au fait que j'ai mis en place ma brique en juillet 2015: à partir du moment où <a href="https://github.com/labriqueinternet/vpnclient_ynh">l'application vpnclient</a> mettait en place le tunnel chiffré, la brique n'avait plus accès aux DNS (dont <a href="http://guilde.asso.fr/rencontres/20160301/">on parle dans cette superbe conférence</a>) !</p>
<p>Après demande d'information à <a href="https://www.rezine.org/">mon fournisseur de tunnels</a>, c'est normal pour pleins de raisons diffèrentes, bref je dois utiliser leur DNS.</p>
<h2>Deuxième solution</h2>
<p>Une fois le problème identifié, la solution n'est pas loin ! Ici, j'ai mis à jour <a href="https://github.com/labriqueinternet/vpnclient_ynh">l'application vpnclient</a> et le tour était joué: la dernière version de cette application prends en compte les DNS ! \o/</p>
<p>Je peux donc maintenant bloguer à nouveau, par exemple pour indiquer comment j'ai déplacé ma brique ! :-)</p>
<p>Prochaines étapes: mise en place de sauvegardes… <em>Stay tuned for more info</em></p>
<p>&nbsp;</p>
