---
layout: post
status: publish
published: true
title: Agendas dans La Brique Internet
author:
  display_name: Low Memory
  login: fernando
  email: fernando@trankil.info
  url: ''
author_login: fernando
author_email: fernando@trankil.info
wordpress_id: 93
wordpress_url: http://blog.trankil.info/?p=93
date: '2016-01-07 00:13:39 +0100'
date_gmt: '2016-01-06 23:13:39 +0100'
categories:
- LaBriqueInter.net
- Agenda
tags:
- YUnoHost
- Baikal
comments: []
---
<p>Après avoir installé une <a href="http://labriqueinter.net/">brique Internet</a> (notamment pour héberger ce blog),  je viens d'y ajouter l'application gérant les agendas. J'ai "tellement" galéré (j'y suis depuis ~1h30), que je note ici comment j'ai fait (même si j'espère bien ne pas avoir à le refaire de si tôt ! :-) ).</p>
<p>&nbsp;</p>
<h2>Installation de l'application des Agendas</h2>
<p>L'application <a href="https://yunohost.org">YUnoHost</a> prévue pour les agendas s'appelle <a href="http://baikal-server.com/">Baikal</a> « Serveur CalDAV + CardDAV léger ».</p>
<p>Pas de souci de ce côté-là, juste un étonnement:</p>
<ul>
<li>je configure le DNS pour un domaine dédié aux agendas: <em>agenda.trankil.info</em> (je préfère les sous-domaines aux sous-dossiers, chacun ses goûts)</li>
<li>je me connecte en administrateur,</li>
<li>j'indique le domaine (dans <em>Domaines</em>, puis <em>Ajouter un domaine</em>)</li>
<li>j'ai dû me déconnecter puis me reconnecter (soit je ne suis pas assez patient, soit c'est nécessaire ;) )</li>
<li>j'installe l'application (dans <em>Applications</em>, puis <em>+Installer</em> j'ai choisi <em>Baikal</em>)<br />
Les paramètres sont assez clairs.<br />
Seul le chemin m'a étonné: bien que je veuille que l'application n'ait pas de sous-dossier, j'ai été obligé d'indiquer « / » pour son chemin (cela aura un impact sur la configuration, que j'explique un peu plus tard).</li>
<li>Au bout d'un moment, tout semble correct: je me déconnecte du compte administrateur.</li>
</ul>
<h2>Configuration de l'application</h2>
<p>Pour configurer cette application, il faut ajouter <em>/admin</em> à son adresse. Cela semble évident dit comme ça, mais ça m'a bien pris 1/4 d'heure pour m'en rendre compte, grâce à <a href="https://forum.yunohost.org/t/baikal-web-interface/251">ce message</a> des <a href="https://forum.yunohost.org/">forums de Yunohost</a>.</p>
<p>Du coup, je vais sur <em>https://agenda.trankil.info/admin</em> en utilisant le mot de passe que j'ai choisi à l'installation.</p>
<p>L'identification par LDAP soit automatiquement configurée, ce qui m'a semblé logique pour utiliser les comptes YUnoHost existants sur ma brique (c'est le cas pour d'autres applications). Mais il semble que <a href="https://github.com/netgusto/Baikal/issues/52">cela n'est pas implémenté dans Baikal</a> !</p>
<p>Bref, après moults tests et tentatives d'utiliser mon compte habituel, en utilisant les menu en haut de page, j'ai configuré les éléments suivants:</p>
<ol>
<li>Dans la partie <em>Users and resources</em>, j'ajoute un compte utilisateur (un calendrier et un carnet d'adresses sont créés automatiquement)</li>
<li>Dans la partie <em>Settings</em>, je change <em>WebDAV authentication type</em> pour utiliser <em>Basic</em></li>
<li>Dans la partie System Settings, je change <em>CalDAV base URI</em> et <em>CardDAV base URI</em> pour laisser <em>"/cal.php/"</em> en lieu et place du <em>"//cal.php/"</em> (avec les guillemets) apparaissant de prime abord (souvenez-vous mon étonnement ^_^)</li>
</ol>
<p>Une fois l'application prête à l'emploi, je configure mon client CalDAV pour afficher mon agenda tout nouveau tout beau !</p>
<h2>Utilisation de mes Agendas</h2>
<p>Personnellement, j'utilise <a href="https://addons.mozilla.org/fr/thunderbird/addon/lightning/">Lightning</a> un module de <a href="https://www.mozilla.org/fr/thunderbird/">Thunderbird</a>, comme nous <a href="http://documentation.demo-tic.org/mini_logitheque#messagerie_de_courriels_thunderbird">le recommandons à Demo-TIC</a>. ;)</p>
<p>Pour ajouter mon nouvel agenda aux autres, j'ai tout simplement utilisé l'adresse indiquée dans <a href="https://github.com/netgusto/Baikal/blob/master/INSTALL.md#user-content-56---thunderbirdlightning">la documentation de Baikal</a>,(branche master: la version stable et pas celle en cours de développement) dans mon cas: <em>https://agenda.trankil.info/cal.php/calendars/compte_utilisateur/default/</em> ce qui a enfin fonctionné !</p>
<p>&nbsp;</p>
<p>Ça y est, mes collègues de <a href="http://www.demo-tic.org/">Demo-TIC</a> ne seront plus attirés par mes rendez-vous libres pour sauver le monde, mais seulement encouragés par ma dévotion à notre (future) <a href="http://www.les-scic.coop/sites/fr/les-scic/les-scic/qu-est-ce-qu-une-scic.html">Société Coopérative d'Intérêt Collectif Loi 2001</a> à but non lucratif en Informatique Libre, car j'aurai déplacé tous ces évènements dans mon agenda personnel ! :-D</p>
<p>Même si cela m'aura pris ~2h30 au final, que l'empire se tienne à carreau: <a href="http://www.april.org/campagne/">la rébellion grandi chaque jour</a> et <a href="http://tnemeth.free.fr/fmbl/linuxsf/index.html">les pingouins écrivent l'histoire</a>, <a href="http://blog.trankil.info/wp-content/uploads/2016/01/linuxsf.pdf">même en PDF</a> !</p>
