---
layout: post
status: publish
published: true
title: Certificats Let's Encrypt ! avec certbot
author:
  display_name: Low Memory
  login: fernando
  email: fernando@trankil.info
  url: ''
author_login: fernando
author_email: fernando@trankil.info
wordpress_id: 127
wordpress_url: http://blog.trankil.info/?p=127
date: '2016-10-29 19:36:29 +0200'
date_gmt: '2016-10-29 18:36:29 +0200'
categories:
- Debian
- Debian_France
tags:
- DebianPlanet
- letsencrypt
- certificats
comments: []
---
<h2>Qu’est-ce que c’est donc ? (bis)</h2>
<p>Le mois dernier, <a href="http://blog.trankil.info/post/2016/08/10/renouvellement-de-certificats-letsencrypt-avec-systemd">j'avais partagé comment je faisais pour renouveler des certificats Let's Encrypt !</a> Je me suis alors rendu compte qu'il y a des outils dédiés dans le projet <a href="https://www.debian.org">Debian</a>, et qu'ils ont étés <a href="https://wiki.debian.org/fr/Backports">rétroportés</a> pour <a href="https://wiki.debian.org/fr/DebianJessie">Jessie</a>: le <a href="https://packages.debian.org/search?keywords=certbot">paquet Debian certbot</a>. Voici comment j'utilise ce paquet.</p>
<p>Pour rappel:<br />
« <strong><a href="https://letsencrypt.org/">Let's Encrypt</a></strong> (abrégé <i>LE</i>) est une <a href="https://fr.wikipedia.org/wiki/Autorit%C3%A9_de_certification">autorité de certification</a> lancée le 3 décembre 2015 (Bêta Version Publique). Cette autorité fournit des <a href="https://fr.wikipedia.org/wiki/Certificat_%C3%A9lectronique">certificats</a> gratuits <a href="https://fr.wikipedia.org/wiki/X.509">X.509</a> pour le protocole cryptographique <a href="https://fr.wikipedia.org/wiki/Transport_Layer_Security">TLS</a> au moyen d’un processus automatisé destiné à se passer du processus complexe actuel impliquant la création manuelle, la validation, la signature, l’installation et le renouvellement des certificats pour la sécurisation des sites internet. »<br />
<em><a href="http://creativecommons.org/licenses/by-sa/3.0/deed.fr">Contenu soumis à la licence CC-BY-SA 3.0</a>. Source : Article <a href="https://fr.wikipedia.org/wiki/Let%27s_Encrypt">Let's Encrypt</a> de <a href="https://fr.wikipedia.org/">Wikipédia en français</a> (<a href="https://fr.wikipedia.org/w/index.php?title=Let%27s_Encrypt&amp;action=history">auteurs</a> ).</em></p>
<p>Voici donc comment j'utilise <a href="https://packages.debian.org/jessie-backports/certbot">ce paquet Debian certbot</a> pour:</p>
<ul>
<li>Créer de nouveaux certificats (pour <em>nginx</em>)</li>
<li>Mettre à jour ces certificats</li>
</ul>
<h2>Préambule: installation</h2>
<p>Pour installer le paquet <strong>certbot</strong>, il faut d'abord ajouter la source des paquets rétroportés. C'est indiqué dans <a href="https://backports.debian.org/Instructions/">les instructions (en anglais)</a> et sur <a href="https://wiki.debian.org/fr/Backports#Configurer_votre_Debian_stable">la page wiki (en français)</a>. Personnellement, voici comment j'ai fait:</p>
<p>J'ai créé un fichier <code>/etc/apt/sources.list.d/backports.list</code> contenant la ligne suivante:</p>
<pre><code>deb http://ftp.debian.org/debian jessie-backports main
</code></pre>
<p>Puis lancé les commandes suivantes:</p>
<pre><code class="bash">root@server ~# apt update
[…]
root@server ~# apt install certbot
[…]
</code></pre>
<h2>Créer de nouveaux certificats (pour <em>nginx</em>)</h2>
<p>J'utilise <em>nginx</em> comme serveur web. J'ai mis en place le certificat <a href="https://letsencrypt.org/">Let's Encrypt !</a> en 3 étapes:</p>
<ol>
<li>Créer le certificat</li>
<li>Configurer <em>nginx</em> pour utiliser le nouveau certificat</li>
<li>Relancer <em>nginx</em></li>
</ol>
<h3>Créer le certificat</h3>
<p>Voici comment j'ai créé les certificats pour le site web <strong>www.fosforito.fr</strong>:</p>
<pre><code class="bash">root@server ~# systemctl stop nginx.service
root@server ~# certbot certonly -d www.fosforito.fr
[…]
</code></pre>
<p>Puis, j'ai suivi les instructions (en anglais) pour utiliser l'authentification avec un serveur web autonome (<em>standalone</em>). Cela autorise <em>certbot</em> à lancer son propre serveur web, le temps de créer le certificat. <em>nginx</em> ne doit donc pas fonctionner le temps de créer le certificat (quelques secondes dans mon cas), c'est le but de la première commande. Pour le relancer, j'ai utilisé la commande suivante:</p>
<pre><code class="bash">root@server ~# systemctl start nginx.service
</code></pre>
<h3>Configuration de nginx</h3>
<p>Pour utiliser la configuration ci-dessous, j'ai d'abord créé une clé Diffie-Hellman <a href="https://weakdh.org/sysadmin.html#nginx">comme indiqué par SSL Labs</a>:</p>
<pre><code class="bash">root@server ~# openssl dhparam -out /etc/nginx/dhparams.pem 2048
[…]
</code></pre>
<p>Voici le fichier <code>/etc/nginx/sites-available/www.fosforito.fr.conf</code> que j'utilise avec la commande <code>root@server ~# ln -s /etc/nginx/sites-available/www.fosforito.fr.conf /etc/nginx/sites-enabled/www.fosforito.fr.conf</code>:</p>
<pre><code class="config">server {
    listen 443;
    server_name www.fosforito.fr;

    ssl on;
    ssl_certificate /etc/letsencrypt/live/www.fosforito.fr/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/www.fosforito.fr/privkey.pem;

    ssl_ciphers 'ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-AES256-GCM-SHA384:DHE-RSA-AES128-GCM-SHA256:DHE-DSS-AES128-GCM-SHA256:kEDH+AESGCM:ECDHE-RSA-AES128-SHA256:ECDHE-ECDSA-AES128-SHA256:ECDHE-RSA-AES128-SHA:ECDHE-ECDSA-AES128-SHA:ECDHE-RSA-AES256-SHA384:ECDHE-ECDSA-AES256-SHA384:ECDHE-RSA-AES256-SHA:ECDHE-ECDSA-AES256-SHA:DHE-RSA-AES128-SHA256:DHE-RSA-AES128-SHA:DHE-DSS-AES128-SHA256:DHE-RSA-AES256-SHA256:DHE-DSS-AES256-SHA:DHE-RSA-AES256-SHA:AES128-GCM-SHA256:AES256-GCM-SHA384:AES128-SHA256:AES256-SHA256:AES128-SHA:AES256-SHA:AES:CAMELLIA:DES-CBC3-SHA:!aNULL:!eNULL:!EXPORT:!DES:!RC4:!MD5:!PSK:!aECDH:!EDH-DSS-DES-CBC3-SHA:!EDH-RSA-DES-CBC3-SHA:!KRB5-DES-CBC3-SHA';

    ssl_prefer_server_ciphers on;

    ssl_dhparam /etc/nginx/dhparams.pem;

    root /srv/www.fosforito.fr/;
    index index.html;

    access_log      /var/log/nginx/www.ssl.access.log;
    error_log       /var/log/nginx/www.ssl.error.log;


}
</code></pre>
<p>Une fois tout cela mis en place, je teste avec SSL Labs et je vois que <a href="https://www.ssllabs.com/ssltest/analyze.html?d=www.fosforito.fr&amp;hideResults=on">ce site obtient un A</a>, ce qui me va bien. :)</p>
<h2>Mise à jour du certificat</h2>
<p>Le paquet certbot met en place une tâche planifiée pour mettre à jour automatiquement le(s) certificat(s) Let's Encrypt ! présent(s) sur le serveur. Malheureusement, pour l'instant, cela ne fonctionne que pour le serveur web <em><a href="https://packages.debian.org/search?suite=all&amp;exact=1&amp;searchon=names&amp;keywords=apache2">apache (paquet apache2 dans Debian)</a></em>.<br />
Pour <em>nginx</em>, j'ai simplement modifié la tâche planifiée, dans le fichier <code>/etc/cron.d/certbot</code>, pour arrêter le serveur web avant le renouvellement de certificat et le relancer après. Voici le fichier au complet (notez les options <strong>pre-hook</strong> et <strong>post-hook</strong>):</p>
<pre><code class="config"># /etc/cron.d/certbot: crontab entries for the certbot package
#
# Upstream recommends attempting renewal twice a day
#
# Eventually, this will be an opportunity to validate certificates
# haven't been revoked, etc.  Renewal will only occur if expiration
# is within 30 days.
SHELL=/bin/sh
PATH=/usr/local/sbin:/usr/local/bin:/sbin:/bin:/usr/sbin:/usr/bin

0 */12 * * * root test -x /usr/bin/certbot &amp;&amp; perl -e 'sleep int(rand(3600))' &amp;&amp; certbot -q renew --pre-hook "service nginx stop" --post-hook "service ngnix start"
</code></pre>
<h2>Récapitulatifs</h2>
<h3>Mise en place du certificat pour <em>nginx</em></h3>
<ol>
<li>Arrêter <em>nginx</em></li>
<li>Créer le certificat <em>Let's Encrypt !</em></li>
<li>Créer le groupe Diffie-Hellman</li>
<li>Mettre en place la configuration du site web</li>
<li>Relancer <em>nginx</em></li>
</ol>
<h3>Renouvellement du(des) certificat(s)</h3>
<p>Ajouter les options <em>pre-hook</em> et <em>post-hook</em> à la tâche plannifiée.</p>
