---
layout: post
status: publish
published: true
title: Téléphone et système libre
author:
  display_name: Low Memory
  login: fernando
  email: fernando@trankil.info
  url: ''
author_login: fernando
author_email: fernando@trankil.info
wordpress_id: 89
wordpress_url: http://blog.trankil.info/?p=89
date: '2016-01-06 23:14:33 +0100'
date_gmt: '2016-01-06 22:14:33 +0100'
categories:
- LinuxMint
tags: []
comments: []
---
<p>Grâce à <a href="http://solidura.fr/index.php?option=com_content&amp;view=article&amp;id=19&amp;Itemid=177">Solidura</a>, j'ai enfin un câble de connexion USB pour mon téléphone Samsung GT-E2370.</p>
<p>Après avoir tâtonné un peu, j'ai pu synchroniser les données avec mon PC.</p>
<p>J'ai commencé par télécharger le logiciel officiel (pour Windows) puis essayé son installation avec <a href="https://www.playonlinux.com/fr/">PlayOnLinux</a>, malheureusement cela n'a pas fonctionné (erreurs à l'installation). :-(</p>
<p>Puis, j'ai essayé le Logiciel Libre <a href="http://www.bitpim.org/">BitPim</a>. Malheureusement cela n'a pas fonctionné non plus (téléphone non reconnu).</p>
<p>J'ai alors installé <a href="http://fr.wammu.eu/">Wammu</a>, un autre Logiciel Libre, et là woohoo ! Le téléphone est découvert et j'ai pu récupérer la plupart des données. Il me manque uniquement mes notes prises sur le téléphone dans des « mémos ».</p>
<p>Pour mes photos, je suis passé par le bluetooth.</p>
