---
layout: post
status: publish
published: true
title: 'Debian Stretch et Dell Latitude E6520: installation'
author:
  display_name: Low Memory
  login: fernando
  email: fernando@trankil.info
  url: ''
author_login: fernando
author_email: fernando@trankil.info
wordpress_id: 155
wordpress_url: http://blog.trankil.info/?p=155
date: '2016-11-19 11:44:18 +0100'
date_gmt: '2016-11-19 10:44:18 +0100'
categories:
- Debian
- Debian_France
tags: []
comments: []
---
<p>J'ai un nouveau travail, pour lequel on m'a fourni un Dell Latitude E6520. Voici comment j'ai installé <a href="https://wiki.debian.org/fr/DebianStretch">Debian 9 Stretch</a> <em>testing</em> dessus.</p>
<blockquote><p>
  Debian testing est la version actuellement en développement de la prochaine version stable de Debian. Elle est aussi disponible sous le nom de la future version, c'est-à-dire Stretch (depuis le 25 avril 2015).<br />
  (Extrait du <a href="https://wiki.debian.org/fr/DebianTesting">wiki officiel</a>)
</p></blockquote>
<h1>Ma démarche pour install Stretch</h1>
<p>Pour installer la future Debian stable, j'ai suivi les étapes suivantes, indiquées comme la <em>manière la plus fiable</em> dans le wiki officiel (il est aussi possible d'utiliser l'<a href="https://www.debian.org/devel/debian-installer/">installateur encore en version alpha pour Stretch</a>):</p>
<ol>
<li>Installer Debian 8 Jessie <em>stable</em> à partir d'une clé USB</li>
<li>Changer les sources de paquets</li>
<li>Mettre à jour vers Debian 9 Stretch <em>testing</em></li>
</ol>
<h1>Installer Debian 8 Jessie <em>stable</em> à partir d'une clé USB</h1>
<h2>Préparation de et démarrage sur la clé USB</h2>
<p>En trois étapes:</p>
<ol>
<li>Télécharger la dernière version stable (la 8.6.0 en cemoment)<br />
À partir du <a href="http://cdimage.debian.org/debian-cd/8.6.0/multi-arch/iso-cd/debian-8.6.0-amd64-i386-netinst.iso">lien en haut à droite</a> de la <a href="https://www.debian.org">page d'accueil du projet Debian</a></li>
<li>Copier le contenu de ce téléchargement sur une clé USB<br />
Avec la commande <code># cp /chemin/dossier/téléchargement/debian-8.6.0-amd64-i386-netinst.iso /dev/sd&lt;ma_cle_usb&gt;</code></li>
<li>Démarrer l'ordinateur sur la clé USB<br />
Pour cela, sur ce Dell (Latitude E6520), appuyer sur <em>F12</em> pendant le démarrage de l'ordinateur et sélectionner la clé USB</li>
</ol>
<h2>"Options" choisies pendant l'installation</h2>
<p>Mes "options" préférées pendant une installation de poste de travail:<br />
* Ne pas mettre de mot de passe au compte de l'administrateur (<em>root</em>): cela installe sudo et ajoute l'utilisateur créé pendant l'installation dans le groupe sudo<br />
* Utiliser le disque en entier avec LVM et une partition chiffrée, qui contient tous les dossiers<br />
* Choisir l'environnement de bureau XFCE</p>
<h1>Changer les sources de paquets</h1>
<p>Dans <code>/etc/apt/sources.list</code>, changer <code>jessie</code> par <code>stretch</code>, le fichier final est donc:</p>
<pre><code class="config"># 

deb http://httpredir.debian.org/debian/ stretch main
deb-src http://httpredir.debian.org/debian/ stretch main

deb http://security.debian.org/ stretch/updates main
deb-src http://security.debian.org/ stretch/updates main

deb http://httpredir.debian.org/debian/ stretch-updates main
deb-src http://httpredir.debian.org/debian/ stretch-updates main
</code></pre>
<p>Puis mettre à jour la liste des paquets disponibles: <code># apt update</code></p>
<h1>Mettre à jour vers Debian 9 Stretch <em>testing</em></h1>
<p>En trois étapes:</p>
<ol>
<li>Mettre à jour l'outil de gestion des paquets:<br />
<code># apt install apt</code></li>
<li>Mettre à jour les paquets installés:<br />
<code># apt upgrade</code></li>
<li>Redémarrer (je ne sais pas si c'est <em>nécessaire</em>, mais cela permet d'utiliser le noyau qui vient d'être installé)<br />
<code># reboot</code></li>
<li>Finir la mise à jour:<br />
<code># apt full-upgrade</code></li>
</ol>
<p>Note:</p>
<ul>
<li>Pendant la mise à jour, j'ai rencontré un problème, <a href="http://forums.debian.net/viewtopic.php?f=10&amp;t=129613">temporaire</a> et dont la cause première a <a href="https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=740998">déjà été corrigée</a>), en indiquant que le paquet <code>rdnssd</code> est en conflit avec <code>network-manager</code>. Comme j'utilise <code>network-manager</code>, j'ai résolu ce problème en supprimant le paquet <code>rdnssd</code>, qui ne me semble pas nécessaire dans mon cas.</li>
</ul>
<h1>Et voilà !</h1>
<p>Comme ce modèle n'était pas dans la partie <a href="https://wiki.debian.org/InstallingDebianOn">« <em>Installing Debian On</em> » du wiki</a>, je <a href="https://wiki.debian.org/InstallingDebianOn/Dell/LatitudeE6520">l'ai ajouté</a> ! :-)</p>
