---
layout: post
status: publish
published: true
title: Renouvellement de certificats LetsEncrypt avec systemd
author:
  display_name: Low Memory
  login: fernando
  email: fernando@trankil.info
  url: ''
author_login: fernando
author_email: fernando@trankil.info
wordpress_id: 113
wordpress_url: http://blog.trankil.info/?p=113
date: '2016-08-10 22:02:43 +0200'
date_gmt: '2016-08-10 21:02:43 +0200'
categories:
- Debian
- Debian_France
tags:
- DebianPlanet
- systemd
- cron
- timer
- minuterie
- letsencrypt
- certificats
comments: []
---
<h2>Qu'est-ce que c'est donc ?</h2>
<p><strong>« <a href="https://letsencrypt.org/">Let's Encrypt</a></strong> (abrégé <i>LE</i>) est une <a title="Autorité de certification" href="https://fr.wikipedia.org/wiki/Autorit%C3%A9_de_certification">autorité de certification</a> lancée le 3 décembre 2015 (Bêta Version Publique). Cette autorité fournit des <a title="Certificat électronique" href="https://fr.wikipedia.org/wiki/Certificat_%C3%A9lectronique">certificats</a> gratuits <a title="X.509" href="https://fr.wikipedia.org/wiki/X.509">X.509</a> pour le protocole cryptographique <a title="Transport Layer Security" href="https://fr.wikipedia.org/wiki/Transport_Layer_Security">TLS</a> au moyen d'un processus automatisé destiné à se passer du processus complexe actuel impliquant la création manuelle, la validation, la signature, l'installation et le renouvellement des certificats pour la sécurisation des sites internet<sup id="cite_ref-1" class="reference"><a href="https://fr.wikipedia.org/wiki/Let%27s_Encrypt#cite_note-1">1</a></sup>. » <small>(<a class="external text" href="http://creativecommons.org/licenses/by-sa/3.0/deed.fr" rel="nofollow">Contenu soumis à la licence CC-BY-SA 3.0</a>. Source : Article <i><a class="external text" href="https://fr.wikipedia.org/wiki/Let%27s_Encrypt">Let's Encrypt</a></i> de <a class="external text" href="https://fr.wikipedia.org/">Wikipédia en français</a> (<a class="external text" href="https://fr.wikipedia.org/w/index.php?title=Let%27s_Encrypt&amp;action=history">auteurs</a>) )</small></p>
<p>Bref, c'est bien pratique pour faire du HTTPS (entre autres) et on peut automatiser le renouvellement des certificats. Il y a plusieurs années, j'aurais fait un <a href="https://fr.wikipedia.org/wiki/Cron">cron</a>, mais comme j'ai appris que systemd pouvait gérer des tâches répétitives, je me suis dit que c'était l'occasion de m'y mettre ! ;)</p>
<h2>Comment on fait ?</h2>
<p>Voici les étapes suivies, détaillées ci-dessous puis quelques documents qui m'ont permis de le faire, sans compter le conseil d'un ami: « <em>T'as qu'à faire un timer !</em> » :</p>
<ul>
<li>Copier <a href="https://github.com/certbot/certbot" target="_blank">certbot</a> sur le serveur, logiciel (libre, non-copyleft) de gestion des certificats de Let's Encrypt</li>
<li>Créer un script pour renouveler les certificats avec certbot</li>
<li>Créer un <a href="http://www.linuxcertif.com/man/5/systemd.service/" target="_blank"><strong>service</strong> systemd</a> pour lancer le script</li>
<li>Créer une minuterie (<a href="http://www.linuxcertif.com/man/5/systemd.timer/" target="_blank"><strong>timer</strong>) systemd</a> pour lancer le service à intervalles réguliers</li>
</ul>
<p>Enfin, activer et lancer la minuterie puis vérifier que ça fonctionne.</p>
<h3>1. Copier certbot sur le serveur</h3>
<p>Je le copie dans le dossier <code>/opt</code> du serveur:</p>
<p><code>root@serveur:~# cd /opt/ &amp;&amp; git clone https://github.com/certbot/certbot</code><br />
<code>[…]</code></p>
<h3>2. Créer le script pour utiliser certbot</h3>
<p>Le script se nomme <code>certbot-renew</code>, il est créé dans <code>/opt/certbot/</code>, au même endroit que certbot. Créez aussi le dossier pour les journaux avec la commande <code>mkdir /var/log/letsencrypt/</code>.</p>
<p>Si vous utilisez le serveur web apache, changez le service que systemd doit arrêter et redémarrer, en gras dans le code ci-dessous:</p>
<p><code>root@serveur:~# cat &gt; /opt/certbot/certbot-renew &lt;&lt; EOF</code><br />
<code> #!/bin/sh</code><br />
<code> # Inspired by &lt;https://letsencrypt.org/getting-started/&gt;</code><br />
<code> systemctl stop <strong>nginx.</strong>service</code><br />
<code> /opt/certbot/certbot-auto renew -nvv --standalone &gt; /var/log/letsencrypt/renew.log 2&gt;&amp;1</code><br />
<code> LE_STATUS=$?</code><br />
<code> systemctl start <strong>nginx</strong>.service</code><br />
<code> if [ "$LE_STATUS" != 0 ]; then</code><br />
<code> echo Automated renewal failed:</code><br />
<code> tail -n 200 /var/log/letsencrypt/renew.log</code><br />
<code> exit 1</code><br />
<code> fi</code><br />
<code> EOF</code></p>
<h3>3. Créer le service systemd</h3>
<p>C'est ce service qui va lancer le script <code>/opt/certbot/certbot-renew </code>créé à l'étape précédente:</p>
<p><code>root@serveur:~# cat &gt; /etc/systemd/system/certbot-renew.service &lt;&lt; EOF</code><br />
<code> # Voir &lt;https://mjanja.ch/2015/06/replacing-cron-jobs-with-systemd-timers/&gt;</code><br />
<code> [Unit]</code><br />
<code> Description=Renouvellement des certificats letsencrypt</code></p>
<p><code>[Service]</code><br />
<code> Type=simple</code><br />
<code> nice=19</code><br />
<code> IOSchedulingClass=2</code><br />
<code> IOSchedulingPriority=7</code><br />
<code> ExecStart=/opt/certbot/certbot-renew</code><br />
<code> EOF</code></p>
<h3>4. Créer la minuterie systemd</h3>
<p>C'est cette minuterie qui va lancer le <em>service</em> créé à l'étape précédente. Notez que la valeur <code>daily</code> pour <code>OnCalendar</code> lance le service à minuit. Comme le serveur était programmé pour faire d'autres choses à minuit, j'ai utilisé un autre moment. ^^</p>
<p><code>root@serveur:~# cat &gt; /etc/systemd/system/certbot-renew.timer &lt;&lt; EOF</code><br />
<code># Voir &lt;https://mjanja.ch/2015/06/replacing-cron-jobs-with-systemd-timers/&gt;</code><br />
<code>[Unit]</code><br />
<code>Description=Renouvellement des certificats letsencrypt</code></p>
<p><code>[Timer]</code><br />
<code> #OnCalendar=daily</code><br />
<code> OnCalendar=*-*-* 04:20:42</code></p>
<p><code>[Install]</code><br />
<code>WantedBy=timers.target</code><br />
<code>EOF</code></p>
<p>&nbsp;</p>
<p>Il ne reste plus qu'à activer cette minuterie pour qu'elle soit lancée à chaque démarrage du serveur:  <code>systemctl enable certbot-renew.timer</code></p>
<p>Pour éviter un redémarrage, la minuterie peut être lancée manuellement: <code>systemctl start certbot-renew.timer</code></p>
<p>Pour vérifier que tout fonctionne bien le service peut aussi être lancé manuellement: <code>systemctl start certbot-renew.service</code>. Vérifiez alors les journaux pour voir si tout s'est bien déroulé.</p>
<p>&nbsp;</p>
<p>Voici donc comment j'ai procédé, il doit exister bien d'autres façons de faire, n'hésitez-pas à m'en faire part et/ou à améliorer ce que je présente ici.</p>
<h2>Documentation, ressources:</h2>
<p>Manuels de systemd: <a href="http://www.linuxcertif.com/man/5/systemd.exec/" target="_blank">systemd.exec</a>, <a href="http://www.linuxcertif.com/man/5/systemd.service/" target="_blank">systemd.service</a> et <a href="http://www.linuxcertif.com/man/5/systemd.timer/" target="_blank">systemd.timer</a>.<br />
Manuel de <a href="http://www.linuxcertif.com/man/2/ioprio_set/" target="_blank">ioprio_set</a>.<br />
<a href="https://mjanja.ch/2015/06/replacing-cron-jobs-with-systemd-timers/" target="_blank">Remplacer les cron jobs par des minuteries systemd</a> (en anglais).<br />
<a href="https://letsencrypt.org/getting-started/" target="_blank">Pour débuter avec Let's Encrypt</a> (en anglais).</p>
<p>Un brin de persévérance, un tonneau de tests et quelques couplets de corrections. ;)</p>
<p>&nbsp;</p>
