---
layout: post
status: publish
published: true
title: Clé USB avec Cobbler
author:
  display_name: Low Memory
  login: fernando
  email: fernando@trankil.info
  url: ''
author_login: fernando
author_email: fernando@trankil.info
wordpress_id: 185
wordpress_url: http://blog.trankil.info/?p=185
date: '2019-08-23 17:07:03 +0200'
date_gmt: '2019-08-23 16:07:03 +0200'
categories:
- Non_classé
tags:
- centos
- cobbler
comments: []
---
<p><a href="https://fr.wikipedia.org/wiki/Cobbler_%28logiciel%29">Cobbler</a> permet de créer des images ISO, soit pour une machine du réseau et finir l'installation, soit pour faire l'installation sans accès au réseau (en <strong>standalone</strong>).</p>
<p>Cela se fait simplement avec les commandes suivantes:</p>
<pre><code>cobbler buildiso  --iso=/mnt/data/generated.iso
</code></pre>
<p>ou</p>
<pre><code>cobbler buildiso  --standalone --distro centos7-x86_64 --iso=/mnt/data/standalone_generated.iso
</code></pre>
<p>Cette image peut être gravée sur un CD ou un DVD.</p>
<p>Pour utiliser cette image sur une clé USB, on utilise la commande suivante:</p>
<pre><code>isohybrid /mnt/data/generated.iso
</code></pre>
<p>ou</p>
<pre><code>isohybrid /mnt/data/standalone_generated.iso
</code></pre>
<p>L'image sera alors bootable sur une clé USB.</p>
