---
layout: post
status: publish
published: true
title: Installation de mes outils
author:
  display_name: Low Memory
  login: fernando
  email: fernando@trankil.info
  url: ''
author_login: fernando
author_email: fernando@trankil.info
wordpress_id: 181
wordpress_url: http://blog.trankil.info/?p=181
date: '2019-04-04 10:26:16 +0200'
date_gmt: '2019-04-04 09:26:16 +0200'
categories:
- Non_classé
tags: []
comments: []
---
<h1>Installation et configuration de mes outils habituels</h1>
<h2>Installation</h2>
<pre>apt install mr vcsh vim zsh tmux</pre>
<h2>Configuration</h2>
<pre>vcsh clone git@gitlab.trankil.info:LowMemory/mr.git
<em>[…]</em>

cd .config/mr/config.d
ln -s ../available.d/vim.vcsh .
ln -s ../available.d/zsh.vcsh .
cd
mr update
<em>[…]</em></pre>
