---
layout: post
status: publish
published: true
title: Extensions Thunderbird v68+
author:
  display_name: Low Memory
  login: fernando
  email: fernando@trankil.info
  url: ''
author_login: fernando
author_email: fernando@trankil.info
wordpress_id: 190
wordpress_url: http://blog.trankil.info/?p=190
date: '2019-11-18 12:49:46 +0100'
date_gmt: '2019-11-18 11:49:46 +0100'
categories:
- Non_classé
tags: []
comments: []
---
<p>Pour ne pas rechercher à chaque fois: je note ici comment j\'ai résolu mes soucis d\'installations d\'extensions depuis que je suis passé à Thunderbird version 68.</p>
<ol>
<li>Autoriser les applications non vérifiée dans Thunderbird: dans le « about:config », passer xpinstall.signatures.required à false</li>
<li>Télécharger les fichiers XPI correspondants:
<ul>
<li>pour <a href="https://gitlab.com/CardBook/CardBook/uploads/b8ce581b1cc7589710ccb51acacbba50/cardbook-43.0-tb.xpi">CardBook</a></li>
<li>pour <a href="https://grammalecte.net/grammalecte/moz/French-GC-TB%40grammalecte.net-v1.5.0.xpi">Grammalecte</a></li>
<li>pour <a href="https://sourceforge.net/p/mailredirect/download/ci/master/tree/mailredirect-0.10.6-sm%2Btb.xpi?format=raw">Mail Redirect</a></li>
</ul>
</li>
<li>Pour Sieve: j'ai dû recompiler puis copier les fichiers tel qu\'indiqué sur <a href="https://github.com/thsmi/sieve/issues/171#issuecomment-554897079">ce commentaire (en anglais)</a></li>
</ol>
