---
layout: post
status: publish
published: true
title: Ajout du paquet imapsync dans debian
author:
  display_name: Low Memory
  login: fernando
  email: fernando@trankil.info
  url: ''
author_login: fernando
author_email: fernando@trankil.info
wordpress_id: 201
wordpress_url: https://blog.trankil.info/?p=201
date: '2023-09-03 16:17:34 +0200'
date_gmt: '2023-09-03 15:17:34 +0200'
categories:
- Debian
- Debian_France
tags:
- DebianPlanet
comments: []
---
<h2>Contexte</h2>
<p>Avec la <a href="https://www.debian.org/News/2023/20230610">sortie de Debian 12</a>, en juin dernier, je dois mettre à jour un serveur de dépôts de paquets.</p>
<p>Comme ce serveur contient un seul paquet (<a href="https://imapsync.lamiral.info/">imapsync</a>, qui n'est pas dans debian), il a été décidé de supprimer ce serveur de dépôt et de directement passer par le code source amont lorsqu'on a besoin d'utiliser cet outil au boulot.</p>
<p><a href="https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=919587">Du travail a déjà été fait pour inclure imapsync dans debian</a>, c'est d'ailleurs ce qui m'a permis de créer un paquet en août 2021.</p>
<p>Participer à mettre ce paquet directement dans Debian, c'est un peu ma façon de renvoyer l'ascenseur.</p>
<h2>Reprise du travail</h2>
<p>J'ai repris le travail <a href="https://salsa.debian.org/RAPS/imapsync">là où la personne précédente l'a laissée</a>.</p>
<p>Et j'ai indiqué ce que j'ai fait sur le bogue de suivi « <em>Intent To Package</em> » #919587: <a href="https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=919587">https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=919587</a></p>
<p>J'ai ensuite construit le paquet et je l'ai envoyé sur debian mentors.</p>
