---
layout: default
---
<h1>{{ page.title }}</h1>
<h2>{{ page.description }}</h2>

<ul>
    {% for post in site.categories[page.category] %}
    <li><a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
</ul>


