<!DOCTYPE html>
<html>
<head>

  <meta charset="UTF-8">
  <title>{{ page.title }}</title>
  <meta name="viewport" content="width=device-width">

  <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <link href="/assets/css/style.css" rel="stylesheet" />
  <link href="/assets/css/colors-dark.css" rel="stylesheet" />

</head>

<body>



  <header id="header">
    <h1><a href="/"><i class="icon-sun"></i> {{ site.name }}</a></h1>
    <p>{{ site.description }}</p>
  </header>



  <div id="page">



    <div id="sidebar">
      <nav>
        Menu
          <ul>
            <li><a href="/">Accueil</a></li>
            <li><a href="/categories">Catégories</a></li>
            <li><a href="/archives">Archives</a></li>
            <li><a href="/about">À propos</a></li>
            <li><a href="/ma-liste-aux-rois-mages-et-au-pere-noel/">Pour m'offrir</a></li>
            <li><a href="https://www.debian.org">Debian</a></li>
            <li><a href="/feed.xml">RSS Feed</a></li>
          </ul>
      </nav>
    </div>



    <div id="content">
      {{ content }}
    </div>



  </div>



  <footer id="footer">
    <p class="copyright">Copyright &copy; {{ site.time | date: '%Y' }} {{ site.name }}. Powered by <a href="http://jekyllrb.com">Jekyll</a>, and <a href="https://github.com/mattvh/solar-theme-jekyll">Solar Theme for Jekyll</a></p>
  </footer>


</body>
</html>
